#!/usr/bin/make -f

VERSION=2_2_4_1
URL1=http://localhost/remote-files/arasuite_unix_$(VERSION).sh
URL2=http://localhost/remote-files/arasuite_unix_$(VERSION)_dot.tar.gz
URL3=http://localhost/remote-files/dot_arasuite.tar.gz

%:
	dh $@


override_dh_clean:
	dh_clean
	rm -rf build2


override_dh_auto_build:
	mkdir -p build2
	if [ ! -e build2/arasuite.sh ] && [ -e ./arasuite.sh ]; then (cp -v ./arasuite.sh ./build2/arasuite.sh); fi
	if [ ! -e build2/arasuite.sh ]; then (cd build2 && curl -L -O $(URL1) && mv *.sh arasuite.sh); fi
	if [ ! -e build2/arasuite.tar.gz ]; then (cd build2 && curl -L -O $(URL2) && mv arasuite_unix*.tar.gz arasuite.tar.gz); fi

	if [ ! -e build2/dot_arasuite.tar.gz ]; then (cd build2 && curl -L -O $(URL3) ); fi

	# install
	bash build2/arasuite.sh -q -dir "/opt/AraSuite"

	# copy to build
	cp -ra /opt/AraSuite build2/

	# uninstall
	/opt/AraSuite/uninstall -q	

	# 500 MB of data
	tar -zxvf build2/arasuite.tar.gz -C build2/

	rm -rf build2/opt/AraSuite/.arasuite/
	cd build2/opt/AraSuite && tar -zxvf ../../dot_arasuite.tar.gz
	mv build2/opt/AraSuite/.arasuite/ build2/AraSuite/dot_arasuite

	rm -rf build2/opt

	find build2/AraSuite/ -type d -exec chmod 0755 {} \;
	find build2/AraSuite/ -type f -exec chmod 0644 {} \;
	find build2/AraSuite/ -type f -name "*App" -exec chmod 0755 {} \;

