[Desktop Entry]
Type=Application
Name=Processing 3
GenericName=Java animation and interaction IDE
Exec=processing3
Icon=processing3
Terminal=false
Categories=Development;Engineering;Electronics;

