[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Install and use manual
Name[es]=Manual de instalación y uso (Internet)
Comment=Reference MAX guide 
Comment[es]=Guía de referencia
Type=Application
Exec=x-www-browser https://ayuda.educa.madrid.org/shelves/max-\(madrid_linux\)
Icon=menu-max-manual
Terminal=false
Categories=MaX;
