[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Install and use manual (Local)
Name[es]=Manual de instalación y uso (Local)
Comment=Reference MAX guide offline mode
Comment[es]=Guía de referencia para consultar de forma offline
Type=Application
Exec=firefox file:///usr/share/max-manuales/index.htm
Icon=menu-max-manual
Terminal=false
Categories=MaX;
