[Desktop Entry]
Encoding=UTF-8
Name=Descartes offline
Icon=descartes
Exec=descartes
Terminal=false
Type=Application
Categories=Application;Education
StartupNotify=false
TryExec=java
