[Desktop Entry]
Name=TICO AraSuite
Comment=Tableros interactivos de comunicación
Exec=/bin/bash -c "cd /opt/AraSuite/TICO; ./TICOApp"
Icon=TICOApp
Terminal=false
Type=Application
Categories=Accessibility;Education;Application
StartupNotify=true
