[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Guía de referencia
Comment=Guía de referencia
Type=Application
Exec=evince /usr/share/max-manuales/Guia_Referencia_MAX5.pdf
Icon=/usr/share/icons/crystalsvg/48x48/apps/acroread.png
X-GNOME-DocPath=
Terminal=false
