[Desktop Entry]
Type=MimeType
MimeType=application/vnd.adobe.xfd+xml
Icon=netscape_doc
Comment=Netscape Adobe Reader 7.0
X-KDE-AutoEmbed=true
X-KDE-nsplugin=true
Patterns=*.xfd
Name=Adobe FormFlow99 Data File
