#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

UBUNTU=usr/share/dpsyco/skel/usr/share/keyrings/ubuntu-archive-keyring.gpg
MAX=usr/share/keyrings/max-archive-keyring.gpg

GPG_GET=gpg --list-options show-keyring
KEY_MAX=$(shell $(GPG_GET) $(MAX)|awk '/^pub/ {print $$2}'| awk -F'/' '{print $$2}')
KEY_UBUNTU=$(shell $(GPG_GET) $(UBUNTU)|awk '/^pub/ {print $$2}'| awk -F'/' '{print $$2}' | sed 's/\n//g')

build/max-keyring::
	@if [ ! -f build-stamp ]; then \
		gpg --import < $(UBUNTU); \
		gpg --import < $(MAX); \
		rm -f $(UBUNTU); \
		gpg --export $(KEY_MAX) $(KEY_UBUNTU) > $(UBUNTU); \
	fi
	touch build-stamp

binary-install/max-keyring::
	# clean svn dirs
	find $(CURDIR)/debian/max-keyring -type d -name .svn | xargs rm -rf --
