Source: max-netboot-server
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.4

Package: max-netboot-server
Architecture: all
#Depends: syslinux, atftpd, dhcp3-server, tcos, backharddi-net
Depends: syslinux, dnsmasq | tcos-tftp-dhcp, tcos
Description: Configure MaX as netboot server
 Contains:
  * Configuration of DHCP server
  * Configuration of ATFTPD server (as daemon)
  * Neutral PXES image to boot TCOS or BackHarddi

