[Desktop Entry]
Encoding=UTF-8
Name=OpenJDK Java Web Start
Comment=OpenJDK Java Web Start
TryExec=/usr/bin/javaws.max
Exec=javaws.max
Terminal=false
Type=Application
Icon=openjdk-6
Categories=Application;Network;
NotShowIn=GNOME;XFCE;KDE;
NoDisplay=true
