Source: tcos-configurator
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: tcos-configurator
Architecture: all
Depends: max-desktop-common, max-terminales
Description: PyGTK tool to configure some needed services to get a TCOS server
 Contains:
  * tcos-configurator

