Source: max-lxde-default-settings
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.1.0), cdbs
Standards-Version: 3.8.1

Package: max-lxde-default-settings
Depends: dmz-cursor-theme, openbox-themes
Architecture: all 
Description: LXDE default settings MAX 5.0
 Contains default LXDE settings for Ubuntu based MaX 5.0 distro
