body { 
  margin: 3px; 
  border: 1px solid #999999; 
  padding: 0px;
}

body.panel { 
  background-color: #DDDDDD; 
}


body, td, a, input, select { 
  font-family: Tahoma, Verdana; 
  font-size: 8pt; 
}


.tab_0 {
  border-bottom: 2px solid #999999;
}

.tab_l {
  border-top: 1px dashed #999999;
  border-left: 1px dashed #999999;
  border-bottom: 2px solid #999999;
  text-align: center;
}

.tab_r {
  border-top: 1px dashed #999999;
  border-right: 1px dashed #999999;
  border-bottom: 2px solid #999999;
  text-align: center;
}

.tab_s1 {
  font-size: 1px;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  border-right: 2px solid #999999;
}

.tab_s2 {
  border-left: 2px solid #999999;
  border-right: 2px solid #999999;
  font-weight: bold;
  text-align: center;
}

a:link.tab, a:visited.tab {
  text-decoration: none;
  color: navy;
}

a:hover.tab {
  text-decoration: underline;
  color: blue;
}

