[Desktop Entry]
Version=1.0
Name=Music Blocks
Exec=musicblocks
Terminal=false
Type=Application
Icon=musicblocks
Categories=AudioVideo;Audio;Development;
