[Desktop Entry]
Encoding=UTF-8
Name=Comunidad Bilingue
Comment=comunidadbilingue.educa2.madrid.org
TryExec=/usr/bin/firefox
Exec=firefox http://comunidadbilingue.educa2.madrid.org/
Icon=menu-educa-bilingue
StartupNotify=true
Terminal=false
Type=Application
Categories=language
