[Desktop Entry]
Encoding=UTF-8
Name=Ayuda EducaMadrid
Name[es]=Ayuda EducaMadrid
Comment=Enlace a la documentación de ayuda de EducaMadrid   
Exec=firefox https://documentacion.educa.madrid.org
Icon=menu-edu-documentacion
StartupNotify=true
Terminal=false
Type=Application
Categories=EduEnlaces;EducaMAdrid;
