[Desktop Entry]
Encoding=UTF-8
Name=InfoPitágoras
Comment=Info Pitágoras
Exec=x-www-browser http://infopitagoras.educa.madrid.org/zprivada/login.php
Icon=max-menu-infopitagoras
StartupNotify=true
Terminal=false
Type=Application
Categories=EducaMadrid;
