[Desktop Entry]
Encoding=UTF-8
Name=EMPieza
Name[es]= EMPieza
Comment=EMPieza
Exec=firefox https://empieza.educa.madrid.org/
Icon=empieza
StartupNotify=true
Terminal=false
Type=Application
Categories=EduEnlaces;EducaMadrid;
