#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Portal EducaMadrid 
Name[es]=Portal EducaMadrid
Comment=Enlace al Portal de EducaMadrid 
Comment[es]=Enlace al portal de EducaMadrid
Exec=x-www-browser https://www.educa2.madrid.org/web/educamadrid/
Icon=ServiciosEducativos
StartupNotify=true
Terminal=false
Type=Application
Categories=EduEnlaces;
