[Desktop Entry]
Encoding=UTF-8
Name=Generador de boletines
Name[es]=Generador de boletines
Comment=Enlace web a la nube de EducaMadrid
Exec=x-www-browser https://boletines.educa.madrid.org/admin/index.php
Icon=menu-edu-boletin
StartupNotify=true
Terminal=false
Type=Application
Categories=EduEnlaces;EducaMAdrid;
