[Desktop Entry]
Encoding=UTF-8
Name=EducaSAAC
Comment=educasaac.educa.madrid.org
TryExec=/usr/bin/firefox
Exec=firefox http://educasaac.educa.madrid.org/
Icon=menu-educa-educasaac
StartupNotify=true
Terminal=false
Type=Application
Categories=edu-inclusion
