[Desktop Entry]
Encoding=UTF-8
Name=Buscador de aulas virtuales
Name[es]=Buscador de aulas virtuales
Comment=Enlace al buscador de aulas virtuales  de EducaMadrid
Exec=firefox https://www.educa2.madrid.org/educamadrid/aula-virtual
Icon=menu-edu-buscador
StartupNotify=true
Terminal=false
Type=Application
Categories=EduEnlaces;
