[Desktop Entry]
Encoding=UTF-8
Name=Florence Virtual Keyboard
Name[es]=Teclado virtual Florence
Name[fr]=Clavier virtuel Florence
Name[it]=TastieraVirtuale Florence
Comment=Florence Virtual Keyboard
Comment[es]=Teclado virtual Florence
Comment[fr]=Clavier virtuel Florence
Comment[it]=TastieraVirtuale Florence
TryExec=florence
Exec=florence
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/florence.svg
Categories=Application;Whiteboard;

