#!/usr/bin/env xdg-open

[Desktop Entry]
Name[es]=Salvapantallas
Name=Screensaver
Comment[es]=Configure el salvapantallas
Comment=Cambia las propiedades del salvapantallas
Icon=preferences-desktop-screensaver
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Exec=mate-screensaver-preferences
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[es]=MATE;salvapantallas;preferencias;
Keywords=MATE;screensaver;preferences;
OnlyShowIn=MATE;
StartupNotify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-screensaver
X-MATE-Bugzilla-Component=general

