#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Qucs-S
Name[es]=Qucs-S
Comment=An Universal GUI for Circuit Simulators
Comment[es]=Programa de simulación de circuitos
Exec=qucs-s %U
Icon=qucs-s
Terminal=false

Type=Application
Categories=Education;Electronics
StartupNotify=false
