[Desktop Entry]
Encoding=UTF-8
Name=EducaMadrid MAX
Name[es]=MAX en EducaMadrid
Comment=EducaMadrid link 
Comment[es]= Enlace a la página oficial de MAX en EducaMadrid
Exec=firefox http://www.educa2.madrid.org/web/max/
Icon=menu-max-web
StartupNotify=true
Terminal=false
Type=Application
Categories=MAX;
