[Desktop Entry]
Version=1.0
Name=Configure autologin
Name[es]=Configurar entrada automática
Exec=/usr/sbin/max-autologin
Terminal=false
Type=Application
Icon=application-community.png
Categories=GNOME;Settings;System;DesktopSettings
