#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Visor de PDF Atril
Name[es]=Visor de PDF Atril
GenericName=Document Viewer
Comment=Visor de documentos PDF
TryExec=atril
Exec=atril %U
StartupNotify=true
Terminal=false
Type=Application
Icon=atril
X-MATE-DocPath=
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=atril
X-MATE-Bugzilla-Component=BugBuddyBugs
X-MATE-Bugzilla-Version=1.12.2
Categories=Office;
Keywords=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/x-xzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;image/*;application/oxps;application/vnd.ms-xpsdocument;application/epub+zip;
