[Desktop Entry]
Encoding=UTF-8
Name=TecnoRobot
Comment=TecnoRobot
Exec=x-www-browser https://tecnorobot.educa2.madrid.org
Icon=menu-tecnoRobot
StartupNotify=true
Terminal=false
Type=Application
Categories=stem;
