[Desktop Entry]
Enconding=UTF-8
Name=Innovación y formación
Comment=Innovación y formación  
Exec=firefox https://innovacionyformacion.educa.madrid.org/ 
Icon=innoFormacion
StartupNotify=true
Terminal=false
Type=Application
Categories=menuProfesor;
