[Desktop Entry]
Enconding=UTF-8
Name=Protección de datos 
Comment=Protección de datos  
Exec=firefox https://dpd.educa2.madrid.org 
Icon=dpd150
StartupNotify=true
Terminal=false
Type=Application
Categories=menuProfesor;
