#!/usr/bin/env xdg-open
[Desktop Entry]
TryExec=/usr/bin/mscore
Exec=mscore
GenericName=mscore
Hidden=false
Icon=mscore
Name=MuseScore
Name[es]=MuseScore (editor de partituras)
Comment=WYSIWYG Music score typesetter
Comment[es]=Crea, escucha e imprime tus partituras
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
Categories=Application;Education;
