[Desktop Entry]
Name=OpenBoard
Comment=OpenBoard Whiteboard
Exec=OpenBoard
Icon=OpenBoard
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/ubz
Categories=EduProgramas;PDI;
