#!/usr/bin/env xdg-open
[Desktop Entry]
Enconding=UTF-8
Name=REA Andalucía
Comment=REA Andalucía
Exec=x-www-browser https://www.juntadeandalucia.es/educacion/portals/web/transformacion-digital-educativa/rea
Icon=AndaluciaREA
StartupNotify=true
Terminal=false
Type=Application
Categories=max-rea;
