#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Transmission
GenericName=BitTorrent Client
X-GNOME-FullName=Transmission BitTorrent Client
X-GNOME-FullName[ar]=ترانزميشن، عميل «بت تورنت»
X-GNOME-FullName[ast]=Cliente BitTorrent Transmission
X-GNOME-FullName[be]=BitTorrent-кліент Transmission
X-GNOME-FullName[be@latin]=Transmisija, klijent BitTorrent
X-GNOME-FullName[bg]=BitTorrent клиент (Transmission)
X-GNOME-FullName[bn]=ট্রান্সমিশন BitTorrent ক্লায়েন্ট
X-GNOME-FullName[br]=Arval BitTorrent Transmission
X-GNOME-FullName[ca]=Client de BitTorrent Transmission
X-GNOME-FullName[ca@valencia]=Client de BitTorrent Transmission
X-GNOME-FullName[cs]=BitTorrent klient Transmission
X-GNOME-FullName[da]=Transmission BitTorrent-klient
X-GNOME-FullName[de]=Transmission BitTorrent-Programm
X-GNOME-FullName[el]=Transmission πελάτης BitTorrent
X-GNOME-FullName[en_AU]=Transmission BitTorrent Client
X-GNOME-FullName[en_CA]=Transmission BitTorrent Client
X-GNOME-FullName[en_GB]=Transmission BitTorrent Client
X-GNOME-FullName[eo]=Transmission BitTorrent-Kliento
X-GNOME-FullName[es]=Cliente de BitTorrent Transmission
X-GNOME-FullName[et]=Transmission, BitTorrenti klient
X-GNOME-FullName[eu]=Transmission BitTorrent bezeroa
X-GNOME-FullName[fi]=Transmission – BitTorrent-sovellus
X-GNOME-FullName[fo]=Transmission BitTorrent-viðskiftari
X-GNOME-FullName[fr]=Client BitTorrent Transmission
X-GNOME-FullName[gl]=Cliente de BitTorrent Transmission
X-GNOME-FullName[he]=Transmission - תוכנת ביטורנט
X-GNOME-FullName[hi]=ट्रांसमिशन बिट-टोरेंट ग्राहक
X-GNOME-FullName[hr]=Transmission BitTorrent klijent
X-GNOME-FullName[hu]=Transmission Bittorrent kliens
X-GNOME-FullName[is]=Torrent flutningur
X-GNOME-FullName[it]=Client BitTorrent Transmission
X-GNOME-FullName[ja]=Transmission BitTorrent クライアント
X-GNOME-FullName[kk]=Transmission BitTorrent қолданбасы
X-GNOME-FullName[ko]=트랜스미션 비트토렌트 클라이언트
X-GNOME-FullName[ku]=Daxwazkera BitTorrent Transmission
X-GNOME-FullName[ky]=Transmission BitTorrent-клиенти
X-GNOME-FullName[li]=Transmission BitTorrent-client
X-GNOME-FullName[lt]=„BitTorrent“ klientinė programa „Transmission“
X-GNOME-FullName[lv]=Transmission BitTorrent klients
X-GNOME-FullName[mk]=Transmission клиент за BitTorrent
X-GNOME-FullName[ms]=Klien BitTorrent Transmission
X-GNOME-FullName[nb]=Transmission BitTorrent-klient
X-GNOME-FullName[nl]=Transmission BitTorrent-client
X-GNOME-FullName[nn]=Transmission BitTorrent-klient
X-GNOME-FullName[oc]=Client BitTorrent Transmission
X-GNOME-FullName[pl]=Klient sieci BitTorrent Transmission
X-GNOME-FullName[pt]=Transmission, Cliente BitTorrent
X-GNOME-FullName[pt_BR]=Cliente BitTorrent Transmission
X-GNOME-FullName[ro]=Client BitTorrent Transmission
X-GNOME-FullName[ru]=BitTorrent-клиент Transmission
X-GNOME-FullName[si]=ට්‍රාන්ස්මිෂන් බිට්ටොරන්ට් සේවාදායක
X-GNOME-FullName[sk]=Transmission - klient siete BitTorrent
X-GNOME-FullName[sl]=Odjemalec BitTorrent Transmission
X-GNOME-FullName[sq]=Transmission BitTorrent Klient
X-GNOME-FullName[sr]=Трансмисија — БитТорент програм
X-GNOME-FullName[sv]=BitTorrent-klienten Transmission
X-GNOME-FullName[te]=ట్రాన్స్‍మిషన్ బిట్ టోరెంట్ క్లయింటు
X-GNOME-FullName[th]=Transmission โปรแกรม BitTorrent
X-GNOME-FullName[tr]=Transmission BitTorrent İstemcisi
X-GNOME-FullName[ug]=Transmission بىتتوررېنت خېرىدارى
X-GNOME-FullName[uk]=BitTorrent-клієнт Transmission
X-GNOME-FullName[vi]=Trình khách BitTorrent Transmission
X-GNOME-FullName[zh_CN]=Transmission BitTorrent 客户端
X-GNOME-FullName[zh_TW]=Transmission BitTorrent 用戶端
Comment=Download and share files over BitTorrent
Comment[es]=Descarga y comparte archivos sobre BitTorrent
Exec=transmission-gtk %U
Icon=transmission
Terminal=false
TryExec=transmission-gtk
Type=Application
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
Actions=Pause;Minimize;

[Desktop Action Pause]
Name=Start Transmission with All Torrents Paused
Exec=transmission-gtk --paused

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=transmission-gtk --minimized
