Source: max-tcos
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.4

Package: max-tcos-alumno
Architecture: all
Depends: tcos-standalone, vlc
Description: Configuración de tcos-standalone para equipos de alumnos
 Contiene:
  * Imagen de bloqueo lockscreen
  * Mensajes notify

Package: max-tcos-profesor
Architecture: all
Depends: tcosmonitor ( >= 0.2.1.max1), vlc
Description: Configuración de tcosmonitor para equipos de profesores
 Contiene:
  * Parches para vlc sin MP3

Package: max-terminales
Architecture: all
Conflicts: max-tcos-alumno
Provides: max-tcos-alumno
Replaces: max-tcos-alumno
Depends: max-netboot-server, tcos-configurator, tcosconfig, paman, pavumeter, pavucontrol, max-tcos-profesor, xfs, xfstt
Description: The Max NETBOOT server metapackage
 This package depends on max-server and max-netboot-server
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
