[Desktop Entry]
Version=1.0
Name=BlocklyDuino
Exec=blocklyduino
Terminal=false
Type=Application
Icon=blocklyduino
Categories=Development;Engineering;Electronics;

