[Desktop Entry]
Categories=Application;Office;Database
Comment=Administrar bases de datos, crear consultas e informes para controlar y editar información con Base.
Encoding=UTF-8
Exec=ooffice -base %U
GenericName=Base de datos
Icon=ooo-base
InitialPreference=2
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;application/x-kdeuser1
Name=OpenOffice.org Database
StartupNotify=true
Terminal=false
Type=Application
Version=0.92
X-KDE-Protocols=file,http,smb,ftp,webdav
X-SuSE-translate=true
