[Desktop Entry]
Encoding=UTF-8
Name=Omnitux
Name[es]=Omnitux
GenericName[es]=Juegos educativos de actividades variadas
Comment[es]=Juego educativo para niños desde 2 a 10 años
Exec=omnitux
Icon=omnitux
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
