.moCssTree {height:100%; width:100%; overflow:auto; border:1px solid #999999; padding:3px; white-space:nowrap;}
.moCssTree img.Icon {cursor:pointer; vertical-align:middle;}
.moCssTree ul {padding:0;}
.moCssTree li {list-style:none; padding:0;}
.Collapsed ul {display:none;}
.Topic img.Icon {background:none; cursor:default;}

#moCssTree ul {margin:0 0 0 0px;}
#moCssTree a:link, #moCssTree a:visited {color:Navy; text-decoration:none; }
#moCssTree a:hover {color:Navy; text-decoration:underline; }
#moCssTree a.Current, #moCssTree a.Current:visited {color:Navy; font-weight:bold;}
#moCssTree ul li ul {margin:0 0 0 20px;}
#moCssTree img.Icon {width:20px;height:18px;}
#moCssTree .Expanded  img.Icon {background:url(images/-.gif) no-repeat 0 1px;}
#moCssTree .Collapsed img.Icon {background:url(images/+.gif) no-repeat 0 1px;}
#moCssTree .Topic     img.Icon {background:url(images/=.gif) no-repeat 0 1px;}
