[Wallpaper]
Encoding=UTF-8
File=kubuntu-wallpaper.jpg
Name=Kubuntu Wallpaper from http://djmattricks.deviantart.com/art/Aquapattern-46516380
ImageType=pixmap
