Source: backharddi-ng-kernel
Section: utils
Priority: optional
Maintainer: Pedro Peña Pérez <pedro.pena@open-phoenix.com>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 4), cdbs

Package: backharddi-ng-kernel-i386
Architecture: all
Description: Linux Kernel for Backharddi NG
