#!/usr/bin/make -f

#export DH_VERBOSE=1

DEBIAN_ARCH = $(shell dpkg-architecture -qDEB_BUILD_ARCH)

build: build-stamp
build-stamp:
	dh_testdir

clean:
	dh_testdir
	dh_testroot

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs usr/lib/Adobe/Reader8/bin usr/lib/Adobe/Reader9/bin

	cp acroread-en-8.1.7 debian/acroread-debian-files/usr/lib/Adobe/Reader8/bin/acroread-en
	cp acroread-en-9.3.0 debian/acroread-debian-files/usr/lib/Adobe/Reader9/bin/acroread-en
	dh_install acroread		usr/bin
	dh_install debian/acroread.xpm usr/share/pixmaps
	dh_install AcroReloadPDF.js	usr/lib/Adobe/Reader8/Reader/JavaScripts
	dh_install AcroReloadPDF.js	usr/lib/Adobe/Reader9/Reader/JavaScripts

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
	dh_installmime
	dh_installman acroread.1
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
