[Desktop Entry]
Name=Shared Folders
Name[ar]=المجلدات المشتركة
Name[be]=Агульныя тэчкі
Name[be@latin]=Ahulnyja katalohi
Name[bg]=Споделени папки
Name[bn]=শেয়ার করা ফোল্ডার
Name[bn_IN]=শেয়ার করা ফোল্ডার
Name[ca]=Carpetes compartides
Name[cs]=Sdílené složky
Name[cy]=Plygellau wedi'u Rhannu
Name[da]=Delte mapper
Name[de]=Freigegebene Ordner
Name[dz]=རུབ་སྤྱོད་འབད་མི་ སྣོད་འཛིན་ཚུ།
Name[el]=Κοινόχρηστοι φάκελοι
Name[en_CA]=Shared Folders
Name[en_GB]=Shared Folders
Name[es]=Carpetas compartidas
Name[et]=Jagatud kataloogid
Name[eu]=Partekatutako karpetak
Name[fa]=پوشه‌های به اشتراک گذاشته شده
Name[fi]=Jaetut kansiot
Name[fr]=Dossiers partagés
Name[gl]=Cartafoles compartidos
Name[gu]=વહેંચાયેલ ફોલ્ડરો
Name[he]=תיקיות משותפות
Name[hi]=साझेदारी फोल्डर
Name[hu]=Megosztott mappák
Name[id]=Folder Terkongsi
Name[it]=Cartelle condivise
Name[ja]=フォルダの共有
Name[ka]=გაზიარებული დასტები
Name[ko]=공유 폴더
Name[ku]=Pêristên ku têne parvekirin
Name[lt]=Viešinami aplankai
Name[lv]=Koplietošanas mapes
Name[mg]=Lahatahiry iraisana
Name[mk]=Споделени папки
Name[ml]=ഷെയര്‍ഡ് ഫോള്‍ഡറുകള്‍
Name[nb]=Delte mapper
Name[nl]=Gedeelde mappen
Name[oc]=Repertòris partejats
Name[or]=ସହଭାଗ ଫୋଲଡର
Name[pa]=ਸਾਂਝ ਫੋਲਡਰ
Name[pl]=Foldery współdzielone
Name[pt]=Pastas Partilhadas
Name[pt_BR]=Pastas compartilhadas
Name[ro]=Directoare partajate
Name[ru]=Опубликованные папки
Name[si]=හවුල් බහලුම්
Name[sk]=Zdieľané priečinky
Name[sq]=Kartelat e përbashkëta
Name[sr]=Дељени директоријуми
Name[sr@Latn]=Deljeni direktorijumi
Name[sv]=Delade mappar
Name[ta]=பகிரப்பட்ட அடைவுகள்
Name[th]=โฟลเดอร์ใช้ร่วม
Name[tr]=Paylaşılan Klasörler
Name[uk]=Спільні теки
Name[vi]=Thư mục dùng chung
Name[zh_CN]=共享的文件夹
Name[zh_HK]=共享的資料夾
Name[zh_TW]=共享的資料夾
Comment=Configure which folders are available for your network neighborhood
Comment[ar]=أَضبط أي من المجلدات متوفر لجيرانك علي الشبكة
Comment[be]=Наладка тэчак, якія будуць даступныя для вашага сеткавага навакольля
Comment[be@latin]=Skanfihuruj katalohi, dastupnyja dla sietkavaha navakolla
Comment[bg]=Настройване на папките, които са налични във вашия мрежови комшолук
Comment[bn]=নেটওয়ার্ক পরিবেশে উপলব্ধ ফোল্ডার চিহ্নিত করুন
Comment[bn_IN]=নেটওয়ার্ক পরিবেশে উপলব্ধ ফোল্ডার চিহ্নিত করুন
Comment[ca]=Configura quines carpetes són visibles a altres ordinadors de la xarxa
Comment[cs]=Nastavit, které složky jsou k dispozici pro vaše okolní počítače
Comment[cy]=Cyflunio pa blygellau sydd ar gael ar gyfer eich rhwydwaith cyfagos
Comment[da]=Konfigurér hvilke mapper der skal være tilgængelige for dit netværk
Comment[de]=Stellen Sie hier ein, welche Ordner für andere Rechner in Ihrem Netzwerk sichtbar sind
Comment[dz]=ཁྱོད་ཀྱི་ཡོངས་འབྲེལ་ཁྱིམ་ཚང་གི་དོན་ལུ་ འཐོབ་ཚུགས་མི་སྣོད་འཛིན་ཚུ་ རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση των διαθέσιμων φακέλων στο δίκτυο
Comment[en_CA]=Configure which folders are available for your network neighbourhood
Comment[en_GB]=Configure which folders are available for your network neighborhood
Comment[es]=Configure qué carpetas están disponibles para su red local
Comment[et]=Võrgunaabritele jagavate kataloogide seadistamine
Comment[eu]=Konfiguratu zein karpoeta egongo diren eskuragarri zure sareko auzotarrentzako
Comment[fa]=پیکربندی کنید که کدام پوشه‌ها برای همسایگان شبکه‌ای شما قابل دسترسی هستند
Comment[fi]=Määrittele, mitkä kansiot näkyvät verkkoympäristössäsi
Comment[fr]=Configure les dossiers qui seront accessibles aux autres utilisateurs du réseau
Comment[gl]=Configure os cartafoles que están dispoñibles para outros usuarios 
Comment[gu]=તમારા નેટવર્કની પડોશમાં કયા ફોલ્ડરો તમારા માટે ઉપ્લબ્ધ છે તે રૂપરેખાંકિત કરો
Comment[he]=הגדר איזה תיקיות זמינות עבור שכונת הרשת שלך
Comment[hi]=आपके संजाल पड़ोस के लिये विन्यस्त करें कि कौन सा फोल्डर उपलब्ध है
Comment[hu]=A helyi hálózat számára elérhető mappák beállítása
Comment[id]=Konfigurasikan folder yang hendak dibuka aksesnya dalam jaringan
Comment[it]=Configura quali cartelle saranno disponibili in rete
Comment[ja]=お使いのネットワーク内で共有し利用できるフォルダを設定します
Comment[ka]=ქსელის გარემოცვაში გასაზიარებელი დასტები
Comment[ko]=네트워크에서 사용가능한 폴더 설정
Comment[ku]=Ji bo cîranên xwe yên toreyê peldankên guncav veava bike
Comment[lt]=Nurodykite, kurie aplankai yra prieinami Jūsų tinklo kaimynams
Comment[lv]=Konfigurēt mapes, kuras varētu būt pieejamas apkārtējam tīklam
Comment[mg]=Farito izay lahatahiry mety ampiasaina ho an'ny fivondronan-tsolosaina
Comment[mk]=Конфигурирајте кои папки да бидат достапни преку Вашата мрежа
Comment[ml]=അടുത്തുളള നെറ്റ്‍വര്‍ക്കുകള്‍ക്ക് ലഭ്യമാകുന്ന ഫോള്‍ഡറുകള്‍ ഏതെന്ന് ക്രമീകരിക്കുക
Comment[nb]=Konfigurer mapper som skal gjøres tilgjengelig for ditt nettverk
Comment[ne]=तपाइँको छिमेकी सञ्जालहरुको लागि भएका फोल्डरहरु कन्फिगर गर्नुहोस्  
Comment[nl]=Instellen welke mappen beschikbaar zijn in uw netwerkomgeving
Comment[or]=ଆପଣଙ୍କ ନେଟଓ୍ବାର୍କ ପଡୋଶୀରେ କେଉଁ ଫୋଲଜର ଗୁଡିକ ରହିବେ ସେଥିପାଇଁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਸੰਰਚਨਾ ਕਰੋ ਕਿ ਕਿਹੜੇ ਫੋਲਡਰ ਆਂਢ-ਗੁਆਂਢ ਨੂੰ ਉਪਲੱਬਧ ਹੋਣ
Comment[pl]=Konfiguruje, które foldery będą dostępne w otoczeniu sieciowym
Comment[pt]=Configurar que pastas estão disponíveis para a sua vizinhança de rede
Comment[pt_BR]=Configure quê pastas ficarão disponíveis para a sua rede
Comment[ro]=Specificaţi ce directoare să fie disponibil în reţeaua locală
Comment[ru]=Задать папки доступные для сетевого окружения
Comment[sk]=Nastaviť, ktoré priečinky sú dostupné pre vaše okolité počítače
Comment[sq]=Përcakto çfarë kartela janë në dispozicion për fqinjët tek rrjeti juaj
Comment[sr]=Подесите који директоријуми су доступни у локалној мрежи
Comment[sr@Latn]=Podesite koji direktorijumi su dostupni u lokalnoj mreži
Comment[sv]=Konfigurera vilka mappar som är tillgängliga för ditt nätverk
Comment[ta]=உங்கள் வலையமைப்பு அண்டை வீட்டுகாரர்களுக்கு எந்த அடைவுகள் கிடைக்கும் என வடிவமை
Comment[th]=กำหนดโฟลเดอร์ที่จะให้เครื่องเพื่อนบ้านในเครือข่ายใช้ร่วม
Comment[tr]=Ağ komşularınız için uygun olan klasörleri yapılandırın
Comment[uk]=Налаштувати які теки доступні для вашого мережного оточення
Comment[vi]=Cấu hình những thư mục nào công bố cho mạng cục bộ
Comment[xh]=Misa ukuba zeziphi na izigcini-zifayili ezikhoyo kuthungelwano lwasebumelwaneni
Comment[zh_CN]=配置哪些文件夹可共享给网络邻居
Comment[zh_HK]=設定那一個資料夾共享給你的網絡芳鄰
Comment[zh_TW]=設定那一個資料夾共享給您的網路芳鄰
Exec=shares-admin
Icon=gnome-fs-share
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=shares-admin
X-GNOME-Bugzilla-Version=2.20.0
StartupNotify=true
X-KDE-SubstituteUID=true
Encoding=UTF-8

