[Desktop Entry]
Encoding=UTF-8
Name=Sun Java 6 Web Start
Comment=Sun Java 6 Web Start
Exec=javaws.max
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/sun-java6.xpm
Categories=Application;Network;
MimeType=application/x-java-jnlp-file;
