[Desktop Entry]
Encoding=UTF-8
Exec=gnopernicus
Hidden=true
Icon=gnopernicus
Icon[es_ES]=gnopernicus
Name=Gnopernicus
Name[es_ES]=Gnopernicus
Terminal=false
Type=Application
Version=1.0
