[Desktop Entry]
Encoding=UTF-8
Exec=acroread "/usr/share/max-manuales/creditos_max40.pdf"
Icon=/usr/share/icons/crystalsvg/48x48/apps/acroread.png
Name=Créditos en MAX 4.0
Terminal=false
Type=Application
