[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/acroread "/media/disk/Area TIC/eduardo/Creditos de MaX 4.0.pdf"
Hidden=true
Icon=/usr/share/icons/crystalsvg/48x48/apps/acroread.png
Icon[es_ES]=/usr/share/icons/crystalsvg/48x48/apps/acroread.png
Name=Créditos en MAX 4.0
Name[es_ES]=Créditos en MAX 4.0
Terminal=false
Type=Application
