[Desktop Entry]
Categories=GNOME;GTK;Graphics;VectorGraphics;Viewer;
Comment=View multipage documents
Comment[ar]=اعرض مستندات متعددة
Comment[be@latin]=Čytaje šmatstaronkavyja dakumenty
Comment[be]=Прагляд разнастайных дакумэнтаў
Comment[bg]=Преглед на документи с много страници
Comment[bn]=বহুপৃষ্ঠাব্যাপী ডকুমেন্ট দেখুন
Comment[bn_IN]=একাধিক পৃষ্ঠাবিশিষ্ট ডকুমেন্ট দেখুন
Comment[br]=Gwelout teulioù gant meur a bajenn
Comment[ca]=Visualitzeu documents multi-pàgina
Comment[cs]=Zobrazovat dokumenty s více stranami
Comment[cy]=Gweld dogfennau aml-dudalen
Comment[da]=Vis dokumenter med flere sider
Comment[de]=Mehrseitige Dokumente anzeigen
Comment[dz]=སྣ་མང་ཤོག་ལེབ་ཡིག་ཆ་ཚུ་སྟོན།
Comment[el]=Προβολή εγγράφων πολλαπλών σελίδων
Comment[en_CA]=View multipage documents
Comment[en_GB]=View multi-page documents
Comment[es]=Ver documentos multipágina
Comment[et]=Mitmeleheküljeliste dokumentide vaatamine
Comment[eu]=Ikusi orri anitzeko dokumentuak
Comment[fa]=نمایش چندین نوشتار
Comment[fi]=Katsele monisivuisia asiakirjoja
Comment[fr]=Affiche les documents multipages
Comment[gl]=Ver documentos de varias páxinas
Comment[gu]=ઘણા દસ્તાવેજો જુઓ
Comment[he]=הצג מסמכים מרובי דפים
Comment[hi]=देखें बहुपेज दस्तावेज
Comment[hu]=Többoldalas dokumentumok megjelenítése
Comment[id]=Baca dokumen
Comment[it]=Visualizza documenti multi pagina
Comment[ja]=複数ページのドキュメントを表示します
Comment[ka]=მრავალგვერდიანი დოკუმენტების ჩვენება
Comment[ko]=다중 페이지 문서를 봅니다
Comment[ku]=Belgeyên pir-rûpelî nîşan bide
Comment[lt]=Peržiūrėti kelių puslapių dokumentams
Comment[lv]=Skatīt virākus dokumentus
Comment[mg]=Maneho tahirin-kevitra maro pejy
Comment[mk]=Види повеќе документи
Comment[ml]=അനവദി പേജുകളുളള രേഖ കാണുക
Comment[mr]=अनेक दस्तावेज बघा
Comment[nb]=Vis dokumenter
Comment[ne]=बहुपृष्ठ कागजात दृश्य गर्नुहोस्
Comment[nl]=Documenten met meerdere pagina's weergeven
Comment[nn]=Vis fleirsidedokument
Comment[or]=ଏକାଧିକ ପ୍ରୁଷ୍ଠା ବିଶିଷ୍ଟ ଦଲିଲକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਬਹੁ-ਸਫ਼ਾ ਦਸਤਾਵੇਜ਼ ਵੇਖੋ
Comment[pl]=Wyświetla wielostronicowe dokumenty
Comment[pt]=Visualizar documentos de múltiplas páginas
Comment[pt_BR]=Visualize documentos de múltiplas páginas
Comment[ro]=Vizualizarea în mai multe pagini
Comment[ru]=Просмотр многостраничных документов
Comment[sk]=Zobraziť viacstranové dokumenty
Comment[sl]=Poglejte večstranske dokumente
Comment[sq]=Shiko dokumentë shumfaqësh
Comment[sr@Latn]=Pregledajte višestranične dokumente
Comment[sr]=Прегледајте вишестраничне документе
Comment[sv]=Visa dokument med flera sidor
Comment[ta]=பல பக்க ஆவணங்களை பார்வையிடு
Comment[te]=అధికపుట  పత్రాలను దర్శించు
Comment[th]=ดูเอกสารแบบหลายหน้า
Comment[tr]=Çok sayfalı belgeleri göster
Comment[uk]=Перегляд багатосторінкових документів
Comment[vi]=Xem tài liệu đa trang
Comment[wa]=Vey des documints multi-pådje
Comment[zh_CN]=查看多页文档
Comment[zh_HK]=閱讀文件
Comment[zh_TW]=閱讀文件
Exec=evince %U
GenericName=Document Viewer
GenericName[ar]=عارض المستندات
GenericName[be@latin]=Ahladalnik dakumentaŭ
GenericName[be]=Праглядальнік дакумэнтаў
GenericName[bg]=Преглед на документи
GenericName[bn]=ডকুমেন্ট প্রদর্শক
GenericName[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা
GenericName[br]=Lenner dielloù
GenericName[ca]=Visualitzador de documents
GenericName[cs]=Prohlížeč dokumentů
GenericName[cy]=Gwelydd Dogfennau
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentenbetrachter
GenericName[dz]=ཡིག་ཆ་མཐོང་བྱེད།
GenericName[el]=Εφαρμογή προβολής εγγράφων
GenericName[en_CA]=Document Viewer
GenericName[en_GB]=Document Viewer
GenericName[es]=Visor de documentos
GenericName[et]=Dokumendinäitaja
GenericName[eu]=Dokumentu ikustailea
GenericName[fa]=نمایشگر نوشتار
GenericName[fi]=Asiakirjakatselin
GenericName[fr]=Visionneur de documents
GenericName[gl]=Visualizador de documentos
GenericName[gu]=દસ્તાવેજ દર્શક
GenericName[he]=מציג מסמכים
GenericName[hi]=लेखपत्र प्रदर्शक
GenericName[hu]=Dokumentummegjelenítő
GenericName[id]=Pembaca Dokumen
GenericName[it]=Visualizzatore documenti
GenericName[ja]=ドキュメント・ビューア
GenericName[ka]=დოკუმენტების მნახველი
GenericName[ko]=문서 보기
GenericName[ku]=Nîşanderê Belgeyan
GenericName[lt]=Dokumentų peržiūros programa
GenericName[lv]=Dokumenta skatītājs
GenericName[mg]=Mpaneho tahirin-kevitra
GenericName[mk]=Прегледувач за документи
GenericName[ml]=രേഖ നിരീക്ഷകന്‍
GenericName[mr]=दस्तावेज दर्शक
GenericName[nb]=Dokumentvisning
GenericName[ne]=कागजात दृश्यक
GenericName[nl]=Documentenviewer
GenericName[nn]=Dokumentframsynar
GenericName[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Visualizador de Documento
GenericName[pt_BR]=Visualizador de Documentos
GenericName[ro]=Vizualizare document
GenericName[ru]=Просмотр документов
GenericName[sk]=Prehliadač dokumentov
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sq]=Shikues dokumentesh
GenericName[sr@Latn]=Pregledač dokumenata
GenericName[sr]=Прегледач докумената
GenericName[sv]=Dokumentvisare
GenericName[ta]=ஆவண காட்டி
GenericName[te]=పత్ర దర్శిని
GenericName[th]=โปรแกรมดูเอกสาร
GenericName[tr]=Belge Görüntüleyici
GenericName[uk]=Перегляд документів
GenericName[vi]=Bộ xem tài liệu
GenericName[wa]=Håyneu di documints
GenericName[zh_CN]=文档查看器
GenericName[zh_HK]=文件檢視器
GenericName[zh_TW]=文件檢視器
Icon=evince
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;image/*;application/vnd.sun.xml.impress;application/vnd.oasis.opendocument.presentation;
Name=Document Viewer
Name[ar]=عارض المستندات
Name[be@latin]=Ahladalnik dakumentaŭ
Name[be]=Праглядальнік дакумэнтаў
Name[bg]=Преглед на документи
Name[bn]=ডকুমেন্ট প্রদর্শক
Name[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা
Name[br]=Lenner dielloù
Name[ca]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[cy]=Gwelydd Dogfennau
Name[da]=Dokumentfremviser
Name[de]=Dokumentenbetrachter
Name[dz]=ཡིག་ཆ་མཐོང་བྱེད།
Name[el]=Εφαρμογή προβολής εγγράφων
Name[en_CA]=Document Viewer
Name[en_GB]=Document Viewer
Name[es]=Visor de documentos
Name[et]=Dokumendinäitaja
Name[eu]=Dokumentu ikustailea
Name[fa]=نمایشگر نوشتار
Name[fi]=Asiakirjakatselin
Name[fr]=Visionneur de documents
Name[gl]=Visualizador de documentos
Name[gu]=દસ્તાવેજ દર્શક
Name[he]=מציג מסמכים
Name[hi]=लेखपत्र प्रदर्शक
Name[hu]=Dokumentummegjelenítő
Name[id]=Pembaca Dokumen
Name[it]=Visualizzatore documenti
Name[ja]=ドキュメント・ビューア
Name[ka]=დოკუმენტების მნახველი
Name[ko]=문서 보기
Name[ku]=Nîşanderê Belgeyan
Name[lt]=Dokumentų peržiūros programa
Name[lv]=Dokumenta skatītājs
Name[mg]=Mpaneho tahirin-kevitra
Name[mk]=Прегледувач за документи
Name[ml]=രേഖ നിരീക്ഷകന്‍
Name[mr]=दस्तावेज दर्शक
Name[nb]=Dokumentvisning
Name[ne]=कागजात दृश्यक
Name[nl]=Documentenviewer
Name[nn]=Dokumentframsynar
Name[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ
Name[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dokumentów
Name[pt]=Visualizador de Documento
Name[pt_BR]=Visualizador de Documentos
Name[ro]=Vizualizare document
Name[ru]=Просмотр документов
Name[sk]=Prehliadač dokumentov
Name[sl]=Pregledovalnik dokumentov
Name[sq]=Shikues dokumentesh
Name[sr@Latn]=Pregledač dokumenata
Name[sr]=Прегледач докумената
Name[sv]=Dokumentvisare
Name[ta]=ஆவண காட்டி
Name[te]=పత్ర దర్శిని
Name[th]=โปรแกรมดูเอกสาร
Name[tr]=Belge Görüntüleyici
Name[uk]=Перегляд документів
Name[vi]=Bộ xem tài liệu
Name[wa]=Håyneu di documints
Name[zh_CN]=文档查看器
Name[zh_HK]=文件檢視器
Name[zh_TW]=文件檢視器
NoDisplay=false
StartupNotify=true
Terminal=false
TryExec=evince
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Version=2.20.1
X-GNOME-DocPath=
X-Ubuntu-Gettext-Domain=evince
