[Desktop Entry]
Categories=GTK;GNOME;Utility;
Comment=Create and modify an archive
Comment[ar]=أنشئ و عدّل أرشيفا
Comment[az]=Arxiv yaradın və açın
Comment[be@latin]=Stvaraj i madyfikuj archivy
Comment[be]=Стварыць ці зьмяніць архіў
Comment[bg]=Създаване и промяна на архив
Comment[bn]=নতুন আর্কাইভ তৈরি ও পরিবর্ধন করো
Comment[bn_IN]=আর্কাইভ নির্মাণ ও পরিবর্তন করুন
Comment[br]=Krouiñ ha daskemmañ diell
Comment[bs]=Napravi i promijeni arhiv
Comment[ca]=Crea i modifica un arxiu
Comment[cs]=Vytvářet a upravovat archiv
Comment[cy]=Creu a newid archif
Comment[da]=Opret og ændr et arkiv
Comment[de]=Archive anlegen und verändern
Comment[dz]=ཡིག་མཛོད་གསར་བསྐྲུན་འབད་ནི་དང་ ལེགས་བཅོས་འབད་ནི།
Comment[el]=Δημιουργία και τροποποίηση ενός συμπιεσμένου αρχείου
Comment[en_CA]=Create and modify an archive
Comment[en_GB]=Create and modify an archive
Comment[es]=Crear y modificar un archivador
Comment[et]=Arhiivi loomine ja muutmine
Comment[eu]=Sortu eta aldatu artxibo bat
Comment[fa]=ایجاد و تغییر آرشیو
Comment[fi]=Luo arkisto tai muokkaa arkistoa
Comment[fr]=Crée et modifie les archives
Comment[gl]=Crear e modificar un arquivo
Comment[gu]=પેટી બનાવો અને સુધારો
Comment[he]=צור ועדכן ארכיונים
Comment[hi]=अभिलेख बनाएँ तथा परिवर्धित करें
Comment[hr]=Stvori i izmijeni arhivu
Comment[hu]=Archívum létrehozása és módosítása
Comment[hy]=Կերտել և մոդիֆիկացնել արխիվը
Comment[id]=Buka dan modifikasi arsip
Comment[it]=Crea e modifica un archivio
Comment[ja]=書庫を作成したり修正します
Comment[ka]=არქივის შექმნა და რედაქტირება
Comment[ko]=압축 파일을 만들고 고칩니다
Comment[ku]=Arşîvekê çêbike an jî biguherîne
Comment[lt]=Kurti ir modifikuoti archyvą
Comment[lv]=Izveidot un izmainīt arhīvu
Comment[mg]=Mamorona sy manova arsiva
Comment[mk]=Креирај и измени архива
Comment[ml]=ഒരു പുതിയ ആര്‍ക്കൈവ് നിര്‍മ്മിച്ച് അത് പരിഷ്കരിക്കുക
Comment[mn]=Архив үүсгэх ба өөрчилөх
Comment[mr]=अभिलेख निर्माण आणि फेरफार करा
Comment[ms]=Cipta dan ubahsuai arkib
Comment[nb]=Opprett og endre arkiv
Comment[ne]=अभिलेख बनाउ र शुद्धिकरण गर
Comment[nl]=Maak en wijzig een archief
Comment[nn]=Lag og endra arkiv
Comment[or]=ଗୋଟିଏ ଅଭିଲେଖକୁ ସ୍ରୁଷ୍ଟି ଏବଂ ରୂପାନ୍ତରିତ କରନ୍ତୁ
Comment[pa]=ਇੱਕ ਆਕਾਇਵ ਬਣਾਓ ਅਤੇ ਸੋਧੋ
Comment[pl]=Tworzy i modyfikuje archiwa
Comment[pt]=Criar e alterar um arquivo
Comment[pt_BR]=Crie e modifique um pacote
Comment[ro]=Creează şi modifică o arhivă
Comment[ru]=Создать или изменить архив
Comment[si]=සංරක්‍ෂණයක් නිර්මාණය කරන්න සහ වෙනස් කරන්න
Comment[sk]=Vytvoriť a upraviť archív
Comment[sl]=Ustvari in spremeni arhiv
Comment[sq]=Krijo dhe ndrysho një arkiv
Comment[sr@Latn]=Napravite nove i raspakujte postojeće arhive
Comment[sr@ije]=Направите и измјените архиву
Comment[sr]=Направите нове и распакујте постојеће архиве
Comment[sv]=Skapa och ändra ett arkiv
Comment[ta]=களஞ்சியத்தை உருவாக்கு அல்லது திருத்து
Comment[te]=సంగ్రహమును సృష్టించు మరియు మార్చు
Comment[th]=สร้างและแก้ไขแฟ้มจัดเก็บ
Comment[tk]=Bir arşiwi bejerip üýtget
Comment[tr]=Bir arşiv yarat ve değiştir
Comment[uk]=Програма створення та зміни архівів
Comment[vi]=Tạo và sửa đổi kho lưu
Comment[xh]=Yakha uze ulungise uvimba
Comment[zh_CN]=创建并修改归档文件
Comment[zh_HK]=建立及更改壓縮檔
Comment[zh_TW]=建立及更改壓縮檔
Encoding=UTF-8
Exec=file-roller %U
GenericName=Archive Manager
GenericName[am]=የመዝገብ ቤት መቆጣጠሪያ
GenericName[ar]=مدير الأرشيف
GenericName[az]=Arxiv İdarəçisi
GenericName[be@latin]=Archivaryjus
GenericName[be]=Кіраўнік архіваў
GenericName[bg]=Работа с архиви
GenericName[bn]=আর্কাইভ ম্যানেজার
GenericName[bn_IN]=আর্কাইভ ম্যানেজার
GenericName[br]=Merour diell
GenericName[bs]=Upravitelj arhivama
GenericName[ca]=Gestor d'arxius
GenericName[cs]=Správce archivů
GenericName[cy]=Rheolydd Archifau
GenericName[da]=Arkivhåndtering
GenericName[de]=Archivmanager
GenericName[dz]=ཡིག་མཛོད་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής συμπιεσμένων αρχείων
GenericName[en_CA]=Archive Manager
GenericName[en_GB]=Archive Manager
GenericName[es]=Gestor de archivadores
GenericName[et]=Arhiivihaldur
GenericName[eu]=Artxibo kudeatzailea
GenericName[fa]=مدیر آرشیو
GenericName[fi]=Pakettienkäsittelyohjelma
GenericName[fr]=Gestionnaire d'archives
GenericName[gl]=Xestor de arquivos
GenericName[gu]=પેટીનો વ્યવસ્થાપક
GenericName[he]=מנהל הארכיון
GenericName[hi]=अभिलेख प्रबंधक
GenericName[hr]=Upravljanje arhivom
GenericName[hu]=Archívumkezelő
GenericName[hy]=Արխիվի մենեջեր
GenericName[id]=Manajer Arsip
GenericName[is]=Skráarsafnstjóri
GenericName[it]=Gestore di archivi
GenericName[ja]=書庫マネージャ
GenericName[ka]=არქივატორი
GenericName[ko]=압축 관리자
GenericName[ku]=Rêveberê Arşîvê
GenericName[lt]=Archyvų tvarkymo programa
GenericName[lv]=Arhīvu Pārvaldnieks
GenericName[mg]=Mpandrindra arsiva
GenericName[mk]=Менаџер на архиви
GenericName[ml]=ആര്‍ക്കൈവ് മാനേജര്‍
GenericName[mn]=Архив Менежер
GenericName[mr]=अभिलेख व्यवस्थापक
GenericName[ms]=Pengurus Arkib
GenericName[nb]=Arkivhåndtering
GenericName[ne]=अभिलेख प्रबन्धक
GenericName[nl]=Archiefbeheer
GenericName[nn]=Arkivhandsamar
GenericName[oc]=Gestionari d'archius
GenericName[or]=ଅଭିଲେଖ ପରିଚାଳକ
GenericName[pa]=ਆਕਾਇਵ ਮੈਨੇਜਰ
GenericName[pl]=Zarządca archiwów
GenericName[pt]=Gestor de Arquivos
GenericName[pt_BR]=Compactador de Arquivos
GenericName[ro]=Administrator arhive
GenericName[ru]=Менеджер архивов
GenericName[si]=සංරක්‍ෂණ කළමණාකරු
GenericName[sk]=Správca archívov
GenericName[sl]=Upravljalnik arhivov
GenericName[sq]=Organizuesi i Arkivit
GenericName[sr@Latn]=Upravljač arhivom
GenericName[sr@ije]=Управљање архивом
GenericName[sr]=Управљач архивом
GenericName[sv]=Arkivhanterare
GenericName[ta]=களஞ்சிய மேலாளர்
GenericName[te]=సంగ్రహ అభికర్త
GenericName[th]=โปรแกรมจัดการแฟ้มจัดเก็บ
GenericName[tk]=Arşiw Mudyry
GenericName[tr]=Arşiv Yöneticisi
GenericName[uk]=Менеджер архівів
GenericName[vi]=Bộ quản lý kho lưu
GenericName[xh]=Umphathi Kavimba
GenericName[zh_CN]=归档管理器
GenericName[zh_HK]=壓縮檔管理員
GenericName[zh_TW]=壓縮檔管理員
Icon=file-roller
MimeType=application/x-ace;application/x-ar;application/x-arj;application/x-bzip;application/x-bzip-compressed-tar;application/x-compress;application/x-compressed-tar;application/x-cpio;application/x-deb;application/x-gtar;application/x-gzip;application/x-lha;application/x-lhz;application/x-rar;application/x-rar-compressed;application/x-tar;application/x-zip;application/x-zip-compressed;application/zip;multipart/x-zip;application/x-rpm;application/x-jar;application/x-war;application/x-ear;application/x-java-archive;application/x-lzop;application/x-zoo;application/x-cd-image;application/x-7z-compressed;application/x-gzpostscript;
Name=Archive Manager
Name[am]=የመዝገብ ቤት መቆጣጠሪያ
Name[ar]=مدير الأرشيف
Name[az]=Arxiv İdarəçisi
Name[be@latin]=Archivaryjus
Name[be]=Кіраўнік архіваў
Name[bg]=Работа с архиви
Name[bn]=আর্কাইভ ম্যানেজার
Name[bn_IN]=আর্কাইভ ম্যানেজার
Name[br]=Merour diell
Name[bs]=Upravitelj arhivama
Name[ca]=Gestor d'arxius
Name[cs]=Správce archivů
Name[cy]=Rheolydd Archifau
Name[da]=Arkivhåndtering
Name[de]=Archivmanager
Name[dz]=ཡིག་མཛོད་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής συμπιεσμένων αρχείων
Name[en_CA]=Archive Manager
Name[en_GB]=Archive Manager
Name[es]=Gestor de archivadores
Name[et]=Arhiivihaldur
Name[eu]=Artxibo kudeatzailea
Name[fa]=مدیر آرشیو
Name[fi]=Pakettienkäsittelyohjelma
Name[fr]=Gestionnaire d'archives
Name[gl]=Xestor de arquivos
Name[gu]=પેટીનો વ્યવસ્થાપક
Name[he]=מנהל הארכיון
Name[hi]=अभिलेख प्रबंधक
Name[hr]=Upravljanje arhivom
Name[hu]=Archívumkezelő
Name[hy]=Արխիվի մենեջեր
Name[id]=Manajer Arsip
Name[is]=Skráarsafnstjóri
Name[it]=Gestore di archivi
Name[ja]=書庫マネージャ
Name[ka]=არქივატორი
Name[ko]=압축 관리자
Name[ku]=Rêveberê Arşîvê
Name[lt]=Archyvų tvarkymo programa
Name[lv]=Arhīvu Pārvaldnieks
Name[mg]=Mpandrindra arsiva
Name[mk]=Менаџер на архиви
Name[ml]=ആര്‍ക്കൈവ് മാനേജര്‍
Name[mn]=Архив Менежер
Name[mr]=अभिलेख व्यवस्थापक
Name[ms]=Pengurus Arkib
Name[nb]=Arkivhåndtering
Name[ne]=अभिलेख प्रबन्धक
Name[nl]=Archiefbeheer
Name[nn]=Arkivhandsamar
Name[oc]=Gestionari d'archius
Name[or]=ଅଭିଲେଖ ପରିଚାଳକ
Name[pa]=ਆਕਾਇਵ ਮੈਨੇਜਰ
Name[pl]=Zarządca archiwów
Name[pt]=Gestor de Arquivos
Name[pt_BR]=Compactador de Arquivos
Name[ro]=Administrator arhive
Name[ru]=Менеджер архивов
Name[si]=සංරක්‍ෂණ කළමණාකරු
Name[sk]=Správca archívov
Name[sl]=Upravljalnik arhivov
Name[sq]=Organizuesi i Arkivit
Name[sr@Latn]=Upravljač arhivom
Name[sr@ije]=Управљање архивом
Name[sr]=Управљач архивом
Name[sv]=Arkivhanterare
Name[ta]=களஞ்சிய மேலாளர்
Name[te]=సంగ్రహ అభికర్త
Name[th]=โปรแกรมจัดการแฟ้มจัดเก็บ
Name[tk]=Arşiw Mudyry
Name[tr]=Arşiv Yöneticisi
Name[uk]=Менеджер архівів
Name[vi]=Bộ quản lý kho lưu
Name[xh]=Umphathi Kavimba
Name[zh_CN]=归档管理器
Name[zh_HK]=壓縮檔管理員
Name[zh_TW]=壓縮檔管理員
NoDisplay=false
StartupNotify=true
Terminal=false
TryExec=file-roller
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=file-roller
X-GNOME-Bugzilla-Version=2.20.1
X-GNOME-DocPath=file-roller/file-roller.xml
X-Ubuntu-Gettext-Domain=file-roller
