[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=geogebra
GenericName[es_ES]=
Hidden=false
Icon=geogebra.png
Name=GeoGebra
Type=Application
Version=1.0
