[Desktop Entry]
Categories=Application;Utility;TextEditor;
Comment=Aplicación para Tablet PC con reconocimiento de escritura manuscrita
Comment[es]=Aplicación para Tablet PC con reconocimiento de escritura manuscrita
Exec=jarnal.sh
GenericName=jarnal
Hidden=true
Icon=gedit-icon.png
Name=jarnal
StartupNotify=false
Terminal=false
Type=Application
