[Desktop Entry]
Comment=Editor de mapas OpenStreetMap
Exec=josm
Hidden=false
Icon=josm-32
Name=OpenStreetMap editor
StartupNotify=true
Terminal=false
Type=Application
