[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=firefox file:///usr/share/jclic/curso/index.htm
Icon=firefox
X-GNOME-DocPath=
Terminal=false
Name=Curso de Jclic
Name[es]=Curso de Jclic
GenericName[es]=Curso de Jclic
Comment[es]=Curso de Jclic
Categories=Clic

