[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=acroread "/usr/share/robolinux/ManualRobolinux.pdf"
Icon=firefox
X-GNOME-DocPath=
Terminal=false
Name=Tutorial de Robolinux
Name[es]=Tutorial de Robolinux
Comment[es]=Tutorial de Robolinux
Categories=Robolinux

