[Desktop Entry]
Categories=;
Comment=Aplicación para Tablet PC, exporta las notas a formato SVG
Comment[es]=Aplicación para Tablet PC, exporta las notas a formato SVG
Exec=notelab
GenericName=NoteLab
GenericName[es]=Exporte notas a formato SVG
Hidden=false
Icon=gedit-icon.png
Name=NoteLab
StartupNotify=false
Terminal=false
Type=Application
