[Desktop Entry]
Categories=Applications;Accessibility;
Comment=Change onBoard settings
Encoding=UTF-8
Exec=onboard-settings
GenericName=onBoard onscreen keyboard settings
Icon=/usr/share/onboard/onboard.svg
MimeType=application/x-onboardsettings
Name=onBoard Settings
NoDisplay=false
Terminal=false
Type=Application
Version=0.81
