[Desktop Entry]
Categories=Application;Accessibility;
Comment=Flexible onscreen keyboard for gnome
Encoding=UTF-8
Exec=onboard
GenericName=onBoard onscreen keyboard
Icon=/usr/share/onboard/onboard.svg
MimeType=application/x-onboard
Name=onBoard
NoDisplay=false
Terminal=false
Type=Application
Version=0.81
