[Desktop Entry]
Categories=GNOME;GTK;Accessibility;
Comment=Present on-screen information as speech or braille, or magnify the screen
Comment[ar]=اظهر معلومات الشاشة ككلاو أو برايل, أو كبّر الشاشة
Comment[bg]=Представяне на информацията на екрана чрез прочитане, брайлово писмо или лупа
Comment[ca]=Presenta informació en pantalla com a parla o braille, o amplia la pantalla
Comment[da]=Præsenter information på skærmen som tale eller blindeskrift, eller forstør skærmen
Comment[de]=Bildschirminhalte als Sprache oder in Braille wiedergeben, oder Bildschirmausschnitte vergrößern.
Comment[dz]=གསལ་གཞི་གུ་ཡོད་པའིབརྡ་དོན་དེ་ གསུང་བཤད་ ཡང་ན་ འབུར་ཡིག་སྦེ་ གསལ་སྟོན་འབད་ ཡང་ན་ གསལ་གཞི་ཆེར་སྐྱེད་འབད།
Comment[el]=Εμφανίζει πληροφορίες από την οθόνη ως φωνή ή Μπράιγ, ή μεγεθύνει την οθόνη
Comment[en_GB]=Present on-screen information as speech or braille, or magnify the screen
Comment[es]=Presenta información sobre lo que hay en la pantalla por medio de voz, braille o magnificando ésta
Comment[eu]=Aurkeztu pantailako informazioa ahoskatuz edo Braillerekin, edo handitu pantaila
Comment[fi]=Esitä näytöllä olevat tiedot puheena tai braillena ja käytä suurennuslasia
Comment[fr]=Présente les informations à l'écran par la voix ou en braille, et agrandit l'écran
Comment[gl]=Presenta información sobre o que hai na pantalla por medio de voz, braille ou ampliando esta
Comment[gu]=સ્ક્રીન-પરની જાણકારી બોલી અથવા બ્રેઈલી તરીકે રજૂ કરો, અથવા સ્ક્રીન વિસ્તૃત કરો
Comment[hi]=भाषण या ब्रेल के रूप में ऑन स्क्रीन सूचना देता है, या स्क्रीन आवर्द्धित करता है
Comment[hu]=A képernyő információnak felolvasása, Braille-kimenetté alakítása vagy a képernyő nagyítása
Comment[it]=Presenta le informazioni a schermo come parlato o braille oppure ingrandisce lo schermo
Comment[ja]=画面の情報を音声や点字で示したり拡大します
Comment[ko]=스크린 위의 정보를 음성으로 말하거나 점자로 나타내고, 화면을 확대해서 보여줍니다
Comment[lt]=Pateikti ekrane esančią informaciją kaip kalbą ar brailio raštą arba padidinti ekraną
Comment[lv]=Izrunā vai attēlo braila rakstā uz ekrāna redzamo informāciju
Comment[mk]=Претстави ги информациите на екранот како говор, преку брајов уред или зголеми го екранот
Comment[nb]=Vis informasjon på skjermen slik som tale eller blindeskrift, eller forstørr skjermen
Comment[nl]=Biedt de informatie op het scherm aan in spraak of braille, of vergroot het scherm
Comment[pa]=ਸਕਰੀਨ-ਉੱਤਲੀ ਜਾਣਕਾਰੀ ਨੂੰ ਬੋਲੀ ਜਾਂ ਬਰਾਇੱਲੀ ਵਾਂਗ ਪੇਸ਼ ਕਰੋ ਜਾਂ ਸਕਰੀਨ ਵੱਡੀ ਕਰਕੇ ਵੇਖਾਓ
Comment[pl]=Prezentowanie informacji wyświetlonych na ekranie w postaci mowy lub za pomocą alfabetu Braille'a oraz powiększanie ekranu.
Comment[pt]=Apresenta informação no ecrã como locução ou braille, ou amplia o ecrã
Comment[pt_BR]=Apresenta informações da tela na forma de fala ou braille, ou ampliando a tela
Comment[ru]=Прочитать информацию с экрана, представить с помощью алфавита Брайля, просмотреть под увеличением
Comment[sl]=Vsebino zaslona prikaže v Braillovi pisavi ali jo prebere in povečuje zaslon
Comment[sv]=Visa information på skärmen som uppläsning eller braille, eller förstora skärmen
Comment[ta]=திரையில் உள்ள தகவலை பேச்சாகவோ அல்லது ப்ரெய்லி ஆகவோ தருக, அல்லது திரையை பெரிதாக்குக.
Comment[th]=นำเสนอข้อมูลหน้าจอเป็นเสียงพูดหรืออักษรเบรลล์ หรือขยายหน้าจอ
Comment[uk]=Читання інформації з екрану, представлення за допомогою алфавіту Брайля, перегляд зі збільшенням
Comment[vi]=Đưa ra thông tin trên màn hình như là tiếng nói hay chữ nổi, hoặc phóng to màn hình
Comment[zh_HK]=將畫面資訊以語音或點字展示，或放大畫面
Comment[zh_TW]=將畫面資訊以語音或點字展示，或放大畫面
Encoding=UTF-8
Exec=orca
Icon=orca
Name=Orca Screen Reader and Magnifier
Name[ar]=قارئ الشاشة و المكبّر أوركا
Name[bg]=Orca - четец на екрана и лупа
Name[ca]=Lector de pantalla i ampliador Orca
Name[da]=Orca skærmlæser og -forstørrer
Name[de]=Orca-Bildschirmleser und -lupe
Name[dz]=ཨོར་ཀ་གསལ་གཞི་ལྷག་བྱེད་དང་ཆེ་ཤེལ།
Name[el]=Ανάγνωση και μεγέθυνση οθόνης Όρκα
Name[en_GB]=Orca Screen Reader and Magnifier
Name[es]=Lector de pantalla y magnificador Orca
Name[et]=Orca ekraanilugeja ja luup
Name[eu]=Orca, pantaila irakurlea eta handitzailea
Name[fi]=Orca - näytönlukija ja suurennuslasi
Name[fr]=Lecteur d'écran et loupe Orca
Name[gl]=Lector de pantalla e magnificador Orca
Name[gu]=Orca સ્ક્રીન વાંચક અને વિસ્તૃતકારક
Name[hi]=Orca स्क्रीन पाठक व आवर्द्धक
Name[hu]=Orca képernyőolvasó és nagyító
Name[it]=Orca - Lettore schermo e ingranditore
Name[ja]=Orca スクリーン・リーダと拡大鏡
Name[ko]=오르카 스크린 읽기 및 돋보기
Name[lt]=Ekrano skaityklė ir lupa Orca
Name[lv]=Orca ekrāna lasītājs un palielinātājs
Name[mk]=Орка читач и зголемувач на екранот
Name[nb]=Orca skjermleser og -forstørrer
Name[nl]=Orca schermlezer en loep
Name[pa]=ਓਰਕਾ ਸਕਰੀਨ ਰੀਡਰ ਅਤੇ ਵੱਡਦਰਸ਼ੀ
Name[pl]=Program udźwiękawiający i powiększający Orca
Name[pt]=Locutor de Ecrã e Ampliador Orca
Name[pt_BR]=Leitor e Ampliador da Tela Orca
Name[ru]=Чтение с экрана и увеличитель Orca
Name[si]=Orca තිරකියවනය සහ විශාලකය
Name[sl]=Povečevalo in bralnik zaslona Orca
Name[sq]=Orca, lexues dhe zmadhues ekrani
Name[sv]=Orca skärmläsare och -förstorare
Name[ta]=ஆர்கா திரை படிப்பி மற்றும் பெரிதாக்கி
Name[th]=โปรแกรมอ่านหน้าจอและแว่นขยายของ Orca
Name[tr]=Orca Ekran Okuyucu ve Büyüteci
Name[uk]=Читання екрану Orca та збільшувальне скло
Name[vi]=Bộ Đọc và Phóng To Màn Hình Orca
Name[zh_HK]=Orca 螢幕閱讀程式及放大鏡
Name[zh_TW]=Orca 螢幕閱讀程式及放大鏡
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=orca
