[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Starplot Star Chart Viewer
GenericName=Star Chart Viewer
Comment=View detailed star charts in 3D
Type=Application
Exec=starplot
Icon=starplot
Categories=Application;Education;Science;Astronomy;
