[Desktop Entry]
Categories=;
Comment=View an astronomical sky chart, complete with constellations
Comment[pl]=Program wyświetlający mapę nieba, pokazuje również konstelacje
Encoding=UTF-8
Exec=stars
GenericName=Sky Chart
GenericName[pl]=Mapa nieba
Hidden=false
Icon=stars
Name=Stars Sky Chart
Name[pl]=Gwiazdy, mapa nieba
Type=Application
Version=1.0
