[Desktop Entry]
Categories=;
Comment=Planetarium
Comment[fr]=Planétarium
Encoding=UTF-8
Exec=stellarium
GenericName=Desktop planetarium
Hidden=false
Icon=stellarium
Name=Stellarium
StartupNotify=false
Terminal=false
Type=Application
