[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Stellarium
GenericName=Desktop planetarium
Exec=stellarium
Icon=stellarium
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science
Comment=Planetarium
Comment[fr]=Planétarium
