[Desktop Entry]
Categories=;
Comment=A drawing program for children.
Comment[af]='n Tekenprogram vir kinders.
Comment[ar]=.برنامج رسومات للأطفال
Comment[be]=Дзіцячая праграма для маляваньня.
Comment[bg]=Програма за рисуване за деца.
Comment[br]=Ur meziant tresañ evit ar vugale.
Comment[ca]=Un programa de dibuix per a nens petits.
Comment[cs]=Malování pro děti.
Comment[cy]=Rhaglen lunio ar gyfer plant.
Comment[da]=Et tegneprogram for børn.
Comment[de]=Ein Malprogramm für Kinder.
Comment[el]=Ένα πρόγραμμα ζωγραφικής για παιδιά.
Comment[en_gb]=A drawing program for children.
Comment[en_za]=A drawing program for children.
Comment[es]=Un programa de dibujo para niños.
Comment[es_mx]=Un programa de dibujo para niños.
Comment[et]=Joonistusprogramm lastele.
Comment[eu]=Umeentzako marrazketa programa
Comment[fi]=Piirto-ohjelma pienille lapsille.
Comment[fo]=Eitt tekniforrit til børn.
Comment[fr]=Un programme de dessin pour les enfants.
Comment[ga]=Clár líníochta le haghaidh páistí.
Comment[gl]=Un programa de debuxo para nenos.
Comment[gu]=બાળકો માટે ચિત્ર કાર્યક્રમ.
Comment[he]=תוכנת ציור לילדים.
Comment[hu]=Rajzolóprogram gyerekeknek
Comment[id]=Adalah sebuah program gambar untuk anak-anak.
Comment[is]=Teikniforrit fyrir krakka.
Comment[it]=Un programma di disegno per bambini.
Comment[ja]=子供向けお絵描きプログラム
Comment[ka]=სახატავი პროგრამა ბავშვებისთვის.
Comment[ko]=어린이를 위한 미술 프로그램
Comment[ku]=Bernameyeke xêzkirinê ji bo zarokan.
Comment[lt]=Piešimo programa vaikams.
Comment[ms]=Program melukis untuk kanak-kanak
Comment[nb]=Et tegneprogram for de yngste.
Comment[nl]=Een tekenprogramma voor kinderen.
Comment[nn]=Eit teikneprogram for dei yngste.
Comment[nr]=Iphrogremu yokudweba yabantwana.
Comment[pl]=Program do rysowania dla dzieci.
Comment[pt_br]=Um programa de desenho para crianças
Comment[pt_pt]=Um programa de desenho para crianças.
Comment[ru]=Детская программа для рисования.
Comment[sk]=Kresliaci program pre deti.
Comment[sl]=Risarski program za otroke
Comment[sr]=Дечји програм за цртање
Comment[sv]=Ett ritprogram för barn.
Comment[sw]=Programu kwa watoto kuchora.
Comment[ta]=ÌÆó¨¾¸Ùì¸¡É ´Õ Å¨ÃÔõ ¦ºÂÄ¢
Comment[te]=పిల్లల కి బొమ్మలు గీసె ప్రొగ్రామ్
Comment[th]=โปรแกรมวาดรูปสำหรับเด็ก
Comment[tr]=Çocuklar için bir çizim programı
Comment[twi]=Deɛ mmɔfra bɛtumi de adi agorɔ.
Comment[ve]=Mbekanyamushumo ya u ola ya vhana.
Comment[vi]=Một chương trình vẽ cho đứa bé.
Comment[wa]=Programe di dessinaedje po ls efants
Comment[xh]=Inkqubo yokuzoba yabantwana.
Comment[zh_cn]=孩子的绘图程序。
Comment[zh_tw]=適合兒童的畫圖程式
Encoding=UTF-8
Exec=tuxpaint
GenericName=Drawing program
GenericName[af]=Tekenprogram
GenericName[ar]=برنامج الرسم
GenericName[be]=Праграма для маляваньня
GenericName[bg]=Програма за рисуване
GenericName[br]=Meziant tresañ
GenericName[ca]=Programa de dibuix
GenericName[cs]=Malovací program
GenericName[cy]=Rhaglen lunio
GenericName[da]=Tegne program
GenericName[de]=Malprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[en_gb]=Drawing program
GenericName[en_za]=Drawing program
GenericName[es]=Programa de dibujo
GenericName[es_mx]=Programa de dibujo
GenericName[et]=Joonistusprogramm
GenericName[eu]=Marrazketa programa
GenericName[fi]=Piirto-ohjelma
GenericName[fo]=Tekniforrit
GenericName[fr]=Programme de dessin
GenericName[ga]=Clár líníochta
GenericName[gl]=Programa de debuxo
GenericName[gu]=ચિત્ર કાર્યક્રમ
GenericName[he]=תוכנת ציור
GenericName[hu]=Rajzolóprogram
GenericName[id]=Program gambar
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=お絵かきプログラム
GenericName[ka]=სახატავი პროგრამა
GenericName[ko]=미술 프로그램
GenericName[ku]=Bernameya Xêzkirinê
GenericName[lt]=Piešimo programa
GenericName[ms]=Program melukis
GenericName[nb]=Tegneprogram
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[nr]=Iphrogremu youkudweba
GenericName[pl]=Program do rysowania
GenericName[pt_br]=Programa de desenho
GenericName[pt_pt]=Programa de desenho
GenericName[ru]=Программа для рисования
GenericName[sk]=Kresliaci program
GenericName[sl]=Risarski program
GenericName[sr]=Програм за цртање
GenericName[sv]=Ritprogram
GenericName[sw]=Programu ya kuchora
GenericName[ta]=Å¨ÃÔõ ¦ºÂÄ¢
GenericName[te]=బొమ్మలు గీసె ప్రొగ్రామ్
GenericName[th]=โปรแกรมวาดรูป
GenericName[tr]=Çizim programı
GenericName[twi]=Adeɛ a yɛde drɔ
GenericName[uk]=Програма для малювання
GenericName[ve]=Mbekanyamushumo ya u ola
GenericName[vi]=Trình vẽ
GenericName[wa]=Programe di dessinaedje
GenericName[xh]=Inkqubo yokuzoba
GenericName[zh_cn]=绘图程序
GenericName[zh_tw]=畫圖程式
Hidden=false
Icon=tuxpaint
Name=Tux Paint
Name[af]=Tux Verf
Name[ar]=طباعة توكس  - طاق طاق بوابة الطفل العربي
Name[be]=Малюй разам з Tux!
Name[bg]=Рисуване с Тъкс
Name[br]=Tux Paint
Name[ca]=Tux Paint
Name[cs]=Tux Paint
Name[cy]=Tux Paint
Name[da]=Tux maling
Name[de]=Tux Paint
Name[el]=Tux Paint
Name[en_gb]=Tux Paint
Name[en_za]=Tux Paint
Name[es]=Tux Paint
Name[es_mx]=Tux Paint
Name[et]=Joonistame koos Tuksiga!
Name[eu]=Tux Paint
Name[fi]=Tux Paint
Name[fo]=Tux Paint
Name[fr]=Tux Paint
Name[ga]=Tux Paint
Name[gl]=Tux Paint
Name[gu]=ટક્સ પૅઇન્ટ
Name[he]=Tux Paint
Name[hu]=Tux Paint
Name[id]=Tux Paint
Name[it]=Tux Paint
Name[ja]=タックスペイント
Name[ka]=თხუპნია!
Name[ko]=턱스페인트
Name[ku]=Tux Paint
Name[lt]=Tux Paint
Name[ms]=Tux Paint
Name[nb]=Tux Paint
Name[nl]=TuxPaint
Name[nn]=Tux Paint
Name[nr]=ITux Pende
Name[pl]=Tux Paint
Name[pt_br]=Pintar
Name[pt_pt]=Tux Paint
Name[ru]=Рисуй вместе с Tux!
Name[sk]=Tux Paint
Name[sl]=Tux Paint
Name[sr]=Такс Цртање
Name[sv]=Tux Paint
Name[sw]=Koti ya Rangi
Name[ta]=¼ìŠ ¦ÀÂ¢ýð
Name[te]=టక్స పెయింట్
Name[th]=ทักซ์สอนวาดรูป
Name[tr]=Tux Boyama
Name[twi]=Tux Paint
Name[uk]=Малюй разом з Tux!
Name[ve]=Tux Paint
Name[vi]=Tux Sơn
Name[wa]=Tux Paint
Name[xh]=Ipeyinti yeTux
Name[zh_cn]=Tux Paint
Name[zh_tw]=企鵝小畫家
Terminal=false
Type=Application
