[Desktop Entry]
Categories=;
Comment=The GNOME configuration tool
Comment[af]=Die GNOME-konfigurasienutsgoed
Comment[ar]=أداة إعداد جنوم
Comment[az]=GNOME quraşdırma avadanlığı
Comment[be@latin]=Pryłada kanfihuracyi GNOME
Comment[be]=Сродак наладкі GNOME
Comment[bg]=Инструмент за настройки на GNOME
Comment[bn]=গনোম কনফিগারেশন প্রক্রিয়া
Comment[bn_IN]=গনোম কনফিগারেশন প্রক্রিয়া
Comment[bs]=GNOME alat za podešavanje
Comment[ca]=L'eina de configuració del GNOME
Comment[cs]=Nástroj pro nastavení prostředí GNOME
Comment[cy]=Yr erfyn cyfluniad GNOME
Comment[da]=Et centralt opsætningsværktøj til Gnome
Comment[de]=Das GNOME-Konfigurationswerkzeug
Comment[dz]=ཇི་ནོམ་རིམ་སྒྲིག་ལག་ཆས།
Comment[el]=Το εργαλείο ρύθμισης του GNOME
Comment[en_CA]=The GNOME configuration tool
Comment[en_GB]=The GNOME configuration tool
Comment[es]=La herramienta de configuración de GNOME
Comment[et]=GNOME seadistusprogramm
Comment[eu]=GNOMEren konfigurazio-tresna
Comment[fa]=ابزار پیکربندی گنوم
Comment[fi]=Gnomen hallintatyökalu
Comment[fr]=L'outil de configuration de GNOME
Comment[gl]=A ferramenta de configuración do Gnome
Comment[gu]=જીનોમ રુપરેખાનું સાધન
Comment[he]=כלי ההגדרה של GNOME
Comment[hi]=गनोम कॉन्फ़िगरेशन उपकरण
Comment[hr]=Alat za podešavanje GNOME-a
Comment[hu]=A GNOME beállítóeszköze
Comment[id]=Program pengatur sistem GNOME
Comment[is]=GNOME stillingatækið
Comment[it]=Strumento di configurazione per GNOME
Comment[ja]=GNOME デスクトップの設定ツールです
Comment[ka]=გნომის კონფიგურაციის ხელსაწყო
Comment[ko]=그놈 설정 도구
Comment[ku]=Amûra veavakirinan ya GNOME
Comment[lt]=GNOME konfigūravimo įrankis
Comment[lv]=GNOME konfigurācijas rīks
Comment[mg]=Ny fitaovana fikirakiran'ny GNOME
Comment[mk]=Алатка за конфигурирање на GNOME
Comment[ml]=ഗ്നോം അനുരൂപമാക്കുന്ന ഉപകരണം
Comment[mn]=GNOME-тохируулгын хэрэгсэл
Comment[ms]=Radas Konfigurasi GNOME
Comment[nb]=Konfigurasjonsverktøy for GNOME
Comment[ne]=जिनोम समायोजना यन्त्र
Comment[nl]=Het Gnome-configuratieprogramma
Comment[nn]=Oppsettsverktøy for GNOME
Comment[nso]=Sedirišwa sa go fetola sebopego sa GNOME
Comment[oc]=L'esplech de configuracion de GNOME
Comment[pa]=ਗਨੋਮ ਸੰਰਚਨਾ ਸੰਦ
Comment[pl]=Narzędzie konfiguracyjne GNOME
Comment[pt]=A ferramenta de configuração GNOME
Comment[pt_BR]=Ferramenta de configuração do GNOME
Comment[ro]=Unealta de configurare GNOME
Comment[ru]=Утилита настройки среды GNOME
Comment[sk]=Nástroj pre nastavenie GNOME
Comment[sl]=Nastavitveno orodje GNOME-a.
Comment[sq]=Instrumenti i konfigurimit për GNOME
Comment[sr@Latn]=Gnomov alat za podešavanje
Comment[sr]=Гномов алат за подешавање
Comment[sv]=Konfigurationsverktyget för GNOME
Comment[ta]=கனோம் அமைவடிவு கருவி
Comment[th]=เครื่องมือปรับแต่งระบบของ GNOME
Comment[tr]=GNOME yapılandırma aracı
Comment[uk]=Засіб налаштовування GNOME
Comment[vi]=Công cụ cấu hình GNOME
Comment[wa]=L' usteye d' apontiaedje di GNOME
Comment[xh]=Isixhobo sokumiselwa kwe-GNOME
Comment[zh_CN]=GNOME 配置工具
Comment[zh_HK]=GNOME 設定工具
Comment[zh_TW]=GNOME 設定工具
Comment[zu]=Ithulusi lokumisa lwe-GNOME
Encoding=UTF-8
Exec=gnome-font-viewer %u
Hidden=false
Icon=gnome-settings-font
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
Name=GNOME Font Viewer
Name[ar]=عارض خطوط جنوم
Name[be@latin]=Prahladalnik šryftoŭ GNOME
Name[be]=Праглядальнік шрыфтоў GNOME
Name[bg]=Компонент за преглед на шрифтове
Name[bn]=গনোম ফন্ট প্রদর্শক
Name[bn_IN]=গনোম ফন্ট প্রদর্শক
Name[ca]=Visualitzador de tipus de lletra del GNOME
Name[cs]=GNOME Prohlížeč písem
Name[cy]=Gwelydd Ffontiau GNOME
Name[da]=Gnome-skrifttypeviser
Name[de]=GNOME Schrift-Anzeiger
Name[dz]=ཇི་ནོམ་ཡིག་གཟུགས་མཐོང་འབྱེད།
Name[el]=Πρόγραμμα Εμφάνισης Γραμματοσειρών GNOME
Name[en_CA]=GNOME Font Viewer
Name[en_GB]=GNOME Font Viewer
Name[es]=Visor de tipografías de GNOME
Name[et]=GNOME kirjatüübivaatur
Name[eu]=GNOMEren Letra-tipo ikustailea
Name[fa]=نمایش‌دهنده‌ی قلم گنوم
Name[fi]=Gnomen kirjasinlajien katseluohjelma
Name[fr]=Visionneur de polices GNOME
Name[gl]=Visualizador de tipos de letras do Gnome
Name[gu]=જીનોમ ફોન્ટ દર્શક
Name[he]=מציג הגופנים של GNOME""[FILE]
Name[hi]=गनोम फंट प्रदर्शक
Name[hu]=GNOME betűkészlet-megjelenítő
Name[id]=Penampil Fonta GNOME
Name[it]=Visualizzatore di caratteri di GNOME
Name[ja]=GNOME フォント・ビューア
Name[ka]=გნომის შრიფტის მნახველი
Name[ko]=그놈 글꼴 보기 프로그램
Name[ku]=Nîşandêrê curetîpê GNOME
Name[lt]=GNOME šriftų žiūrėjimo programa
Name[lv]=GNOME fontu pārlūks
Name[mg]=Mpijery endri-tsoratra an'ny GNOME
Name[mk]=Преглед на фонтови во GNOME
Name[ml]=GNOME ലിപിദര്‍ശിനി
Name[mn]=GNOME Фонт харагч
Name[nb]=GNOME skriftvisning
Name[ne]=जिनोम वर्ण दृष्टा
Name[nl]=Gnome Lettertypenweergave
Name[nn]=GNOME skriftvising
Name[oc]=Visionaira de poliças de GNOME
Name[pa]=ਗਨੋਮ ਫੋਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka czcionek GNOME
Name[pt]=Visualizador de Fontes GNOME
Name[pt_BR]=Visualizador de Fontes do GNOME
Name[ro]=Vizualizatorul de fonturi GNOME
Name[ru]=Просмотр шрифтов
Name[sk]=Zobrazovač písem pre GNOME
Name[sl]=Prikazovalnik pisav GNOME
Name[sq]=Shikuesi i gërmave të GNOME
Name[sr@Latn]=Gnomov pregledač slovnih likova
Name[sr]=Гномов прегледач словних ликова
Name[sv]=GNOME-typsnittsvisare
Name[ta]=GNOME எழுத்துரு காட்டி
Name[th]=เครื่องมือดูแบบอักษรของ GNOME
Name[tr]=GNOME Yazıtipi Görüntüleyici
Name[uk]=Перегляд шрифтів
Name[vi]=Bộ xem phông chữ GNOME
Name[xh]=Isibonakalisi seFonti se-GNOME
Name[zh_CN]=GNOME 字体查看器
Name[zh_HK]=GNOME 字型檢視程式
Name[zh_TW]=GNOME 字型檢視程式
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=font properties
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Version=2.20.1
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
