[Desktop Entry]
Categories=;
Comment=wxWidgets interface for CAS maxima
Encoding=UTF-8
Exec=wxmaxima
Hidden=false
Icon=maximaicon.xpm
Name=wxMaxima
Terminal=false
Type=Application
