[Desktop Entry]
Categories=;
Comment=Take handwritten notes
Comment[fr]=Prise de notes manuscrites
Encoding=UTF-8
Exec=xournal %f
Hidden=false
Icon=xournal
MimeType=application/x-xoj;application/pdf;
Name=Xournal
Name[fr]=Xournal
StartupNotify=true
Terminal=false
Type=Application
