#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

# start before xserver-xorg-input-wacom
DEB_UPDATE_RCD_PARAMS := "start 10 2 3 4 5 ."


binary-install/max-hardware::
	# clean svn dirs
	find $(CURDIR)/debian/max-hardware -type d -name .svn | xargs rm -rf --
