[Desktop Entry]
Version=1.0
Name=Easystroke Gesture Recognition
Name[cs]=Easystroke rozeznávání gest
Name[de]=Easystroke Gestenerkennung
Name[el]=Easystroke Αναγνώρηση Χειρονομιών
Name[es]=Reconocimiento de gestos Easyestroke
Name[fr]=Reconnaissance de gestes Easystroke
Name[he]=זיהוי תנועות עכבר של Easystroke
Name[it]=Easystroke riconoscimento gesti
Name[ja]=Easystroke ジェスチャ認識
Name[pl]=Easystroke Rozpoznawanie Gestów
Name[ru]=Распознавание жестов мыши Easystroke
Name[zh]=Easystroke 鼠标手势辨认
Type=Application
Terminal=false
TryExec=easystroke
Exec=easystroke
Icon=easystroke
Categories=GTK;Utility;Whiteboard;
Comment=Control your desktop using mouse gestures
Comment[cs]=Ovládejte počítač pomocí gest myši
Comment[de]=Den Computer mit Mausgesten bedienen
Comment[el]=Ελέγξτε την επιφάνεια εργασίας χρησιμοποιώντας χειρονομίες ποντικιού
Comment[es]=Controlar su escritorio usando gestos de ratón
Comment[fr]=Contrôler votre bureau en utilisant des gestes de souris
Comment[he]=ניתן לשלוט בשולחן העבודה באמצעות תנועות העכבר
Comment[it]=Controlla la scrivania utilizzando i gesti del muse
Comment[ja]=マウス・ジェスチャを使用してデスクトップを制御します
Comment[pl]=Kontroluj pulpit używając gestów myszy
Comment[ru]=Управление рабочим столом с помощью жестов мыши
Comment[zh]=通过鼠标手势控制你的桌面
