[Desktop Entry]
Encoding=UTF-8
Name=GCompris (suite educativa)
GenericName=Juegos para niños de 2 a 10 años
Comment=Juegos para niños de 2 a 10 años
TryExec=/usr/games/gcompris
Exec=gcompris
Icon=gcompris
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gcompris
X-GNOME-Bugzilla-Component=
