[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gFTP
Name[es]=gFTP (cliente FTP)
GenericName=gFTP
GenericName[es]=gFTP (cliente FTP)
Comment=Download and upload files using multiple file transfer protocols
Comment[es]=Descargar y subir archivos usando varios protocolos de transferencia
Exec=gftp-gtk %u
TryExec=gftp-gtk
Icon=gftp.png
Terminal=0
Type=Application
Categories=GTK;GNOME;Network;FileTransfer;
X-Ubuntu-Gettext-Domain=gftp
