[Desktop Entry]
Name=KompoZer
Name[es]=KompoZer (editor HTML)
GenericName=Web Authoring System
GenericName[es]=Editor de páginas web
Comment=Create Web Pages
Comment[es]=Crea páginas web
Comment[it]=Creare pagine Web
Categories=Development;WebDevelopment;Network;
TryExec=/usr/bin/kompozer
Exec=kompozer
Icon=kompozer
Terminal=false
MimeType=text/html;text/xml;text/css;text/x-javascript;text/javascript;application/xhtml+xml;
Type=Application
