[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice34-base
Type=Application
Categories=Office;
Exec=libreoffice --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
Name=LibreOffice Base
Name[pt_BR]=BrOffice Base
GenericName=Database Development
GenericName[en]=Database Development
GenericName[ast]=Desendolcu de bases de datos
GenericName[ca]=Desenvolupament de bases de dades
GenericName[da]=Databaseudvikling
GenericName[de]=Datenbankentwicklung
GenericName[el]=Ανάπτυξη βάσεων δεδομένων
GenericName[es]=Desarrollo de bases de datos
GenericName[fi]=Tietokanta
GenericName[fr]=Développement de bases de données
GenericName[gl]=Desenvolvemento de bases de datos
GenericName[he]=פיתוח מסדי נתונים
GenericName[hr]=Razvoj baza podataka
GenericName[hu]=Adatbázis-fejlesztés
GenericName[it]=Sviluppo database
GenericName[is]=Hönnun gagnagrunna
GenericName[ja]=データベース開発
GenericName[nl]=Database-ontwikkeling
GenericName[nn]=Databasehandsaming
GenericName[pt_BR]=Desenvolvimento de base de dados
GenericName[ro]=Dezvoltare baze de date
GenericName[ru]=Разработка баз данных
GenericName[sl]=Razvoj podatkovnih zbirk
GenericName[te]=డాటాబేస్ అభివృద్ధి
GenericName[vi]=Phát triển Cơ sở dữ liệu
GenericName[zn_CN]=数据库开发
GenericName[zh_TW]=資料庫開發
Comment=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[en]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[ast]=Xestiona bases de datos, fai consultes ya informes, sigui y xestiona la to información.
Comment[ca]=Gestioneu bases de dades, creeu consultes i informes per fer un seguiment i gestionar la vostra informació.
Comment[da]=Håndtér databaser, og opret forespørgsler og rapporter til at overvåge og administrere dine informationer.
Comment[de]=Datenbanken verwalten, Abfragen und Berichte erstellen, um Ihre Daten zu überblicken und zu verwalten.
Comment[el]=Διαχείριση βάσεων δεδομένων, δημιουργία ερωτημάτων και αναφορών για την παρακολούθηση και διαχείριση των πληροφοριών σας.
Comment[es]=Gestione bases de datos, cree consultas e informes, siga y gestione su información.
Comment[fi]=Hallitse tietokantoja, tee hakuja ja raportteja seurataksesi ja hallitaksesi tietoja.
Comment[fr]=Gérer des bases de données, créer des requêtes et des rapports pour le suivi et l'analyse de vos données.
Comment[gl]=Administre bases de datos, cree consultas e informes, siga e xestione a súa información.
Comment[he]=ניהול מסדי נתונים, יצירת חקירות ודוחות על מנת לנהל את המידע שלכם ולעקוב אחריו.
Comment[hr]=Upravljajte bazama podataka, definirajte upite i izvještaje za praćenje i upravljanje vašim informacijama.
Comment[hu]=Adatbázisok kezelése, lekérdezések és jelentések készítése az információinak kezeléséhez
Comment[it]=Gestisce database, crea query e rapporti per tracciare e gestire le proprie informazioni.
Comment[is]=Sýsla með gagnagrunna, búa til útfyllingarform og skýrslur, safna saman og vinna úr ýmiskonar gögnum.
Comment[ja]=データベースの管理やクエリの作成、情報の追跡や管理した結果を報告します。
Comment[nl]=Databases beheren, query's en rapporten maken om uw informatie te beheren en op te zoeken.
Comment[nn]=Handsam databaser og lag spørringar og rapportar for å gjera informasjonen oversiktleg
Comment[pt_BR]=Administre base de dados, crie consultas e relatórios para rastrear e gerenciar informação.
Comment[ro]=Administrați baze de date, creați interogări și rapoarte pentru a urmări și administra informațiile proprii.
Comment[ru]=Управление базами данных, создание запросов и отчётов для контролирования вашей информации.
Comment[sl]=Upravljajte podatkovne zbirke, ustvarjajte poizvedbe in poročila za sledenje in upravljanje svojih podatkov.
Comment[te]=మీ జాబితా మరియు వివరాలకోసం డాటాబేస్ నిర్వహణ మరియు ప్రశ్నలు, నివేదికల సృష్టి 
Comment[vi]=Quản lý cơ sở dữ liệu, tạo lệnh tìm kiếm và báo cáo để theo dõi và quản lý thông tin của bạn.
Comment[zh_CN]=管理数据库，创建查询和报告，跟踪和管理您的信息。
Comment[zh_TW]=管理資料庫、建立查詢與報告，以追蹤及管理您的資訊。
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=New
[New Shortcut Group]
Name=New Database
Name[en]=New Database
Name[ast]=Base de datos nueva
Name[ca]=Base de dades nova
Name[da]=Ny database
Name[de]=Neue Datenbank
Name[el]=Νέα βάση δεδομένων
Name[es]=Base de datos nueva
Name[fi]=Uusi tietokanta
Name[fr]=Nouvelle base de données
Name[gl]=Nova base de datos
Name[he]=מסד נתונים חדש
Name[hr]=Nova baza podataka
Name[hu]=Új adatbázis
Name[it]=Nuovo database
Name[is]=Nýr Base gagnagrunnur
Name[ja]=新規デ>ータベースを作成
Name[nl]=Nieuwe database
Name[nn]=Ny database
Name[pt_BR]=Nova base de dados
Name[ro]=Bază de date nouă
Name[ru]=Новая база данных
Name[sl]=Nova podatkovna zbirka
Name[te]=కొత్త డాటాబేస్
Name[vi]=Cơ sở dữ liệu mới
Name[zn_CN]=新建数据库
Name[zh_TW]=新增資料庫
Exec=libreoffice -base %U
TargetEnvironment=Unity
X-KDE-Protocols=file,http,smb,ftp,webdav
