[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-draw
Type=Application
Categories=Office;Graphics;
TryExec=libreoffice
Exec=libreoffice -draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;
Name=LibreOffice Draw
Name[pt_BR]=BrOffice Draw
Name[es]=LibreOffice Dibujo
GenericName=Drawing Program
GenericName[en]=Drawing Program
GenericName[es]=Programa de dibujo
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Comment[en]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[es]=Crear y editar dibujos, gráficos y logotipos.
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
