[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-math
Type=Application
Categories=Office;
TryExec=libreoffice
Exec=libreoffice -math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.stardivision.math;
Name=LibreOffice Math
Name[pt_BR]=BrOffice Math
Name[es]=LibreOffice fórmulas
GenericName=Formula Editor
GenericName[en]=Formula Editor
GenericName[es]=Editor de fórmulas
Comment=Create and edit scientific formulas and equations by using Math.
Comment[en]=Create and edit scientific formulas and equations by using Math.
Comment[es]=Crear y editar fórmulas científicas y ecuaciones.
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
