[Desktop Entry]
Categories=;
Comment[es]=Programa para estudio de lenguas extranjeras
Encoding=UTF-8
TryExec=/usr/bin/dve.sh
Exec=/usr/bin/dve.sh
Hidden=false
Icon=/usr/share/pixmaps/malted.xpm
Name=Editor de Malted
Name[es]=Editor de Malted
Terminal=false
Type=Application
Version=1.0
X-GNOME-DocPath=
