[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
TryExec=/usr/share/atnag/launcher.sh
Exec=/usr/share/atnag/launcher.sh -config /usr/share/atnag/dir_config/modele.cfg
Icon=/usr/share/atnag/ressources/dir_icons/Atnag_model.png
X-GNOME-DocPath=
Terminal=false
Name=Atnag
Name[es]=Atnag lúdico
GenericName[es]=Atnag - Actividades ludicas
Comment[es]=Juegos de entretenimiento
Categories=Application;Education;Atnag;
