[Desktop Entry]
Encoding=UTF-8
Name=OpenStreetMap
Comment=Web de OpenStreetMap
TryExec=/usr/bin/firefox
Exec=firefox http://www.openstreetmap.org
Icon=firefox
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Core;
