[Desktop Entry]
Version=1.0
Type=Application
TryExec=/usr/bin/evince
Exec=/usr/bin/evince "/usr/share/doc/robolinux/manual_robolinux.pdf"
Icon=/usr/share/icons/crystalsvg/48x48/apps/acroread.png
X-GNOME-DocPath=
Terminal=false
Name=Tutorial de Robolinux
Name[es]=Tutorial de Robolinux
Comment[es]=Tutorial de Robolinux
Categories=Robolinux

Name[es_ES]=Tutorial de Robolinux
Comment[es_ES]=Tutorial de Robolinux
Comment=Tutorial de Robolinux
