[Desktop Entry]
Version=1.0
Terminal=false
Exec=ooffice -impress %F
Icon=ooo-impress
Type=Application
Categories=Application;Office;Presentation;
StartupNotify=false
MimeType=application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.stardivision.impress;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.ms-powerpoint.presentation.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;
InitialPreference=5
Name=OpenOffice.org Presentation
Name[am]=ኦፕንኦፊስ.ኦርግ ትዕይንት
Name[bn]=ওপেনঅফিস.অর্গ প্রেজেন্টেশন
Name[ca]=Editor de presentacions de l'OpenOffice.org
Name[cs]=OpenOffice.org Prezentace
Name[da]=OpenOffice.org Præsentation
Name[de]=OpenOffice.org Präsentation
Name[el]=Παρουσιάσεις OpenOffice.org
Name[en_GB]=OpenOffice.org Presentation
Name[eo]=OpenOffice.org Prezentajxo
Name[es]=OpenOffice.org Presentaciones
Name[et]=OpenOffice.org Esitlus
Name[fi]=OpenOffice.org-esitysgrafiikka
Name[fil]=Pagtatanghal sa OpenOffice.org
Name[fr]=Présentation OpenOffice.org
Name[gl]=Presentación de OpenOffice.org
Name[he]=OpenOffice.org מצגות
Name[hr]=OpenOffice.org prezentacije
Name[hu]=OpenOffice.org bemutató
Name[it]=OpenOffice.org - Presentazione
Name[ja]=OpenOffice.org Presentation
Name[ka]=OpenOffice.org პრეზენტაცია
Name[kn]=OpenOffice.org ಮಂಡನೆ
Name[ko]=오픈오피스 프레젠테이션
Name[ku]=Pêşkêşiya OpenOffice.org
Name[lt]=OpenOffice.org - pateiktys bei pristatymai
Name[nl]=OpenOffice.org Presentatie
Name[oc]=Presentacion OpenOffice.org
Name[pl]=Prezentacja OpenOffice.org
Name[pt]=Apresentação OpenOffice.org
Name[pt_BR]=OpenOffice.org Apresentação
Name[ru]=OpenOffice.org Презентации
Name[sk]=Prezentácia OpenOffice.org
Name[sr]=OpenOffice.org Презентација
Name[sv]=OpenOffice.org Presentation
Name[tl]=Pagtatanghal sa OpenOffice.org
Name[tr]=OpenOffice.org Sunum
Name[uk]=OpenOffice.org Presentation
Name[vi]=Tạo trình diễn với OpenOffice.org
Name[zh_CN]=OpenOffice.org 演示
Name[zh_TW]=OpenOffice.org 簡報
GenericName=Presentation
GenericName[af]=Voorlegging
GenericName[am]=ትዕይንት
GenericName[ar]=عرض تقديمي
GenericName[az]=Təqdimat
GenericName[be@latin]=Prezentacyja
GenericName[bg]=Презентация
GenericName[bn]=প্রেজেন্টেশন
GenericName[bs]=Prezentacija
GenericName[ca]=Presentació
GenericName[cs]=Prezentace
GenericName[da]=Præsentation
GenericName[de]=Präsentation
GenericName[dz]=གསལ་སྟོན།
GenericName[el]=Παρουσιάσεις
GenericName[en_CA]=Presentation
GenericName[en_GB]=Presentation
GenericName[en_ZA]=Presentation
GenericName[eo]=Prezentajxo
GenericName[es]=Presentación
GenericName[et]=Esitlus
GenericName[eu]=Aurkezpena
GenericName[fi]=Esitys
GenericName[fil]=Pagtatanghal
GenericName[fr]=Présentation
GenericName[ga]=Toirbeathas
GenericName[gl]=Presentación
GenericName[gu]=રજૂઆત
GenericName[he]=מצגת
GenericName[hr]=Prezentacija
GenericName[hu]=Bemutatókészítő
GenericName[is]=Kynning
GenericName[it]=Presentazione
GenericName[ja]=プレゼンテーション
GenericName[ka]=პრეზენტაცია
GenericName[kn]=ಮಂಡನೆ
GenericName[ko]=프리젠테이션
GenericName[ku]=Pêşkêşî
GenericName[lt]=Pateiktis
GenericName[mk]=Презентација
GenericName[ms]=Persembahan
GenericName[nb]=Presentasjon
GenericName[ne]=प्रस्तुति
GenericName[nl]=Presentatie
GenericName[nr]=Phrizentheyitjhini
GenericName[nso]=Tlhagišo
GenericName[oc]=Presentacion
GenericName[pa]=ਪੇਸ਼ਕਾਰੀ
GenericName[pl]=Prezentacja
GenericName[ps]=وړاندېينه
GenericName[pt]=Apresentação
GenericName[pt_BR]=Apresentação
GenericName[ru]=Презентация
GenericName[rw]=Iyerekana
GenericName[sk]=Prezentácia
GenericName[sl]=Predstavitev
GenericName[sq]=Prezantime
GenericName[sr]=Презентација
GenericName[sr@latin]=Prezentacija
GenericName[st]=Nehelano
GenericName[sv]=Presentation
GenericName[th]=งานนำเสนอ
GenericName[tl]=Pagtatanghal
GenericName[tr]=Sunum
GenericName[ts]=Nkombiso
GenericName[uk]=Презентації
GenericName[vi]=Trình diễn
GenericName[wa]=Prezintåcion
GenericName[xh]=Umboniso wenkcazelo
GenericName[zh_CN]=演示
GenericName[zh_TW]=簡報
GenericName[zu]=Iprezenteyshin
Comment=Create and edit presentations for slideshows, meeting and Web pages.
Comment[am]=ለስብሰባና ለመረብ ገጽ የሚሆኑ የመረጃ ትዕይንቶችን ይድረሱ ወይም ያርሙ
Comment[ar]=انشاء  و تحرير العروض التقديمية  للعروض ، الاجتماعات و صفحات الويب.
Comment[bn]=স্লাইড শো, মিটিং এবং ওয়েব পেইজের জন্য প্রেজেন্টেশন তৈরি এবং সম্পাদনা
Comment[ca]=Creeu i editeu presentacions per a diapositives, pàgines web i conferències.
Comment[cs]=Vytvářet a upravovat prezentace vhodné jako slideshow, na meeting nebo pro webové stránky.
Comment[da]=Opret og redigér præsentationer til diasoplæg, møder og websider.
Comment[de]=Erstellen und Bearbeiten von Präsentationen für Dia-Vorführungen, Meetings und Web-Auftritte.
Comment[el]=Δημιουργία και επεξεργασία παρουσιάσεων για συνεδριάσεις και ιστοσελίδες.
Comment[en_GB]=Create and edit presentations for slideshows, meeting and Web pages.
Comment[eo]=Krei kaj redakti prezentajxojn por lumbildaj prezentadoj, kunveno kaj TTT-pagxoj.
Comment[es]=Crea y edita diapositivas para presentaciones
Comment[et]=Loo ja redigeeri esitlusi slaidietenduseks, kohtumisteks ja veebilehtede jaoks.
Comment[fi]=Luo ja muokkaa esityksiä esitelmiin, tapaamisiin ja WWW-sivuille.
Comment[fil]=Lumikha at isaayos ang mga pagtatanghal para sa mga slideshow, pagtitipon at mga pahina sa Web.
Comment[fr]=Créer et éditer des présentations pour des diaporamas, des réunions ou des pages Web.
Comment[gl]=Crea e edita presentacións para demostracións, relatorios e páxinas web.
Comment[he]=צרו וערכו מצגות לפגישות, כדי להציג תמונות או לדפי אינטרנט.
Comment[hr]=Izradite i uredite prezentacije za sastanke i web stranice.
Comment[hu]=Bemutatók készítése és szerkesztése diavetítésekhez, találkozókhoz és weblapokhoz.
Comment[it]=Crea e modifica presentazioni per diapositive, incontri e pagine Web.
Comment[ja]=スライドショー、会議、Webページのためのプレゼンテーションを作成・編集します。
Comment[ka]=პრეზენტაციების შექმნა და რედაქტირება სლაიდების ჩვენების, შეხვედრებისა და ვებ გვედრდებისთვის.
Comment[ko]=슬라이드와 회의 발표, 웹페이지를 위한 프레젠페이션을 만들고 수정합니다.
Comment[ku]=Pêşkeşîyan jibo slideshowyan, civin û rûpelên torê biafirîne û serrast bike
Comment[lt]=Kurkite ir tobulinkite pateiktis (skaidres) susitikimams, pristatymams bei interneto puslapiams
Comment[nl]=Presentaties voor diashows, meetings en web-pagina's aanmaken en bewerken.
Comment[oc]=Crear e modificar de presentacions per d'expausats, de reunions e de paginas web.
Comment[pl]=Tworzenie i modyfikowanie prezentacji, które można wykorzystać podczas pokazów, spotkań oraz na stronach WWW.
Comment[pt]=Crie e edite apresentações para reuniões e páginas Web.
Comment[pt_BR]=Cria e edita apresentações de slides, encontros e páginas da web.
Comment[ru]=Создание и редактирование презентаций для слайдшоу, встреч и веб-страниц.
Comment[sk]=Vytvárajte a upravujte prezentácie pre porady, stretnutia a internet.
Comment[sr]=Направите и уређујте презентације за пројекције, састанке и Интернет у Презентацији.
Comment[sv]=Skapa och redigera presentationer för bildspel, möten och webbsidor.
Comment[tl]=Lumikha at isaayos ang mga pagtatanghal para sa mga slideshow, pagtitipon at mga pahina sa Web.
Comment[tr]=Gösteriler, toplantılar ve Web sayfaları için sunular oluşturun ve düzenleyin.
Comment[zh_CN]=为演示、会议、网页创建和编辑演示文稿
Comment[zh_TW]=建立及編輯用於幻燈放映、會議的簡報及網頁。
