[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Preferences
Name[es]=Preferencias de PulseAudio
Name[de]=PulseAudio-Einstellungen
Name[el]=Επιλογές PulseAudio
Name[fr]=Préférences de PulseAudio
Name[hu]=PulseAudio beállításai
Name[pl]=Preferencje PulseAudio
Name[pt_BR]=Preferências do PulseAudio
Name[sv]=Inställningar för PulseAudio
Name[tr]=PulseAudio Tercihleri
GenericName=Sound Server Preferences
GenericName[es]=Preferencias del servidor de sonido
GenericName[de]=Audio-Dienst-Einstellungen
GenericName[el]=Επιλογές εξυπηρετητή ήχου
GenericName[fr]=Préférences du serveur de son
GenericName[hu]=Hangkiszolgáló beállításai
GenericName[pl]=Preferencje serwera dźwięku
GenericName[pt_BR]=Preferências do servidor de som
GenericName[sv]=Inställningar för ljudserver
GenericName[tr]=Ses Sunucusu Tercihleri
Comment=View and modify the configuration of the local sound server
Comment[es]=Ver y modificar la configuración del servidor de sonido local
Comment[de]=Anzeigen und Ändern der Konfiguration des lokalen Audio-Dienstes
Comment[el]=Εμφάνιση και επεξεργασία ρυθμίσεων του τοπικού εξυπηρετητή ήχου
Comment[fr]=Afficher et modifier la configuration du serveur de son local
Comment[hu]=A helyi hangkiszolgáló beállításainak megjelenítése és módosítása
Comment[pl]=Wyświetlanie i modyfikacja konfiguracji lokalnego serwera dźwięku
Comment[pt_BR]=Veja e modifique as configurações do servidor de som local
Comment[sv]=Visa och ändra konfigurationen för den lokala ljudservern
Comment[tr]=Yerel ses sunucusunun yapılandırmasına bak ve değiştir
TryExec=/usr/bin/paprefs
Exec=paprefs
Icon=preferences-desktop
StartupNotify=true
Type=Application
Categories=Settings;
