[Desktop Entry]
Name=Plopp (dibujos 3D)
Comment=Dibuja y crea en 3D
TryExec=/usr/games/plopp
Exec='/usr/games/plopp'
Icon=plopp.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;

