[Desktop Entry]
Name=XScreenSaver Setup
TryExec=/usr/bin/xscreensaver-demo
Exec=xscreensaver-demo
Icon=xscreensaver
Terminal=false
StartupNotify=true
Type=Application
Categories=System;
NoDisplay=true
