#!/usr/bin/make -f

DH_VERBOSE=1
VERSION=ORA-3.3.0

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
#URL="https://github.com/OpenRoberta/robertalab/archive/ORA-$(VERSION).tar.gz"
URL="http://localhost/remote-files/$(VERSION).tar.gz"

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf build

override_dh_auto_build:
	if [ ! -d build ]; then \
		mkdir build ;\
		( cd build && wget $(URL) && tar -zxf *.tar.gz); \
	fi

	mkdir -p /root/.m2
	cp debian/maven-settings.xml /root/.m2/settings.xml

	# build/robertalab-ORA-3.3.0/OpenRobertaParent/
	(cd build/robertalab-$(VERSION)/OpenRobertaParent/ && mvn clean install)
	(cd build/robertalab-$(VERSION) && ./ora.sh --export ../ora-export)

#override_dh_auto_install:
#	dh_install

