#!/usr/bin/make -f

#ID=$(shell xmlstarlet sel -N rdf=http://www.w3.org/1999/02/22-rdf-syntax-ns\# -N em=http://www.mozilla.org/2004/em-rdf\# -t -v "//rdf:Description[@about='urn:mozilla:install-manifest']/em:id" install.rdf)
#ID=$(shell ls *.xpi)
ID=maxubufox@educa.madrid.org.xpi


%:
	dh $@

test-id:
	@echo $(ID)

override_dh_auto_install:
	mkdir -p debian/tmp/usr/share/mozilla/extensions/\{ec8030f7-c20a-464f-9b0e-13a3a9e97384\}
	install *.xpi debian/tmp/usr/share/mozilla/extensions/\{ec8030f7-c20a-464f-9b0e-13a3a9e97384\}/$(ID)

#	mkdir -p debian/tmp/usr/lib/firefox-addons/extensions
#	install *.xpi debian/tmp/usr/lib/firefox-addons/extensions/$(ID)

	dh_auto_install
