Source: max-genlive
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.2

Package: max-genlive
Architecture: all
Depends: mkisofs, squashfs-tools
Description: Tool to generate MaX live DVD
 Contains:
  * max-genlive

