Source: max-genlive
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, 
               gfxboot-theme-ubuntu,
#              gfxboot-dev (>= 4.1.42), cpio, libfribidi0
Standards-Version: 3.9.4

Package: max-genlive
Architecture: all
Depends: genisoimage, squashfs-tools, equivs, max-win32-apps,
         debootstrap, syslinux, mbr, tree, parted, memtest86+
Description: Tool to generate MaX live DVD, CD and nanoMaX
 Contains:
  * max-genlive

