[Desktop Entry]
Type=MimeType
MimeType=application/vnd.adobe.xfdf
Icon=netscape_doc
Comment=Netscape Adobe Reader 7.0
X-KDE-AutoEmbed=true
X-KDE-nsplugin=true
Patterns=*.xfdf
Name=XML Version of Acrobat Forms Data Format
