[Desktop Entry]
Name=User Accounts
Comment=Add or remove users
TryExec=/usr/bin/unity-control-center
Exec=unity-control-center user-accounts
Icon=system-users
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Settings;X-Unity-Settings-Panel;X-GNOME-SystemSettings
X-Unity-Settings-Panel=user-accounts
# Translators: those are keywords for the user accounts control-center panel
Keywords=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[af]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;aanmeld;naam;vingerafdruk;embleem;gesig;wagwoord;meld aan
Keywords[ar]=ولوج;اسم;بصمة;أيقونة;شعار;وجه;كلمة سر;
Keywords[as]=লগিন;নাম;আঙ্গুলিৰ ছাপ;অৱতাৰ;লগো;মূখ;পাছৱাৰ্ড;
Keywords[ast]=aniciu;sesión;nome;buelga;avatar;logu;cara;contraseña;
Keywords[be]=Уваход;Сеанс;Імя карыстальніка;Адбітак пальцаў;Сканер;Аватар;Лагатып;Выява;Твар;Вобраз;Пароль;
Keywords[bg]=Вход;Име;Пръстов отпечатък;Аватар;Лого;Лице;Парола;
Keywords[bn]=লগ ইন;নাম;ফিঙ্গারপ্রিন্ট;এভাটার;লোগো;ফেস;পাসওয়ার্ড;
Keywords[bs]=Prjava;Ime;Otisak;Ikonica;Logotip;Faca;Zaporka;
Keywords[ca]=Entrada;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;
Keywords[ca@valencia]=Entrada;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;
Keywords[crh]=Giriş;İsim;Parmak izi;Kullanıcı simgesi;Logo;Yüz;Parola;
Keywords[cs]=přihlášení;jméno;otisk prstu;avatar;logo;obličej;heslo;
Keywords[da]=Logind;Navn;Fingeraftryk;Profilbillede;Logo;Ansigt;Adgangskode;
Keywords[de]=Anmeldung;Name;Benutzerkonto;Fingerabdruck;Avatar;Benutzerbild;Logo;Gesicht;Passwort;
Keywords[el]=Σύνδεση;Όνομα;Δακτυλικό αποτύπωμα;Avatar;Λογότυπο;Πρόσωπο;Συνθηματικό;Login;Name;Fingerprint;Logo;Face;Password;
Keywords[en_AU]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[en_GB]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[eo]=Ensaluto;Nomo;Fingropremo;Avataro;Logobildo;Vizaĵo;Pasvorto;
Keywords[es]=inicio;sesión;nombre;huella;avatar;logo;cara;contraseña;
Keywords[et]=Sisselogimine;Nimi;Sõrmejälg;Avatar;Logo;Nägu;Parool;Salasõna;
Keywords[eu]=Erabiltzaile-izena;Izena;Hatz-marka;Avatarra;Logotipoa;Aurpegia;Pasahitza;
Keywords[fa]=نام ورود;نام;اثرانگشت;آواتار;نشان;تصویرصورت;گذرواژه;
Keywords[fi]=kirjautuminen;nimi;sormenjälki;avatar;logo;kasvokuva;salasana;
Keywords[fr]=Connexion;Nom;Empreinte;Avatar;Logo;Visage;Tête;Mot de passe;
Keywords[fy]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Oanmelde;Namme;Gesicht;Wachtwurd;
Keywords[ga]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Logáil Isteach;Ainm;Méarlorg;Abhatár;Aghaidh;Focal Faire;
Keywords[gd]=Clàraich a-steach;Ainm;Meur-lorg;Avatar;Suaicheantas;Aodann;Facal-faire;
Keywords[gl]=Inicio de sesión;Nome;Pegada dixital;Avatar;Logotipo;Cara;Contrasinal;
Keywords[gu]=પ્રવેશ;નામ;આંગળીછાપન;અવતાર;લૉગો;ચહેરો;પાસવર્ડ;
Keywords[he]=כניסה;שם;טביעת אצבע;תמונה אישית;לוגו;פרצוף;פנים;ססמה;
Keywords[hi]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[hr]=Prijava;Ime;Otisak prsta;Avatar;Logo;Lice;Lozinka;
Keywords[hu]=Bejelentkezés;Név;Ujjlenyomat;Avatar;Logó;Arckép;Jelszó;
Keywords[id]=Login;Nama;Sidik jari;Avatar;Logo;Muka;Sandi;
Keywords[it]=Login;Accesso;Nome;Impronta;Avatar;Logo;Faccia;Password;
Keywords[ja]=User Accounts;Login;Name;Fingerprint;Avatar;Logo;Face;Password;ログイン;名前;指紋;アバター;ロゴ;顔;パスワード;
Keywords[km]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[kn]=ಪ್ರವೇಶ;ಹೆಸರು;ಬೆರಳಗುರುತ;ಅವತಾರ;ಲಾಂಛನ;ಮುಖ;ಗುಪ್ತಪದ;
Keywords[ko]=Login;로그인;Name;이름;Fingerprint;지문;Avatar;아바타;Logo;로고;Face;얼굴;Password;암호;비밀 번호;
Keywords[lt]=Prisijungimo vardas;Vardas;Piršo atspaudas;Atvaizdas;Logotipas;Veidas;Slaptažodis;
Keywords[lv]=Lietotājs;Vārds;Pirkstu nospiedumi;Avatar;Logo;Seja;Parole;Login;Name;Fingerprint;Face;Password;
Keywords[mk]=Најава;Има;Отпечаток;Аватар;Лого;Лице;Лозинка;
Keywords[ml]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[mr]=लॉगिन;नाव;फिंगरप्रिंट;अवतार;चिन्ह;फेस;पासवर्ड;
Keywords[ms]=Daftar Masuk;Nama;Cap Jari;Avatar;Logo;Wajah;Kata Laluan;
Keywords[nb]=Login;Navn;Fingeravtrykk;Avatar;Logo;Ansikt;Passord;
Keywords[nl]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Aanmelden;Inloggen;Vingerafdruk;Gezicht;Wachtwoord;
Keywords[nn]=Innlogging;Namn;Fingeravtrykk;Personbilete;Logo;Fjes;Passord
Keywords[oc]=Connexion;Nom;Emprencha;Avatar;Lògo;Visatge;Tèsta;Senhal;
Keywords[or]=ଲଗଇନ;ନାମ;ଅଙ୍ଗୁଳି ଚିହ୍ନ;ଅଭତାର;ପ୍ରତୀକ;ମୁହଁ;ପ୍ରବେଶ ସଂକେତ;
Keywords[pa]=ਲਾਗਇਨ;ਨਾਂ;ਫਿੰਗਰਪਰਿੰਟ;ਅਵਤਾਰ;ਲੋਗੋ;ਚਿਹਰਾ;ਪਾਸਵਰਡ;
Keywords[pl]=Login;Logowanie;Nazwa;Odcisk palców;Odcisk linii papilarnych;Avatar;Awatar;Logo;Twarz;Hasło;
Keywords[pt]=Iniciar Sessão;Nome;Impressões Digitais;Imagem de Perfil;Logotipo;Face;Senha;
Keywords[pt_BR]=Iniciar sessão;Nome;Impressão digital;Avatar;Logotipo;Face;Senha;
Keywords[ro]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Autentificare;Nume;Amprentă;Amprente;Față;Parolă;
Keywords[ru]=Вход;Имя;Отпечаток;Аватар;Логотип;Лицо;Пароль;
Keywords[sk]=Prihlásenie;Meno;Odtlačok prsta;Podobizeň;Logo;Tvár;Heslo;
Keywords[sl]=Prijava;Ime;Prstni odtis;Podoba;Logotip;Obraz;Geslo;
Keywords[sq]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[sr]=Пријављивање;Име;Отисак прстију;Аватар;Лого;Лице;Лозинка;
Keywords[sr@latin]=Prijavljivanje;Ime;Otisak prstiju;Avatar;Logo;Lice;Lozinka;
Keywords[sv]=Inloggning;Namn;Fingeravtryck;Avatar;Logotyp;Ansikte;Lösenord;
Keywords[ta]=உள்புகுகை;பெயர்;விரல்ரேகை;அவதாரம்;லோகோ;முகம்;கடவுச்சொல்;
Keywords[te]=ప్రవేశించు;పేరు;వేలిముద్ర;అవతారం;చిహ్నం;ముఖం;సంకేతపదం;
Keywords[tg]=Воридшавӣ;Ном;Нақши ангушт;Аватар;Тамға;Рӯй;Парол;
Keywords[th]=เข้าระบบ;ชื่อ;ลายนิ้วมือ;รูปแทนตัว;โลโก้;รูปหน้า;รหัสผ่าน;
Keywords[tr]=Giriş;İsim;Parmak izi;Kullanıcı simgesi;Logo;Yüz;Parola;
Keywords[ug]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;تىزىمغا كىر;ئات;بارماق ئىزى;سىما;تۇغ;چىراي;ئىم;
Keywords[uk]=Вхід;Назва;Відбитки;Аватар;Логотип;Лице;Пароль;
Keywords[uz]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[vi]=Login;Đăng;nhập;Dang;nhap;Name;Tên;Ten;Fingerprint;Vân;tay;Van;Avatar;Logo;Face;Mặt;Mat;Password;Mật;khẩu;mã;Mat;khau;ma;
Keywords[zh_CN]=登录;名称;指纹;头像;标志;密码;Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[zh_HK]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登入;姓名;指紋;大頭貼;標誌;臉;密碼;
Keywords[zh_TW]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登入;姓名;指紋;大頭貼;標誌;臉;密碼;
X-Ubuntu-Gettext-Domain=unity-control-center
