[Desktop Entry]
Encoding=UTF-8
Name=FreeCAD
Name[es]= FreeCAD
Comment[es]= FreeCAD
Icon=freecad
Exec=/usr/share/freecad/freecad.AppImage 
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false