[Desktop Entry]
Version=1.0
Name=Primary MAX branding
Name[es]=Personalización infantil primaria
GenericName=Web Browser
GenericName[es]=Navegador web
Exec=firefox http://max.educa.madrid.org/manual/personalizacin_para_infantil_y_primaria.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=Application;Internet;Network;WebBrowser;
StartupWMClass=Firefox
StartupNotify=true
