Source: max-artwork
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
#Build-Depends: debhelper (>= 4.0.0), cdbs, intltool, libusplash-dev, librsvg2-bin, libglib2.0-dev, ubuntu-docs, imagemagick, librsvg2-bin
Build-Depends: debhelper (>= 7.0.0), cdbs,
               gnome-common,
               libglib2.0-dev, autotools-dev,
               automake, autoconf,
               libtool, dh-autoreconf
Standards-Version: 3.8.4

Package: max-artwork
Architecture: all
Depends: gtk3-engines-unico, gtk2-engines-murrine, lightdm | gdm | lxdm | gdm-2.20, plymouth-max, max-artwork-icon-maxtoon
Provides: ubuntu-artwork, edubuntu-artwork, xubuntu-artwork, kubuntu-artwork, gdm-theme, desktop-base, mythbuntu-gdm-theme
Replaces: desktop-base, mythbuntu-gdm-theme
Conflicts: desktop-base, mythbuntu-gdm-theme
Description: MaX themes and artwork
 This package contains MaX themes, artwork and default settings.

