Source: max-artwork
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
#Build-Depends: debhelper (>= 4.0.0), cdbs, intltool, libusplash-dev, librsvg2-bin, libglib2.0-dev, ubuntu-docs, imagemagick, librsvg2-bin
Build-Depends: debhelper (>= 7.0.0), cdbs, imagemagick, librsvg2-bin
Standards-Version: 3.8.4

Package: max-artwork
Architecture: all
Depends: gtk2-engines-murrine, gdm | lxdm | gdm-2.20, grub-pc, plymouth-max
Provides: ubuntu-artwork, edubuntu-artwork, xubuntu-artwork, kubuntu-artwork, gdm-theme, desktop-base, mythbuntu-gdm-theme
Replaces: desktop-base, mythbuntu-gdm-theme
Conflicts: desktop-base, mythbuntu-gdm-theme
Description: MaX themes and artwork
 This package contains MaX themes, artwork and default settings.

#Package: max-artwork-usplash
#Architecture: any
#Depends: usplash, ${shlibs:Depends}
#Description: MaX artwork for usplash
# This is us the usplash startup screen for MaX.
