Source: max-libreoffice
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.4

Package: max-libreoffice-core
Architecture: all
Depends: libreoffice-calc,
	libreoffice-draw,
	libreoffice-writer,
	libreoffice-math,
	libreoffice-impress,
	libreoffice-gnome,
	libreoffice-gtk,
	libreoffice-help-es,
	libreoffice-l10n-es,
	libreoffice-style-human,
	libreoffice-thesaurus-es,
	openoffice.org-hyphenation
Description: Dependencias de LibreOffice para MAX
 Metapaquete que instala LibreOffice en MAX

Package: max-libreoffice
Architecture: all
Depends: libreoffice,
	max-libreoffice-core,
	libreoffice-pdfimport,
#	libreoffice-presentation-minimizer,
#	openclipart-libreoffice
Description: Dependencias de LibreOffice para MAX
 Metapaquete que instala LibreOffice en MAX


