[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/jclicreports
Icon=/usr/share/jclic/icons/reports.png
X-GNOME-DocPath=
Terminal=false
Name=Jclic Reports
Name[es]=Jclic Reports
GenericName[es]=Jclic Reports
Comment[es]=Jclic Reports
Categories=Clic
