[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/jclicauthor
Icon=/usr/share/jclic/icons/author.png
X-GNOME-DocPath=
Terminal=false
Name=Jclic Author
Name[es]=Jclic Author
GenericName[es]=Jclic Author
Comment[es]=Jclic Author
Categories=Clic
