[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name[es_ES]=xbindkeys
Comment[es_ES]=Toshiba rotate
Comment=Toshiba rotate
Exec=xbindkeys
X-GNOME-Autostart-enabled=true
