[Desktop Entry]
Name=EdiLIM
Version=1.0
TryExec=edilim
Exec=edilim
Comment=
Icon=/usr/share/edilim/limlogo.jpg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Education
