Source: chromium-browser
Section: contrib
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: wget, debhelper (>=11)
Standards-Version: 4.6.2.0

Package: chromium
Architecture: amd64
Depends: python3 (>= 3.3), perl, libgbm1, libgl1, libglx-mesa0, libgtk-3-0, libnss3, libsecret-1-0, libxss1, shared-mime-info, libxshmfence1
Conflicts: chromium-browser-l10n (<=131.0), chromium-chromedriver  (<=131.0), chromium-codecs-ffmpeg  (<=131.0), chromium-codecs-ffmpeg-extra  (<=131.0), chromium-common  (<=131.0), chromium-driver  (<=131.0), chromium-l10n  (<=131.0), chromium-sandbox  (<=131.0), chromium-shell  (<=131.0)
Breaks: chromium-browser-l10n (<=131.0), chromium-chromedriver  (<=131.0), chromium-codecs-ffmpeg  (<=131.0), chromium-codecs-ffmpeg-extra  (<=131.0), chromium-common  (<=131.0), chromium-driver  (<=131.0), chromium-l10n  (<=131.0), chromium-sandbox  (<=131.0), chromium-shell  (<=131.0)
Replaces: chromium-browser-l10n (<=131.0), chromium-chromedriver  (<=131.0), chromium-codecs-ffmpeg  (<=131.0), chromium-codecs-ffmpeg-extra  (<=131.0), chromium-common  (<=131.0), chromium-driver  (<=131.0), chromium-l10n  (<=131.0), chromium-sandbox  (<=131.0), chromium-shell  (<=131.0)
Description: web browser that aims to build a safer, faster, and more stable 
 internet browsing experience, This package contains the web browser component.
