Source: ubufox
Section: web
Priority: optional
Maintainer: Alexander Sack <asac@ubuntu.com>
Build-Depends: debhelper (>= 5), cdbs, quilt, mozilla-devscripts, zip
XS-Vcs-Bzr: https://code.launchpad.net/~ubuntu-core-dev/ubufox/ubuntu/
Standards-Version: 3.7.2.1

Package: ubufox
Architecture: all
Depends: firefox | firefox-3.0 | firefox-2, apturl (>= 0.1.2ubuntu1)
Description: Ubuntu Firefox specific configuration defaults and apt support
 Extension package for Firefox provides ubuntu specific configuration defaults
 as well as apt support for firefox plugins/extensions.
 .
 You can uninstall this package if you prefer to use a pristine firefox
 install.

