[Desktop Entry]
Version=1.0
Type=Application
Name=Equipo
Comment=Equipo
Exec=/usr/bin/max-computer
Icon=computer
Path=
Terminal=false
StartupNotify=true
