[Desktop Entry]
Version=1.0
Type=Application
Name=Equipo
Comment=Equipo
Exec=thunar computer://
Icon=computer
Path=
Terminal=false
StartupNotify=false
OnlyShowIn=XFCE;
