[Desktop Entry]
Version=1.0
Type=Application
Name=Equipos de red
Comment=Equipos de red
Exec=thunar network://
Icon=network
Path=
Terminal=false
StartupNotify=false
OnlyShowIn=XFCE;
