Package: max-mate-libreoffice-draw-icons
Source: max-mate-settings
Version: 9.0max1
Architecture: all
Maintainer: Ubuntu MATE Team <ubuntu-mate-dev@lists.launchpad.net>
Installed-Size: 53
Depends: libreoffice-draw
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubuntu-mate/
Description: Ubuntu MATE desktop icons for LibreOffice draw
 Slightly modified LibreOffice draw .desktop files, for
 Ubuntu MATE, that reduce menu clutter.
