#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/dpatch.mk


install/max-gnome-default-settings::
	find $(CURDIR)/debian/max-gnome-default-settings -type d -name .svn | xargs rm -rf --
	install -m 755 maxgconf.sh $(CURDIR)/debian/max-gnome-default-settings/usr/bin/maxgconf


install/max-gnome-default-settings-infantil-primaria::
	find $(CURDIR)/debian/max-gnome-default-settings-infantil-primaria -type d -name .svn | xargs rm -rf --
