
[Desktop Entry]
Encoding=UTF-8
Name=Adobe Reader 8
MimeType=application/pdf;application/vnd.fdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfdf;
Exec=acroread 
Type=Application
DocPath=
GenericName=PDF Viewer
GenericName[da]=PDF-fremviser
GenericName[de]=PDF-Betrachter
GenericName[es]=Visor de documentos PDF
GenericName[fi]=PDF-Näyttäjä
GenericName[fr]=Afficheur PDF
GenericName[it]=Visualizzatore PDF
GenericName[ja]=PDFビューア
GenericName[ko]=PDF 보기
GenericName[nl]=PDF-weergaveprogramma
GenericName[nn]=PDF-lesar
GenericName[pt_BR]=Visualizador de arquivos PDF
GenericName[sv]=PDF-visare
GenericName[zh_CN]=PDF 查看器
GenericName[zh_TW]=PDF 檢視程式
Terminal=false
Icon=AdobeReader8.png
Caption=PDF Viewer
X-KDE-StartupNotify=false

Categories=Office;Viewer;
Name[de]=Adobe Reader
Name[de]=Adobe Reader
Name[es]=Adobe Reader
Name[fi]=Adobe Reader
Name[fr]=Adobe Reader
Name[it]=Adobe Reader
Name[ja]=Adobe Reader
Name[ko]=Adobe Reader
Name[nl]=Adobe Reader
Name[nn]=Adobe Reader
Name[pt_BR]=Adobe Reader
Name[sv]=Adobe Reader
Name[zh_CN]=Adobe Reader
Name[zh_TW]=Adobe Reader
Name[nb_no]=Adobe Reader
GenericName[nb_no]=PDF-visning
InitialPreference=7
Name[es_ES]=Adobe Reader
Icon[es_ES]=AdobeReader8
