
[Desktop Entry]
Encoding=UTF-8
Name=Blender 3D modeller (windowed)
Name[ru]=Редактор 3D-моделей Blender (windowed)
Name[fr]=Blender - modeleur 3D (fenêtré)
Comment=Create and edit 3D models and animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Comment[fr]=Création et édition d'objets 3D et animations
Exec=blender -w
Icon=blender.svg
Terminal=false
Type=Application
Categories=Application;Graphics;
StartupNotify=false
MimeType=application/x-blender
Name[es_ES]=Blender 3D
Comment[es_ES]=Create and edit 3D models and animations
Icon[es_ES]=blender
