[Desktop Entry]
Categories=Application;Utility;
Comment=Analyze Bluetooth traces
Comment[es]=Analizar la señal de Bluetooth
Comment[eu]=Analizatu Bluetooth-en aztarnak
Comment[fi]=Bluetooth-jälkien analysointi
Comment[ja]=Bluetooth のトレースの解析
Comment[mn]=Блүтүүт шинжээч трэсүүд
Comment[pl]=Analizowanie ruchu Bluetooth
Comment[ru]=Проанализировать отладочные протоколы
Comment[sv]=Analysera blåtandsdata
Comment[zh_TW]=分析藍芽追蹤檔
Encoding=UTF-8
Exec=bluetooth-analyzer
Icon=bluetooth
MimeType=application/x-hcidump;application/x-btsnoop;application/x-pktlog;
Name=Bluetooth Analyzer
Name[be]=Аналізатар Bluetooth
Name[ca]=Analitzador del Bluetooth
Name[en_GB]=Bluetooth Analyser
Name[es]=Analizador de Bluetooth
Name[eu]=Bluetooth-aren analizatzailea
Name[fi]=Bluetooth-analysoija
Name[fr]=Analyseur Bluetooth
Name[he]=מנתח Bluetooth
Name[hu]=Bluetooth elemző
Name[id]=Penganalisis Bluetooth
Name[it]=Analizzatore Bluetooth
Name[ja]=Bluetooth アナライザー
Name[ko]=블루투스 분석기
Name[lv]=Bluetooth analizētājs
Name[mn]=Блүтүүт шинжээч
Name[pl]=Analizator Bluetooth
Name[pt]=Analisador Bluetooth
Name[pt_BR]=Analisador Bluetooth
Name[ro]=Analizator Bluetooth
Name[ru]=Анализатор Bluetooth
Name[sk]=Analyzátor Bluetooth
Name[sv]=Blåtandsanalysator
Name[zh_CN]=蓝牙分析器
Name[zh_TW]=藍芽分析器
NoDisplay=false
OnlyShowIn=GNOME;
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=bluetooth-manager
