[Desktop Entry]
Categories=GNOME;GTK;Utility;Accessibility;
Comment=Type and navigate applications using alternative input devices
Comment[ar]=اكتب و ابحر في تطبيقات باستعمال اجهزة ادخال بديلة
Comment[bg]=Въвеждане и ползване на приложенията с алтернативни устройства за вход
Comment[bn_IN]=বিকল্প ডিভাইসের সাহায্যে টাইপ করুন ও অ্যাপ্লিকেশনের মধ্যে চলাচল করুন
Comment[ca]=Teclegeu i feu servir aplicacions amb dispostitius d'entrada alternatius
Comment[da]=Indtast og styr programmer ved brug af alternative input-enheder
Comment[de]=Mit alternativen Eingabegeräten schreiben und in Anwendungen bewegen
Comment[dz]=ཐབས་གཞན་གྱི་ཨིན་པུཊི་ཐབས་འཕྲུལ་ཚུ་ལག་ལེན་འཐབ་སྟེ་  གློག་རིམ་ཚུ་ཡིག་དཔར་བརྐྱབ་ནི་དང་འགྲུལ་སྤྱོད་འབད།
Comment[en_CA]=Type and navigate applications using alternative input devices
Comment[en_GB]=Type and navigate applications using alternative input devices
Comment[es]=Escriba y navegue por las aplicaciones usando dispositivos de entrada alternativos
Comment[eu]=Idatzi eta arakatu aplikazioak bestelako sarrerako gailuak erabiliz
Comment[fi]=Kirjoita ja liiku sovelluksissa käyttäen vaihtoehtoisia syötelaitteita
Comment[fr]=Saisie et navigation dans les applications via des périphériques d'entrée alternatifs
Comment[gu]=વૈકલ્પિક ઈનપુટ ઉપકરણોની મદદથી કાર્યક્રમો લખો અને ખોળો
Comment[hu]=Gépelés alternatív beviteli eszközökkel
Comment[it]=Digita e naviga le applicazioni utilizzando dispositivi di input alternativi
Comment[ja]=別の入力デバイスを使って入力したりアプリケーションを操作します
Comment[lt]=Spausdinti ir naudoti programas alternatyviais įvedimo įrenginiais
Comment[mk]=Пишувајте и управувајте со апликации со користење на алтернативни влезни уреди
Comment[nb]=Skriv og naviger i programmer med bruk av alternative inndataenheter.
Comment[nl]=Typen en navigeren in programma's via alternatieve invoerapparaten
Comment[pa]=ਬਦਲਵੇਂ ਇੰਪੁੱਟ ਜੰਤਰਾਂ ਨਾਲ ਕਾਰਜਾਂ ਵਿੱਚ ਲਿਖੋ ਅਤੇ ਜਾਓ
Comment[pl]=Umożliwia pisanie i nawigowanie w aplikacjach za pomocą alternatywnych urządzeń wejściowych
Comment[pt]=Introduza texto e navegue nas aplicações utilizando dispositivos de entrada alternativos
Comment[pt_BR]=Digite e navegue por aplicativos usando dispositivos de entrada alternativa
Comment[ru]=Перемещаться между приложениями и вводить текст, используя альтернативные устройства ввода
Comment[sv]=Skriv och navigera i program med alternativa inmatningsenheter
Comment[ta]=மற்ற உள்ளீட்டு சாதனங்களை பயன்படுத்தி தட்டச்சவும் மற்றும் பயன்பாடுகளில் உலாவவும்.
Comment[uk]=Переміщення між програмами та введення тексту, використовуючи альтернативні пристрої вводу
Comment[vi]=Gõ vào và duyệt qua các ứng dụng, dùng thiết bị gõ xen kẽ
Comment[zh_CN]=使用其它输入设备来打字或浏览应用程序
Encoding=UTF-8
Exec=gok
Icon=gok.png
Name=On-Screen Keyboard
Name[ar]=لوحة المفاتيح الموجودة على الشاشة
Name[az]=Ekran Üstü Klaviatura
Name[be]=Клявіятура на экране
Name[bg]=Екранна клавиатура
Name[bn]=স্ক্রীনস্থিত কীবোর্ড
Name[bn_IN]=স্ক্রিনের উপরে অবস্থিত কি-বোর্ড
Name[ca]=Teclat en pantalla
Name[cs]=Klávesnice na obrazovce
Name[cy]=Bysellfwrdd Ar Sgrin
Name[da]=Skærmtastatur
Name[de]=Bildschirmtastatur
Name[dz]=གསལ་གཞི་གུའི་ལྡེ་སྒྲོམ།
Name[el]=Πληκτρολόγιο Οθόνης
Name[en_CA]=On-Screen Keyboard
Name[en_GB]=On-Screen Keyboard
Name[es]=Teclado en pantalla
Name[et]=Ekraaniklaviatuur
Name[eu]=Pantailako teklatua
Name[fa]=صفحه‌کلید روی صفحه
Name[fi]=Näppäimistö näytöllä
Name[fr]=Clavier visuel à l'écran
Name[gl]=Teclado en pantalla
Name[gu]=સ્ક્રિન પરનું કીબોર્ડ
Name[hi]=ऑन-स्क्रीन कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Képernyő-billentyűzet
Name[id]=Papan Ketik Visual
Name[it]=Tastiera a schermo
Name[ja]=オンスクリーン・キーボード
Name[ka]=ეკრანის კლავიატურა
Name[ko]=화면 키보드
Name[lt]=Vaizdinė klaviatūra
Name[lv]=Ekrāna tastatūra
Name[mk]=Екранска тастатура
Name[mn]=Дэлгэц гар
Name[ms]=Papan Kekunci Pada-Skrin
Name[nb]=Skjermtastatur
Name[ne]=पर्दामा कुन्जिपाटि
Name[nl]=Schermtoetsenbord
Name[oc]=Clavièr virtual
Name[or]=ଅନ-ସ୍କ୍ରିନ କି-ବୋର୍ଡ
Name[pa]=ਸਕਰੀਨ ਉੱਤੇ ਕੀਬੋਰਡ
Name[pl]=Klawiatura ekranowa
Name[pt]=Teclado No Ecrã
Name[pt_BR]=Teclado na Tela
Name[ro]=Tastatură pe ecran
Name[ru]=Экранная клавиатура
Name[sk]=Obrazovková klávesnica
Name[sl]=Zaslonska tipkovnica
Name[sq]=Tastierë në ekran
Name[sr@Latn]=Tastatura na ekranu
Name[sr]=Тастатура на екрану
Name[sv]=Skärmtangentbord
Name[ta]=திரையில்-உள்ள விசைப்பலகை
Name[te]=తెర-పై మీటల పలకం
Name[th]=แป้นพิมพ์บนจอ
Name[tr]=Ekran Klavyesi
Name[uk]=Екранна клавіатура
Name[vi]=Bàn phím trên màn hình
Name[zh_CN]=屏幕上的键盘
Name[zh_HK]=畫面鍵盤
Name[zh_TW]=畫面鍵盤
NoDisplay=false
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=gok
X-Ubuntu-Gettext-Domain=gok
