[Desktop Entry]
Type=Application
Exec=keep
Icon=keep
GenericName=Backup System
GenericName[bg]=Резервен копие на системата
GenericName[br]=Gwareziñ ar reizhiad
GenericName[cs]=Zálohování systému
GenericName[cy]=System cadw wrth gefn
GenericName[da]=Sikkerhedskopieringssystem
GenericName[de]=Datensicherungssystem
GenericName[el]=Σύστημα λήψης αντιγράφων ασφαλείας
GenericName[es]=Sistema de copia de seguridad
GenericName[et]=Varundamissüsteem
GenericName[fr]=Sauvegarde du système
GenericName[ga]=Córas Cúltaca
GenericName[gl]=Sistema de Cópias de Seguridade
GenericName[it]=Sistema copia di sicurezza
GenericName[ja]=バックアップシステム
GenericName[ka]=სისტემის სარეზერვო ასლი
GenericName[lt]=Atsarginių kopijų programa
GenericName[nl]=Backupsysteem
GenericName[pl]=Narzędzie do kopii zapasowych
GenericName[pt]=Sistema de Cópias de Segurança
GenericName[sk]=Zálohovací systém
GenericName[sr]=Систем за архивирање
GenericName[sr@Latn]=Sistem za arhiviranje
GenericName[sv]=Säkerhetskopieringssystem
GenericName[xx]=xxBackup Systemxx
Terminal=false
Name=Keep
Name[cy]=Cadw
Name[fr]=Keep 
Name[ka]=დატოვება
Name[lt]=Nekeisti
Name[xx]=xxKeepxx
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Application;System;
Encoding=UTF-8
X-Ubuntu-Gettext-Domain=desktop_keep
