[Desktop Entry]
Categories=;
DocPath=keduca/index.html
Encoding=UTF-8
Exec=keducabuilder
GenericName=Tests & Exams Editor
GenericName[af]=Toetse & Eksamens Redigeerder
GenericName[ar]=محرّر اختبارات وامتحانات
GenericName[be]=Рэдактар тэстаў і экзаменаў
GenericName[bg]=Редактор на тестове и изпити
GenericName[bn]=পরীক্ষা সম্পাদক
GenericName[bs]=Editor testova i ispita
GenericName[ca]=Editor de proves i exàmens
GenericName[cs]=Editor pro testy a zkoušky
GenericName[csb]=Editora testów ë ekzaminów
GenericName[cy]=Golygydd Arbrofion ac Arholiadau
GenericName[da]=Test- &  eksamenseditor
GenericName[de]=Editor für Tests und Prüfungen
GenericName[el]=Επεξεργαστής τεστ & εξετάσεων
GenericName[eo]=Testa kaj ekzamena redaktilo
GenericName[es]=Editor de pruebas y exámenes
GenericName[et]=Testide ja eksamite redaktor
GenericName[eu]=Test eta azterketen editorea
GenericName[fa]=ویرایشگر آزمون و امتحان
GenericName[fi]=Testien ja kokeiden muokkain
GenericName[fr]=Éditeur de tests et examens
GenericName[ga]=Eagarthóir Teisteanna agus Scrúduithe
GenericName[gl]=Editor de Tests e Exames
GenericName[he]=עורך מבחנים
GenericName[hi]=जाँच व परीक्षा संपादक
GenericName[hr]=Uređivač provjera i ispita
GenericName[hu]=Tesztszerkesztő
GenericName[is]=Verkefna og prófa-ritill
GenericName[it]=Editor di prove ed esami
GenericName[ja]=テスト & 試験エディタ
GenericName[km]=កម្មវិធី​និពន្ធ​ការ​ប្រលង និង​សាកល្បង
GenericName[lt]=Testų ir egzaminų redaktorius
GenericName[lv]=Testu & Eksāmenu Redaktors
GenericName[mk]=Уредувач на Тестови и испити
GenericName[mn]=Тест ба Шалгалтын-Засвар
GenericName[ms]=Penyunting Ujian dan Peperiksaan
GenericName[nb]=Redigerer for prøver og eksamener
GenericName[nds]=Editor för Pröven un Examens
GenericName[ne]=परीक्षण र जाँच सम्पादक
GenericName[nl]=Toetsen- & examens-editor
GenericName[nn]=Redigering av testar og prøvar
GenericName[nso]=Mofetosi wa Diteko & Dihlahlobo
GenericName[pa]=ਟੈਸਟ ਜਾਂ ਪਰੀਖਿਆ ਸੰਪਾਦਕ
GenericName[pl]=Edytor testów i egzaminów
GenericName[pt]=Editor de Testes & Exames
GenericName[pt_BR]=Editor de testes e exames
GenericName[ru]=Редактор тестов и экзаменов
GenericName[se]=Doaimmat geahččalemiid ja eksameniid
GenericName[sk]=Editor pre testy a skúšky
GenericName[sl]=Urejevalnik preizkusov in izpitov
GenericName[sr@Latn]=Uređivač za testove i ispite
GenericName[sr]=Уређивач за тестове и испите
GenericName[sv]=Prov- och examenseditor
GenericName[ta]=சோதனைகள் மற்றும் தேர்வுகள் தொகுப்பான்
GenericName[tg]=Таҳрири Санҷиш ва Имтиҳон
GenericName[tr]=Sınav ve Test Düzenleyici
GenericName[uk]=Редактор тестів та екзаменів
GenericName[ven]=linga & Musengulusi wa mulingo
GenericName[vi]=Trình soạn thảo Kiểm tra & Thi
GenericName[xh]=Umhleli Wovavanyo Noviwo
GenericName[zh_CN]=测验和试卷编辑器
GenericName[zh_TW]=測試 & 考驗編輯器
GenericName[zu]=Izivivinyo kanye Nomhleli wokubhalwa kokuvivinywa
Hidden=false
Icon=keduca
MimeType=application/x-edu;application/x-edugallery;
Name=KEduca-Editor
Name[ar]=محرر التعليم ك
Name[bg]=Редактор на KEduca
Name[bn]=কে-এডুকা-সম্পাদক
Name[br]=Aozer KEduca
Name[cs]=Editor pro KEduca
Name[csb]=Editora do programù KEduca
Name[cy]=Golygydd KEduca
Name[da]=KEduca-editor
Name[el]=KEduca-επεξεργαστής
Name[eo]=KEduca redaktilo
Name[et]=KEduca redaktor
Name[fa]=ویرایشگر KEduca
Name[fi]=KEduca-editori
Name[fr]=Éditeur de KEduca
Name[gl]=Editor de KEduca
Name[hi]=के-एज़ुका-संपादक
Name[hr]=KEduca uređivač
Name[hu]=KEducabuilder
Name[is]=KEduca-Ritill
Name[it]=Editor di KEduca
Name[ja]=KEduca エディタ
Name[km]=កម្មវិធី​និពន្ធ KEduca
Name[lt]=KEduca redaktorius
Name[lv]=KEduca-Redaktors
Name[mk]=KEduca-Уредувач
Name[mn]=КСургалтын-Засвар
Name[ms]=Penyunting KEduca
Name[nb]=KEduca-redigerer
Name[ne]=केडीई एडु-सम्पादक
Name[nn]=KEduca-redigering
Name[pa]=ਕੇ-ਪ੍ਰੀਖਿਆ ਸੰਪਾਦਕ
Name[pl]=Edytor do programu KEduca
Name[pt]=Editor do KEduca
Name[se]=KEduca-doaimmaheapmi
Name[sk]=Editor pre KEduca
Name[sl]=Urejevalnik KEduca
Name[sr@Latn]=KEduca-uređivač
Name[sr]=KEduca-уређивач
Name[sv]=Keduca-editor
Name[ta]=கேயிடியுகா-தொகுப்பான்
Name[tg]=Муҳаррири KEduca
Name[tr]=KEduca Düzenleyici
Name[uk]=Редактор KEduca
Name[ven]=Musengulusi wa pfunzo ya K
Name[vi]=Trình soạn thảo KEduca
Name[xh]=KEduca-Umhleli
Name[zh_CN]=KEduca 编辑器
Name[zh_TW]=KEduca-編輯器
Name[zu]=Umhleli we-KEduca
Path=
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-Ubuntu-Gettext-Domain=desktop_kdeedu
