[Desktop Entry]
Categories=;
Comment=Plataforma e-learning
Comment[es]=Moodle
Exec=maxmoodle
GenericName=Moodle
Hidden=false
Icon=moodle.png
Name=Moodle
StartupNotify=false
Terminal=false
Type=Application
