[Desktop Entry]
Categories=;
Comment=Programming system and content development tool
Exec=squeak
Hidden=false
Icon=squeak-32
MimeType=application/x-image;application/squeak-image;application/squeak-project;
Name=Squeak
Terminal=false
Type=Application
