#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

export GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

#trunk
URL=http://ardesia.googlecode.com/svn/trunk/

#tags
URL=http://ardesia.googlecode.com/svn/tags/0.8/

clean::
	rm -rf ardesia-read-only


build/max-ardesia:: build-stamp


build-stamp:
	if [ ! -d ardesia-read-only ]; then svn checkout $(URL) ardesia-read-only; fi

	# build ardesia
	cd ardesia-read-only/ardesia && ./autogen.sh --prefix=/usr && make

	# build curtain
	cd ardesia-read-only/curtain && ./autogen.sh --prefix=/usr && make

	# build spotlighter
	cd ardesia-read-only/spotlighter && ./autogen.sh --prefix=/usr && make


	# build magnifier
	cat debian/make.sh > ardesia-read-only/magnifier/make.sh
	cd ardesia-read-only/magnifier && make

	# build florence-ramble
	cat debian/overrides/florence-ramble_src_applet.c > ardesia-read-only/florence-ramble/src/applet.c
	cd ardesia-read-only/florence-ramble && ./autogen.sh --prefix=/usr --without-docs --with-gconf-schema-file-dir=/usr/share/gconf/schemas && make

	touch build-stamp


install/ardesia::
	cd ardesia-read-only/ardesia && make install DESTDIR=$(CURDIR)/debian/ardesia

install/curtain::
	cd ardesia-read-only/curtain && make install DESTDIR=$(CURDIR)/debian/curtain

install/spotlighter::
	cd ardesia-read-only/spotlighter && make install DESTDIR=$(CURDIR)/debian/spotlighter

install/magnifier::
	cd ardesia-read-only/magnifier && make install DESTDIR=$(CURDIR)/debian/magnifier

install/florence::
	cd ardesia-read-only/florence-ramble && make install DESTDIR=$(CURDIR)/debian/florence
	dh_gconf
