#!/usr/bin/make -f
export DH_VERBOSE = 1

VERSION=2.7.0
#URL1=http://localhost/remote-files/twine-${VERSION}.tar.gz 
URL1=https://github.com/klembot/twinejs/archive/refs/tags/${VERSION}.tar.gz


%:
	dh $@


override_dh_clean:
	dh_clean
	if [ -d build2 ]; then rm -rf build; fi 


override_dh_auto_build:
	
	mkdir -p build2 &&  cd build2 && wget --no-check-certificate ${URL1} ;
	if [ -f build2/${VERSION}.tar.gz ]; then cd build2/ && tar xzvf ${VERSION}.tar.gz ; fi	
	mv build2/twinejs-${VERSION}/ build2/twine
	find build2/twine/public/locales/ -type f \( ! -iname "es*" ! -iname "en*" \) -exec rm -f {} \;


