#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/geogebra::
	# clean svn dirs
	find $(CURDIR)/debian/geogebra -type d -name .svn | xargs rm -rf --

	dh_link /usr/share/geogebra/geogebra /usr/bin/geogebra


