Source: max-obs-captions-plugin
Section: max
Priority: extra
Maintainer: Mario Izquierdo Rodríguez (Thinetic Systems SLNE) <mario.izquierdo@thinetic.es>
Build-Depends: debhelper (>= 9), curl, unzip, obs-studio
Standards-Version: 3.8.3
Homepage: https://github.com/ratwithacompiler/OBS-captions-plugin

Package: obs-captions-plugin
Architecture: any
Depends: obs-studio, ${shlibs:Depends}, ${misc:Depends}
Description: Provides closed captioning via Google Cloud Speech Recognition API as a standalone OBS plugin
 Provides closed captioning via Google Cloud Speech Recognition API as a standalone OBS plugin
