Source: max-apt
Section: max
Priority: optional
Maintainer: Mario Izquierdo Rodriguez (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4), cdbs
Standards-Version: 3.7.2

Package: max-apt
Architecture: all
Depends: file, util-linux
Description: APT files from MaX 5.0
 update-manager URI for MaX 5.0 release

