# MaX create link from input device 1bfd:1688 EeePC
KERNEL=="event*",SUBSYSTEM=="input",ATTRS{idVendor}=="1bfd",ATTRS{idProduct}=="1688",SYMLINK+="input/evtouch"
