Source: max-edni
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs, wget, libopensc2-dev,
               libglib2.0-dev
Standards-Version: 3.7.3

Package: max-edni
Architecture: all
Depends: opensc, pinentry-gtk2 (>= 0.7.2-3) | pinentry-qt (>= 0.7.2-3) | pinentry-gtk (>= 0.7.2-3), debconf, ${shlibs:Depends}, ${misc:Depends}
Conflicts: opensc (<= 0.10.1-1), opensc-ceres (<= 2.0.0)
Replaces: opensc-ceres, libopensc-ceres-openssl, libopensc-ceres0, libopensc-ceres0-dev, libpam-opensc-ceres, libscam-ceres
Description: eDNI suport for MaX 4.0
 SmartCard library with support for Spanish national ID card (DNIe)
 This package contains the necessary libraries for DNIe.
 These libraries allow programs to access data, such as
 cryptographic keys, on specific PKCS#15 DNIe smart card.

