#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

URL=http://www.dnie.es/descargas/PKCS11_para_Sistemas_Unix/Ubunt_Gutsy.tar

clean-build-stamp:
	rm -rf build/ usr/* build-stamp

build-stamp:
	if [ ! -e build-stamp ]; then \
		rm -rf build/; \
		rm -rf usr/*; \
		mkdir build; \
		wget $(URL) -O- > build/pkg.tar; \
		tar -xf build/pkg.tar -C build; \
		dpkg --extract build/Ubunt_Gutsy/opensc-dnie_1.4.0-5_i386.deb $(CURDIR) ;\
		mv usr/share/doc/opensc-dnie usr/share/doc/max-edni ;\
		mkdir usr/opensc-dnie; \
		mv usr/share/doc/max-edni/* usr/opensc-dnie/; \
		mv usr/opensc-dnie usr/share/doc/max-edni/ ; \
	fi
	touch build-stamp

build/max-edni:: build-stamp

binary-install/max-edni::
	# clean svn dirs
	find $(CURDIR)/debian/max-edni -type d -name .svn | xargs rm -rf --
