#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=waterfox
Name[es]=waterfox 
Comment[es]=Navegador web waterfox
Icon=waterfox
Exec=/usr/share/waterfox/waterfox 
Terminal=false
Type=Application
Categories=Network;WebBrowser;Internet;
StartupNotify=true
