Source: max-gestion-conf
Section: max
Priority: optional
Maintainer: caumax <cau_max@educa.madrid.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 1.0

Package: max-gestion-conf
Depends: python3, libpam-tally2
Architecture: all 
Description: max-gestion-conf configure all files for max-mate-gestion.
