Source: max-gcompris-qt
Section: education
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
XSBC-Original-Maintainer: Yann Dirson <dirson@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-buildinfo,
               extra-cmake-modules,
               qtbase5-dev,
               libqt5sensors5-dev,
               libqt5svg5-dev,
               libqt5xmlpatterns5-dev,
               pkg-kde-tools,
               qml-module-qtgraphicaleffects,
               qml-module-qtmultimedia,
               qt5-qmake,
               qtdeclarative5-dev,
               qtmultimedia5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               libpulse-dev
Standards-Version: 3.9.7
Homepage: http://gcompris.net/


Package: gcompris-qt
Architecture: any
Depends: gcompris-qt-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: libqt5multimedia5-plugins
Description: Educational games for small children - experimental Qt rewrite
 A large collection of educational games for small children, designed
 to be a unified interface to integrate more educational games.
 .
 This is the rewrite of GCompris using Qt Quick technology.

Package: gcompris-qt-data
Architecture: all
Depends: ${misc:Depends}
Recommends: gcompris-qt (= ${source:Version})
Description: data files for gcompris-qt
 GCompris is a collection of educational games for small children.
 .
 This package contains the definitions of these standard boards, along
 with associated images.
