Source: max-storyboarder
Section: max
Priority: extra
Maintainer: Mario Izquierdo <hola@marioizquierdo.es>
Build-Depends: debhelper (>= 8.0.0), wget, squashfs-tools
Standards-Version: 3.9.3
Homepage: https://github.com/wonderunit/storyboarder

Package: storyboarder
Architecture: all
Depends: electron, ffmpeg, ${shlibs:Depends}, ${misc:Depends}
Description: Visualize a story as fast you can draw
 Storyboarder makes it easy to visualize a story as fast you can
 draw stick figures. Quickly draw to test if a story idea works.
 Create and show animatics to others. Express your story idea without making a movie.
