[Desktop Entry]
Version=1.0
Name=Configure profiles (homealumno)
Name[es]=Configurar perfiles (homealumno)
Exec=gksudo /usr/bin/homealumno-gui
Terminal=false
Type=Application
Icon=max.png
Categories=GNOME;Settings;System;DesktopSettings;Monitor
