#!/usr/bin/make -f

VERSION=0.12.2
#URL=https://github.com/lawl/NoiseTorch/releases/download/v$(VERSION)/NoiseTorch_x64_v$(VERSION).tgz
URL=https://github.com/noisetorch/NoiseTorch/releases/download/v$(VERSION)/NoiseTorch_x64_v$(VERSION).tgz
%:
	dh $@


override_dh_clean:
	dh_clean
	rm -rf build


override_dh_auto_build:
	mkdir -p build
	if [ ! -e build/NoiseTorch_x64_v$(VERSION).tgz ] ; then (cd build && curl -L -O $(URL)); fi
	if [ ! -e build/.local ]; then (cd build && tar -zxvf NoiseTorch_x64_v$(VERSION).tgz); fi

override_dh_strip:
	# do not strip

