Source: ubiquity-frontend-max
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs, python
Standards-Version: 3.8.1
XS-Vcs-Browser: http://max.educa.madrid.org:8000/browser/trunk/ubiquity-frontend-max

Package: ubiquity-frontend-max
Architecture: any
Depends: ubiquity, ubiquity-frontend-gtk, debconf-utils, nanomax-installer
Description: Some files to custom ubiquity installer
 Contains:
  * MaX gui of ubiquity installer
  * Dpsyco overwrite of Ubuntu ubiquity

