Source: ubiquity-frontend-max
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, dh-python, aa-debhelper
Standards-Version: 3.8.4
XS-Vcs-Browser: http://max.educa.madrid.org:8000/browser/trunk/ubiquity-frontend-max

Package: ubiquity-frontend-max
Architecture: all
Depends: ubiquity, ubiquity-frontend-gtk, debconf-utils, ubiquity-slideshow-max, ubiquity-frontend-max-bin
Conflicts: max-live (<< 7.0max5)
Description: Some files to custom ubiquity installer
 Contains:
  * MaX gui of ubiquity installer

