#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/aa-debhelper.mk

clean::
	find -name "*~" | xargs rm -f
#	#
#	#   CLEAN PYC files
#	#
#	python $(CURDIR)/compile-py-modules.py --clean
#
#
#build/ubiquity-frontend-max::
#	#
#	#  COMPILE PYC files
#	#
#	python $(CURDIR)/compile-py-modules.py --compile
