#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

clean::
	#
	#   CLEAN PYC files
	#
	python $(CURDIR)/compile-py-modules.py --clean


build:
	#
	#  COMPILE PYC files
	#
	python $(CURDIR)/compile-py-modules.py --compile


binary-install/ubiquity-frontend-max::
	# clean svn dirs
	find $(CURDIR)/debian/ubiquity-frontend-max -type d -name .svn | xargs rm -rf --
