Package: max-mate-libreoffice-math-icons
Source: max-mate-settings
Version: 9.0max1
Architecture: all
Maintainer: Ubuntu MATE Team <ubuntu-mate-dev@lists.launchpad.net>
Installed-Size: 52
Depends: libreoffice-math
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubuntu-mate/
Description: Ubuntu MATE desktop icons for LibreOffice math
 Slightly modified LibreOffice math .desktop files, for
 Ubuntu MATE, that reduce menu clutter.
