[Desktop Entry]
Encoding=UTF-8
Name=JClicAuthor
Comment=Educational application to generate exercices
Comment[es]=Programa educativo para generar ejercicios
Comment[ca]=Programa educatiu per a generar exercicis
Exec=/usr/bin/jclicauthor
Icon=/usr/share/jclic/icons/author.png
Terminal=0
Type=Application
Categories=Game;KidsGame;Teaching;
