<chart xmlns:py="http://genshi.edgewall.org/">
 <chart_type>
  <value>area</value>
  <value>area</value>
 </chart_type>

 <axis_category size="10" orientation="diagonal_up"
   skip="${len(data[0]) / 6}"/>
 <axis_ticks value_ticks="false" category_ticks="true" major_thickness="1"
   minor_thickness="0" major_color="000000" position="outside"/>

 <chart_data>
  <row py:for="idx, row in enumerate(data)">
   <py:choose py:for="jdx, value in enumerate(row)">
     <string py:when="not idx or not jdx">$value</string>
     <number py:otherwise="">$value</number>
   </py:choose>
  </row>
 </chart_data>

 <chart_border color="999999" left_thickness="1" bottom_thickness="1"/>
 <chart_grid_h alpha="5" color="666666" thickness="3"/>
 <chart_pref line_thickness="2" point_shape="none"/>
 <chart_value position="cursor"/>
 <series_color>
  <color>bbbbbb</color>
  <color>9999ff</color>
 </series_color>

 <legend_label layout="vertical" alpha="60"/>
 <legend_rect x="60" y="50" width="10"/>

 <draw>
  <text width="320" height="40" h_align="center" v_align="bottom"
        size="12">$title</text>
 </draw>

</chart>
