Source: jclicmoodle
Section: max
Priority: extra
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), wget, dpatch
Standards-Version: 3.7.3
Homepage: https://projectes.lafarga.cat/projects/jclic

Package: jclicmoodle
Architecture: any
Depends: moodle, jclic
Description: JClic moodle module
 JClic moodle module
