Source: max-firefox-conf
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
#Build-Depends: debhelper (>= 4.0.0), cdbs, dpatch, patchutils, mozilla-devscripts, zip, unzip, ca-certificates
Build-Depends: debhelper (>= 4.0.0), cdbs, dpatch, patchutils, tree
Standards-Version: 3.8.1

Package: max-firefox-conf
Architecture: all
Recommends: max-java-plugin
Depends: firefox, 
         firefox-locale-es, firefox-locale-en,
         apturl,
	 max-ubufox,
#NO#         firefox-greasemonkey, 
#NO#         firefox-downloadhelper, 
         xul-ext-procon-latte,
#NO#         firefox-stylish,
#NO#         xul-ext-flashblock,
         xul-ext-firebug,
         xul-ext-greasemonkey,
#Conflicts: firefox (<< 9.99), firefox (>= 10.1)
Description: Configuración de firefox para Ubuntu/MAX.
 Configuración basada en dpsyco/ubufox para firefox.
 Contiene bookmarks y preferencias del perfil de firefox.
