#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk


binary-install/max-firefox-conf::
	# clean svn dirs
	find $(CURDIR)/debian/max-firefox-conf -type d -name .svn | xargs rm -rf --
	find $(CURDIR)/debian/max-firefox-conf -type d -empty | xargs rm -rf --


	rm -rf $(CURDIR)/debian/max-firefox-conf/usr/share/dpsyco/skel/usr/share
	rm -rf $(CURDIR)/debian/max-firefox-conf/usr/share/dpsyco/skel/usr/lib
#	rm -rf $(CURDIR)/debian/max-firefox-conf/usr/share/dpsyco/skel/etc
