#!/usr/bin/make -f

VERSION=1_6_5

%:
	#
	#
	#
	#
	#
	# OBSOLETE use => max-autofirma2
	#
	#
	#
	#
	#
	#
	exit 1
	dh $@


override_dh_clean:
	dh_clean
	rm -rf build2


override_dh_auto_build:
	mkdir -p build2
	if [ ! -e build2/AutoFirma_Linux.zip ]; then (cd build2 && curl -L -O "http://estaticos.redsara.es/comunes/autofirma/currentversion/AutoFirma_Linux.zip"); fi
	if [ ! -e build2/usr ]; then (cd build2 && unzip -u AutoFirma_Linux.zip && dpkg --extract AutoFirma_$(VERSION).deb ./ && dpkg --control AutoFirma_$(VERSION).deb); fi

	rm -f build2/usr/lib/AutoFirma/AutoFirmaConfigurador.jar

#	rm -rf build2/scripts
#	mkdir -p build2/scripts
#
#
#	cat build2/DEBIAN/postinst > build2/scripts/autofirma-postinst
#	cat build2/DEBIAN/postrm   > build2/scripts/autofirma-postrm
#	cat build2/DEBIAN/preinst  > build2/scripts/autofirma-preinst
#	cat build2/DEBIAN/prerm    > build2/scripts/autofirma-prerm
#	chmod +x build2/scripts/*

