#!/usr/bin/make -f

DH_VERBOSE=1

#VERSION=5.0.474.0-624870
#VERSION=5.0.613.0-1930
VERSION=5.0.668.0-3930
DEB_HOST_ARCH   ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
URL="http://www.geogebra.net/linux/pool/main/g/geogebra5/geogebra5_$(VERSION)"

info:
	@echo VERSION=$(VERSION)

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf build


override_dh_auto_build:
	if [ ! -d build ]; then \
		mkdir build ;\
		( cd build && wget $(URL)_$(DEB_HOST_ARCH).deb && dpkg -x *deb ./); \
	fi

override_dh_auto_install:
	dh_install

