[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
TryExec=/usr/bin/jclic
Exec=firefox http://clic.xtec.net/es/act/index.htm
Icon=firefox
X-GNOME-DocPath=
Terminal=false
Name=Descarga de actividades
Name[es]=Descarga de actividades
GenericName[es]=Descarga de actividades
Comment[es]=Descarga de actividades
Categories=Application;Education;Clic

