#!/usr/bin/make -f

DH_VERBOSE=1

VERSION=2.3.3

URL="http://localhost/remote-files/arduino-ide_$(VERSION)_Linux_64bit.zip"

info:
	@echo VERSION=$(VERSION)

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf build


override_dh_auto_build:
	if [ ! -d build ]; then \
		mkdir -p build ;\
		( cd build && wget $(URL) && unzip arduino-ide_$(VERSION)_Linux_64bit.zip  && mv arduino-ide_$(VERSION)_Linux_64bit arduino-ide ); \
	fi


override_dh_strip:
        # do not strip

override_dh_shlibdeps:
	# do not shlbdeps
	
override_dh_builddeb:
	# force to use  gzip only
	dh_builddeb -- -Zgzip

