Source: max-javahotpot-tutorial
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.1.0), cdbs
Standards-Version: 3.7.2

Package: max-javahotpot-tutorial
Architecture: all 
Depends: firefox, javahotpot
Description: Tutorial de javahotpotatoes empaquetado para MAX 3.1
 Javahotpotatoes html tutorial
