Source: max-multiseat
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.4

Package: max-multiseat
Architecture: any
Depends: gdm-2.20, 
         xserver-xorg-video-displaylink,
         xserver-xorg-video-tusb, 
         util-linux, procps,
         max-multiseat-storage
Recommends: max-gnome-desktop-environment
Description: Some files to support MultiSeat computers
 Contains:
  * udev rules to start multiseat hardware

