[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=eXe Learning
Name[es]=eXe Learning (editor XHTML)
Comment=eLearning XHTML editor
Comment[es]=Editor XHTML para educación
TryExec=/usr/bin/exe
Exec=exe %f
Icon=exe.png
Terminal=false
MimeType=application/x-exe-learning;
Categories=Application;Utility;Editor;
StartupWMClass=eXe
X-Desktop-File-Install-Version=0.10

