[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice34-startcenter
Type=Application
Categories=Office;
Exec=libreoffice %U
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOffice 
Name[pt_BR]=BrOffice 
GenericName=Office 
GenericName[en]=Office
GenericName[ast]=Oficina
GenericName[ca]=Oficina
GenericName[da]=Kontor
GenericName[de]=Büroanwendungen
GenericName[es]=Oficina
GenericName[fi]=Toimisto
GenericName[fr]=Bureautique
GenericName[gl]=Oficina
GenericName[he]=אופיס
GenericName[hr]=Ured
GenericName[hu]=Iroda
GenericName[it]=Office
GenericName[is]=Skrifstofa
GenericName[ja]=オフィス
GenericName[nl]=Kantoor
GenericName[pt_BR]=Escritório
GenericName[ro]=Suită de birou
GenericName[ru]=Офис
GenericName[sl]=Pisarna
GenericName[te]=కార్యాలయం
GenericName[vi]=Bộ văn phòng
GenericName[zh_CN]=办公
GenericName[zh_TW]=辦公
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment[en]=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment[ast]=Suite de productividá d'oficina compatible con ODF, el formatu de documentos abiertu y estandarizáu. Col sofitu de la Document Foundation.
Comment[ca]=Paquet ofimàtic compatible amb el format estàndard de documents ODF. Mantingut per la Document Foundation.
Comment[da]=Office produktionspakken er kompatibel med det åbne og standardiseret ODF-dokumentformat. Understøttet af The Document Foundation.
Comment[de]=Die zum offenen und standardisierten ODF-Format kompatible Sammlung von Büroanwendungen. Unterstützt durch »The Document Foundation«.
Comment[es]=Suite de productividad para la oficina compatible con ODF, el formato de documentos abierto y estandarizado. Con el soporte de la Document Foundation.
Comment[el]=Η συμβατή με την ανοικτή και πρότυπη μορφή εγγράφων ODF σουίτα γραφείου. Υποστηρίζεται από το The Document Foundation.
Comment[fi]=Avointa ja standardoitua ODF-asiakirjamuotoa tukeva toimisto-ohjelmisto. The Document Foundation -säätiön tukema.
Comment[fr]=Suite bureautique compatible avec le format de document standard et ouvert ODF. Soutenue par The Document Foundation.
Comment[gl]=A suite de produtividade de oficina compatíbel co formato aberto e estandarizado de documentos ODF. Co apoio da Document Foundation
Comment[he]=חבילת כלי העבודה המשרדית תואמת את מבנה המסמכים הפתוח והתקני ODF. נתמכת על ידי The Document Foundation.
Comment[hr]=Paket uredskih aplikacija s podrškom za otvoren i standardiziran ODF format dokumenata. Podržan od strane Document fundacije.
Comment[hu]=A nyílt és szabványos ODF formátummal kompatibilis irodai programcsomag a Document Foundation támogatásával
Comment[it]=La suite di produttività compatibile con il formato standard e aperto dei documenti ODF. Supportata dalla The Document Foundation.
Comment[is]=Forritavöndull til hjálpar við vinnu við gagna- og textavinnslu, styðst við ODF sjalasniðið sem er staðlað og frjálst snið fyrir ýmiskonar skjöl. Stutt af Document Foundation.
Comment[ja]=オープンで標準化されたODFドキュメントフォーマットに対応した生産性の高いオフィススイートです。The Document Foundationによってサポートされています。
Comment[nl]=Het kantoorpakket compatibel met ODF (het gestandaardiseerde Open Document Formaat). Ondersteund door The Document Foundation. 
Comment[pt_BR]=Suíte de escritório produtiva, compatível com o formato aberto ODF. Suportado pela The Document Foundation.
Comment[ro]=Suita de birou compatibilă cu formatul de document liber și standardizat ODF, cu asistență oferită de The Document Foundation.
Comment[ru]=Офисный пакет, совместимый с открытым и стандартизованным форматом документов ODF. Поддерживается The Document Foundation.
Comment[sl]=Pisarniška zbirka, združljiva z odprtim in standardiziranim zapisom ODF. Podpira jo The Document Foundation.
Comment[te]=రహస్యాలు లేని మరియు ప్రామాణికమైన ODF కు అనుకూలమైన కార్యాలయ ఉత్పాదకత అనువర్తనాల సముదాయం, డాక్యుమెంట్ ఫౌండేషన్ తోడ్పాటుతో
Comment[vi]=Bộ văn phòng thích hợp với chuẩn đinh dạng tài liệu mở ODF, nhận được sự hỗ trợ từ Quỹ The Document Foundation
Comment[zh_CN]=兼容开放标准 ODF 的办公软件套装。由 The Document Foundation 支持。
Comment[zh_TW]=與開放且標準化的 ODF 文件格式相容的辦公生產力套裝軟體。由文件基金會提供支援。
Comment[zh_TW]=與開放且標準化的 ODF 文件格式相容的辦公生產力套裝軟體。由文件基金會提供支援。
