[Desktop Entry]
Encoding=UTF-8
Name=NTFS Configuration Tool
Name[cs]=Nástroj pro nastavení podpory zápisu na oddíly NTFS
Name[de]=NTFS Konfigurationstool
Name[en_AU]=NTFS Configuration Tool
Name[es]=Herramienta de Configuración NTFS
Name[fr]=Outil de Configuration NTFS
Name[it]=Tool di Configurazione NTFS
Name[ko]=NTFS 쓰기 지원 설정 도구
Name[lt]=NTFS rašymo palaikymo konfigūracijos įrankis
Name[nl]=NTFS Configuratie Tool
Name[pl]=Narzędzie konfiguracji trybu zapisu dla NTFS
Name[pt_BR]=Ferramenta de Configuração NTFS
Name[pt_PT]=Ferramenta de Configuração NTFS
Name[ru]=Инструмент конфигурации записи на NTFS
Name[sk]=Nástroj na nastavenie podpory zápisu na NTFS
Name[sv]=Konfigurationsverktyg för NTFS-skrivstöd
Name[tr]=NTFS yazma desteği yapılandırma aracı
Name[zh_CN]=NTFS 写入支持配置程序
Comment=Enable/disable write support for NTFS with a simple click.
Comment[es]=Activar/desactivar el soporte de escritura en particiones NTFS
Comment[cs]=Povolí/zakáže podporu zápisu pro NTFS jedním kliknutím.
Comment[de]=Schreibsupport für NTFS mit einem Klick aktivieren/deaktivieren.
Comment[en_AU]=Enable and disable write support for NTFS with a single click.
Comment[fr]=Activer/Désactiver le support de l'écriture pour NTFS avec un simple clic.
Comment[it]=Attiva/Disattiva il supporto in scrittura delle partizioni NTFS con un solo click.
Comment[ko]=NTFS 쓰기 지원을 한번 클릭으로 끄고 켭니다.
Comment[lt]=Įjungti/išjungti NTFS rašymo palaikymą paprastu paspaudimu.
Comment[nl]=NTFS schrijfondersteuning aan/uit zetten met een simpele klik.
Comment[pt_BR]=Ativar/desativar suporte a escrita NTFS com um simples clique.
Comment[pt_PT]=Activar/desactivar suporte a escrita NTFS com um simples clique.
Comment[ru]=Включение/отключение поддержки записи для NTFS в один простой клик.
Comment[sk]=Zapnúť/vypnúť podporu zápisu na NTFS jedným kliknutím.
Comment[sv]=Aktivera/inaktivera skrivstöd för NTFS med ett enda klick.
Comment[tr]=Basit bir tıklamayla NTFS yazma desteğini etkinleştir/etkisizleştir.
Comment[zh_CN]=一次点击启用/禁用 NTFS 写入支持。

TryExec=/usr/bin/ntfs-config
Exec=gksu ntfs-config
Terminal=false
Type=Application
Icon=gnome-dev-harddisk
Categories=System;Settings;
