[Desktop Entry]
Version=1.0
Terminal=false
Exec=ooffice -writer %F
Icon=ooo-writer
Type=Application
Categories=Application;Office;WordProcessor;
StartupNotify=false
MimeType=application/msword;application/rtf;application/vnd.ms-works;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-master;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.stardivision.writer-global;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.global;application/vnd.sun.xml.writer.template;application/vnd.wordperfect;application/wordperfect;application/x-extension-txt;application/x-t602;text/plain;text/rtf;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;
InitialPreference=5
Name=OpenOffice.org Word Processor
Name[am]=ኦፕንኦፊስ.ኦርግ ሠንጠረዥ አስሊ
Name[bn]=ওপেনঅফিস.অর্গ ওয়ার্ড প্রসেসর
Name[ca]=Processador de textos de l'OpenOffice.org
Name[cs]=OpenOffice.org Textový procesor
Name[da]=OpenOffice.org Tekstbehandler
Name[de]=OpenOffice.org Textverarbeitung
Name[el]=Επεξεργαστής κειμένου OpenOffice.org
Name[en_GB]=OpenOffice.org Word Processor
Name[eo]=OpenOffice.org Verkilo
Name[es]=OpenOffice.org Procesador de textos
Name[et]=OpenOffice.org Tekstiredaktor
Name[fi]=OpenOffice.org-tekstinkäsittely
Name[fil]=Tagaproseso ng Salita sa OpenOffice.org
Name[fr]=Traitement de texte OpenOffice.org
Name[gl]=Procesador de textos de OpenOffice.org
Name[he]=OpenOffice.org מעבד תמלילים
Name[hr]=OpenOffice.org obrada teksta
Name[hu]=OpenOffice.org szövegszerkesztő
Name[it]=OpenOffice.org - Word processor
Name[ja]=OpenOffice.org Word Processor
Name[ka]=OpenOffice.org ტექსტის რედაქტორი
Name[kn]=OpenOffice.org ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=오픈오피스 워드 프로세서
Name[ku]=Bernameya nivîsandina OpenOffice.org
Name[lt]=OpenOffice.org rašyklė
Name[nl]=OpenOffice.org Tekstverwerker
Name[oc]=Tractament de tèxt OpenOffice.org
Name[pl]=Edytor tekstu OpenOffice.org
Name[pt]=Processador de Texto OpenOffice.org
Name[pt_BR]=OpenOffice.org Editor de Texto
Name[ru]=OpenOffice.org Редактор текстов
Name[sk]=Textový editor OpenOffice.org
Name[sr]=OpenOffice.org Текст
Name[sv]=OpenOffice.org Ordbehandlare
Name[tl]=Tagaproseso ng Salita sa OpenOffice.org
Name[tr]=OpenOffice.org Kelime İşlemci
Name[uk]=OpenOffice.org Word Processor
Name[vi]=Xử lý văn bản với OpenOffice.org
Name[zh_CN]=OpenOffice.org文字处理
Name[zh_TW]=OpenOffice.org 文書處理器
GenericName=Word Processor
GenericName[af]=Woordverwerker
GenericName[am]=ጽሁፍ አቀናጅ
GenericName[ar]=معالج كلمات
GenericName[az]=Kəlmə İşlədici
GenericName[be@latin]=Redaktar dakumentaŭ
GenericName[bg]=Текстообработка
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[bs]=Word Processor
GenericName[ca]=Processador de textos
GenericName[cs]=Textový procesor
GenericName[da]=Tekstbehandler
GenericName[de]=Textverarbeitung
GenericName[dz]=ཡིག་སྦྱོར་པ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_CA]=Word Processor
GenericName[en_GB]=Word Processor
GenericName[en_ZA]=Word Processor
GenericName[eo]=Verkilo
GenericName[es]=Procesador de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu prozesatzailea
GenericName[fi]=Tekstinkäsittely
GenericName[fil]=Tagaproseso ng Salita
GenericName[fr]=Traitement de texte
GenericName[ga]=Próiseálaithe Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hr]=Program za obradu teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Word processor
GenericName[ja]=ワードプロセッサ
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=워드 프로세서
GenericName[ku]=Bernameya nivîsandinê
GenericName[lt]=Tekstų redaktorius
GenericName[mk]=Процесор за текст
GenericName[ms]=Pemproses Perkataan
GenericName[nb]=Tekstbehandling
GenericName[ne]=शब्द प्रशोधक
GenericName[nl]=Tekstverwerker
GenericName[nr]=Isenzi Mitlolo
GenericName[nso]=Sehlami sa Lentšu
GenericName[oc]=Tractament de tèxt
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Procesor tekstu
GenericName[ps]=ويې بهيرګر
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Processador de texto
GenericName[ru]=Редактор текстов
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Procesues teksti
GenericName[sr]=Текст
GenericName[sr@latin]=Tekst
GenericName[st]=Word Processor
GenericName[sv]=Ordbehandlare
GenericName[th]=พิมพ์งาน
GenericName[tl]=Tagaproseso ng Salita
GenericName[tr]=Kelime İşlemci
GenericName[ts]=Xitirhisi xa marito
GenericName[uk]=Текстовий процесор
GenericName[vi]=Xử lý văn bản
GenericName[wa]=Aspougneu d' tecse
GenericName[xh]=Inkqubo Yokuqhuba Amagama
GenericName[zh_CN]=文字处理
GenericName[zh_TW]=文書處理器
GenericName[zu]=Umshini Ohlela Amagama
Comment=Create and edit text and graphics in letters, reports, documents and Web pages.
Comment[am]=ጽሁፍ፣ ንድፍ፣ ሪፖርት፣ ደብዳቤዎች፣ ሰነድ፣ የመረብ ገጽ... ወዘተ ይድረሱ
Comment[ar]=تنشئ و حرر النصوص و الرسوميات في الخطابات، التقارير، المستندات و صفحات الويب
Comment[bn]=চিঠি, রিপোর্ট, ডকুমেন্ট এবং ওয়েব পেইজে লেখা এবং ছবি তৈরি এবং সম্পাদনা
Comment[ca]=Creeu i editeu text i gràfics a cartes, informes, documents i pàgines web.
Comment[cs]=Vytvářet a upravovat text a grafiku v dopisech, oznámeních, dokumentech a WWW stránkách.
Comment[da]=Opret og redigér tekst og grafik i breve, rapporter, dokumenter og hjemmesider.
Comment[de]=Erstellen und Bearbeiten von Text und Grafiken in Briefen, Reports, Dokumenten und Web-Seiten.
Comment[el]=Δημιουργία και επεξεργασία κειμένου και γραφικών σε γράμματα, αναφορές και ιστοσελίδες
Comment[en_GB]=Create and edit text and graphics in letters, reports, documents and Web pages.
Comment[eo]=Krei kaj redakti tekston kaj grafikajxojn en leteroj, raportoj, dokumentoj kaj TTT-pagxoj.
Comment[es]=Crea y edita textos y gráficos en documentos y páginas web
Comment[et]=Loo ja muuda tekste ja graafikat kirjades, raportites, dokumentides ja veebilhetdel.
Comment[fi]=Luo ja muokkaa tekstejä ja grafiikkaa kirjeisiin, raportteihin, asiakirjoihin ja WWW-sivuille.
Comment[fil]=Lumikha at isaayos ang nilalaman at  mga graphics sa mga sulat, mga ulat, mga dokumento at mga pahina sa Web.
Comment[fr]=Créer et éditer des textes et des images dans des courriers, rapports, documents et pages Web.
Comment[gl]=Crea e edita texto e gráficos en cartas, informes, documentos e páxinas web.
Comment[he]=צרו וערכו טקסט וגרפיקה בדוחו"ת, מסמכים ודפי אינטרנט.
Comment[hr]=Izradite i uredite tekst i slike u pismima, izvještajima, dokumentima i web stranicama.
Comment[hu]=Szöveg és képek készítése és szerkesztése levelekben, jelentésekben, dokumentumokban és weboldalakon.
Comment[it]=Crea e modifica il testo e la grafica di lettere, rapporti, documenti e pagine Web.
Comment[ja]=レター、レポート、ドキュメントおよび Web ページのテキストおよび図を作成・編集します。
Comment[ka]=ტექსტისა და გრაფიკის შექმნა და რედაქტირება წერილებში, ანგარიშებში, დოკუმენტებსა და ვებ გვერდებში.
Comment[ko]=편지나 보고서, 문서, 웹페이지에 있는 글과 그림을 만들고 수정합니다.
Comment[ku]=Nameyan, raporan û nivîs û dîtbariyên rûpelên Webê de pêk bîne û wan sererast bike.
Comment[lt]=Kurkite ir redaguokite tekstą, brėžinius bei grafiką dokumentuose, laiškuose, ataskaitose bei pranešimuose ir interneto puslapiuose.
Comment[nl]=Teksten en afbeeldingen voor brieven, rapporten, documenten en web-pagina's aanmaken en bewerken.
Comment[pl]=Tworzenie i modyfikowanie listów, raportów, dokumentów i stron WWW.
Comment[pt]=Crie e edite texto e gráficos em cartas, relatórios, documentos e páginas Web.
Comment[pt_BR]=Cria e edita textos e gráficos em cartas, relatórios, documentos e páginas da web.
Comment[ru]=Создание и редактирование текста и рисунков в письмах, отчетах, документах или веб-страницах.
Comment[sk]=Vytvárajte a upravujte text a vzhľad listov, správ, dokumentov a internetových stránok.
Comment[sr]=Пишите и уређујте текст и графику у писмима, извештајима и веб страницама.
Comment[sv]=Skapa och redigera text och grafik i brev, rapporter, dokument och webbsidor.
Comment[tl]=Lumikha at isaayos ang nilalaman at  mga graphics sa mga sulat, mga ulat, mga dokumento at mga pahina sa Web.
Comment[tr]=Mektuplar, raporlar ve Web sayfalarında metin ve görseller oluşturun ve düzenleyin.
Comment[uk]=Створення і редагування тексту і графіки  листах, звітах, документах та Веб сторінках.
Comment[zh_CN]=创建和编辑文本、图形，通过信纸、报告、文档和网页等
Comment[zh_TW]=於信件、報表、文件及網頁中建立及編輯文字。
