[Desktop Entry]
Name=Tux Paint
Name[af]=Tux Verf
Name[ar]=رسم توكس
Name[ast]=Tux Paint
Name[az]=Tuks ilə şəkil çək.
Name[be]=Малюй разам з Tux!
Name[bg]=Рисуване с Тъкс
Name[br]=Tux Paint
Name[ca]=Tux Paint
Name[cs]=Tux Paint
Name[cy]=Tux Paint
Name[da]=Tux maling
Name[de]=Tux Paint
Name[el]=Tux Paint
Name[en_AU]=Tux Paint
Name[en_CA]=Tux Paint
Name[en_GB]=Tux Paint
Name[en_ZA]=Tux Paint
Name[eo]=Tux-Desegnilo
Name[es]=Tux Paint
Name[es_MX]=Tux Paint
Name[et]=Joonistame koos Tuksiga!
Name[eu]=Tux Paint
Name[fi]=Tux Taiteilija
Name[fo]=Tux Paint
Name[fr]=Tux Paint
Name[ga]=Tux Paint
Name[gl]=Tux Paint
Name[gu]=ટક્સ પેન્ટ
Name[he]=Tux Paint
Name[hu]=Tux Paint
Name[id]=Tux Paint
Name[it]=Tux Paint
Name[ja]=タックスペイント
Name[ka]=თხუპნია!
Name[km]=Tux Paint
Name[ko]=턱스페인트
Name[ku]=Tux Paint
Name[lt]=Tux Paint
Name[lv]=Tux Zīmēšana
Name[mk]=Tux Боенка
Name[ms]=Tux Paint
Name[nb]=Tux Paint
Name[nl]=Tux Paint
Name[nn]=Tux Paint
Name[nr]=ITux Pende
Name[oc]=Tux Paint
Name[pl]=Tux Paint
Name[pt_BR]=Tux Paint
Name[pt_PT]=Tux Paint
Name[ru]=Рисуй вместе с Tux!
Name[sk]=Kreslenie s Tuxom
Name[sl]=Tux Paint
Name[son]=Tux Paint
Name[sr]=Такс Цртање
Name[sv]=Rita med Tux
Name[sw]=Koti ya Rangi
Name[ta]=டக்சு பெயின்ட்
Name[te]=టక్స పెయింట్
Name[th]=ทักซ์สอนวาดรูป
Name[tr]=Tux Boyama
Name[twi]=Tux Paint
Name[uk]=Малюй разом з Tux!
Name[ve]=Tux Paint
Name[vi]=Tux Sơn
Name[wa]=Tux Paint
Name[wo]=Tux Paint
Name[xh]=Ipeyinti yeTux
Name[zam]=Tux Paint
Name[zh_CN]=Tux Paint
Name[zh_TW]=企鵝小畫家
Type=Application
TryExec=/usr/bin/tuxpaint
Exec=tuxpaint
Icon=tuxpaint
Terminal=false
Categories=Education;Art;
GenericName=Drawing program
GenericName[af]=Tekenprogram
GenericName[ar]=برنامج رسم
GenericName[ast]=Programa de dibuxu
GenericName[az]=Rəsm proqramı
GenericName[be]=Праграма для маляваньня
GenericName[bg]=Програма за рисуване
GenericName[br]=Meziant tresañ
GenericName[ca]=Programa de dibuix
GenericName[cs]=Kreslicí program
GenericName[cy]=Rhaglen lunio
GenericName[da]=Tegne program
GenericName[de]=Malprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[en_AU]=Drawing program
GenericName[en_CA]=Drawing program
GenericName[en_GB]=Drawing program
GenericName[en_ZA]=Drawing program
GenericName[eo]=Desegnoprogramo
GenericName[es]=Programa de dibujo
GenericName[es_MX]=Programa de dibujo
GenericName[et]=Joonistusprogramm
GenericName[eu]=Marrazketa programa
GenericName[fi]=Maalausohjelma
GenericName[fo]=Tekniforrit
GenericName[fr]=Programme de dessin
GenericName[ga]=Clár líníochta
GenericName[gl]=Programa de debuxo
GenericName[gu]=ચિત્ર કાર્યક્રમ
GenericName[he]=תוכנת ציור
GenericName[hu]=Rajzolóprogram
GenericName[id]=Program gambar
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=お絵かきプログラム
GenericName[ka]=სახატავი პროგრამა
GenericName[km]=កម្មវិធី​គំនូរ
GenericName[ko]=미술 프로그램
GenericName[ku]=Bernameya Xêzkirinê
GenericName[lt]=Piešimo programa
GenericName[lv]=Zīmēšanas programma
GenericName[mk]=Програм за цртање
GenericName[ms]=Program melukis
GenericName[nb]=Tegneprogram
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[nr]=Iphrogremu youkudweba
GenericName[oc]=Logicial de dessenh
GenericName[pl]=Program do rysowania
GenericName[pt_BR]=Programa de desenho
GenericName[pt_PT]=Programa de desenho
GenericName[ro]=Program de desenat
GenericName[ru]=Программа для рисования
GenericName[sk]=Program na kreslenie
GenericName[sl]=Risarski program
GenericName[son]=Biiteeyan porogaram
GenericName[sr]=Програм за цртање
GenericName[sv]=Ritprogram
GenericName[sw]=Programu ya kuchora
GenericName[ta]=வரையும் மென்பொருள்
GenericName[te]=బొమ్మలు గీసె ప్రొగ్రామ్
GenericName[th]=โปรแกรมวาดรูป
GenericName[tr]=Çizim programı
GenericName[twi]=Adeɛ a yɛde drɔ
GenericName[uk]=Програма для малювання
GenericName[ve]=Mbekanyamushumo ya u ola
GenericName[vi]=Trình vẽ
GenericName[wa]=Programe di dessinaedje
GenericName[wo]=Lëlu natal
GenericName[xh]=Inkqubo yokuzoba
GenericName[zam]=Diif program paar keé men Dibuj
GenericName[zh_CN]=绘图程序
GenericName[zh_TW]=畫圖程式
Comment=A drawing program for children.
Comment[af]='n Tekenprogram vir kinders.
Comment[ar]=برنامج رسومات للأطفال.
Comment[ast]=Un programa de dibuxu pa neños y neñes.
Comment[az]=Uşaqlar üçün rəsm proqramı.
Comment[be]=Дзіцячая праграма для маляваньня.
Comment[bg]=Програма за рисуване за деца
Comment[br]=Ur meziant tresañ evit ar vugale.
Comment[ca]=Un programa de dibuix per a nens petits.
Comment[cs]=Kreslicí program pro děti.
Comment[cy]=Rhaglen lunio ar gyfer plant.
Comment[da]=Et tegneprogram for børn.
Comment[de]=Ein Malprogramm für Kinder.
Comment[el]=Ένα πρόγραμμα ζωγραφικής για παιδιά.
Comment[en_AU]=A drawing program for children.
Comment[en_CA]=A drawing program for children.
Comment[en_GB]=A drawing program for children.
Comment[en_ZA]=A drawing program for children.
Comment[eo]=Desegnoprogramo por infanoj
Comment[es]=Dibuja, crea y colorea
Comment[es_MX]=Un programa de dibujo para niños.
Comment[et]=Joonistusprogramm lastele.
Comment[eu]=Umeentzako marrazketa programa
Comment[fi]=Maalausohjelma lapsille.
Comment[fo]=Eitt tekniforrit til børn.
Comment[fr]=Un programme de dessin pour les enfants.
Comment[ga]=Clár líníochta le haghaidh páistí.
Comment[gl]=Un programa de debuxo para nenos.
Comment[gu]=બાળકો માટે ચિત્ર કાર્યક્રમ.
Comment[he]=תוכנת ציור לילדים.
Comment[hu]=Rajzolóprogram gyerekeknek
Comment[id]=Adalah sebuah program gambar untuk anak-anak.
Comment[is]=Teikniforrit fyrir krakka.
Comment[it]=Un programma di disegno per bambini.
Comment[ja]=子供向けお絵描きプログラム
Comment[ka]=სახატავი პროგრამა ბავშვებისთვის.
Comment[km]=កម្មវិធី​គំនូរ​សម្រាប់​ក្មេងៗ ។
Comment[ko]=어린이를 위한 미술 프로그램
Comment[ku]=Bernameyeke xêzkirinê ji bo zarokan.
Comment[lt]=Piešimo programa vaikams.
Comment[lv]=Zīmēšanas programma bērniem.
Comment[mk]=Програм за цртање за деца.
Comment[ms]=Program melukis untuk kanak-kanak
Comment[nb]=Et tegneprogram for de yngste.
Comment[nl]=Een tekenprogramma voor kinderen.
Comment[nn]=Eit teikneprogram for dei yngste.
Comment[nr]=Iphrogremu yokudweba yabantwana.
Comment[pl]=Program do rysowania dla dzieci.
Comment[pt_BR]=Um programa de desenho para crianças.
Comment[pt_PT]=Um programa de desenho para crianças.
Comment[ro]=Un program de desenat pentru copii
Comment[ru]=Детская программа для рисования.
Comment[sk]=Program na kreslenie pre deti.
Comment[sl]=Risarski program za otroke
Comment[son]=Biiteeyan porogaram zankey se.
Comment[sr]=Дечји програм за цртање
Comment[sv]=Ett ritprogram för barn.
Comment[sw]=Programu kwa watoto kuchora.
Comment[ta]=குழந்தைகள் வரைவதற்கான மென்பொருள்
Comment[te]=పిల్లల కి బొమ్మలు గీసె ప్రొగ్రామ్
Comment[th]=โปรแกรมวาดรูปสำหรับเด็ก
Comment[tr]=Çocuklar için bir çizim programı
Comment[twi]=Deɛ mmɔfra bɛtumi de adi agorɔ.
Comment[uk]=Дитяча програма для малювання.
Comment[ve]=Mbekanyamushumo ya u ola ya vhana.
Comment[vi]=Một chương trình vẽ cho đứa bé.
Comment[wa]=On programe di dessinaedje po ls efants.
Comment[wo]=Lël lu natal yu ñu jagglel guneyi.
Comment[xh]=Inkqubo yokuzoba yabantwana.
Comment[zam]=Diif program paar keé men Dibuj paar biét biss
Comment[zh_CN]=孩子的绘图程序。
Comment[zh_TW]=適合兒童的畫圖程式
