[Desktop Entry]
Name=Tux Typing
Name[es]=Tux Typing (mecanografía)
Name[fr]=Tux Typing
Comment=Type Trainer Game
Comment[fr]=Apprenez à taper au clavier en vous amusant
Comment[es]=Aprende a usar el teclado
TryExec=/usr/games/tuxtype
Exec=tuxtype.max
Icon=tuxtype
Terminal=false
Type=Application
Categories=Game;KidsGame;
X-Ubuntu-Gettext-Domain=tuxtype
