[Desktop Entry]
Name=Remote Desktop
Name[es]=Escritorio remoto
Comment=Choose how other users can remotely view your desktop
Comment[es]=Configurar el modo en el que otros usuarios acceden a este escritorio remótamente
Exec=vino-preferences
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vino
X-GNOME-Bugzilla-Component=Preferences Dialog
X-GNOME-Bugzilla-Version=2.26.1
X-Ubuntu-Gettext-Domain=vino
