#!/usr/bin/make -f

URL=https://github.com/phw/peek/archive/v0.8.0.tar.gz

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
#	dh $@ --buildsystem=cmake --sourcedirectory=build2/peek
	dh $@ --buildsystem=cmake


override_dh_clean:
	dh_clean
	rm -rf build2 cmake .travis.yml cmake_uninstall.cmake.in .gitignore src CMakeLists.txt LICENSE po .tx sync-translations.sh data README.md CHANGES.md tests ui


#override_dh_auto_build:
override_dh_auto_configure:
	mkdir -p build2
	if [ ! -e build2/src.tar.gz ]; then (cd build2 && curl -L -O $(URL) && mv *.tar.gz src.tar.gz); fi
	if [ ! -d build2/peek ]; then (cd build2 && tar -zxf src.tar.gz && mv peek-* peek && mv peek/* ../); fi

	# disable test, fail to build in schroot
	sed -i -e 's/add_subdirectory(tests)/add_subdirectory(tests EXCLUDE_FROM_ALL)/g' CMakeLists.txt

	dh_auto_configure

override_dh_auto_test:
	# test disabled
