#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := true

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/buildcore.mk

build/aa-debhelper::
	pod2man usr/bin/dh_divert dh_divert.1

clean::
	$(RM) dh_divert.1

