#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=relojmax
Exec=chromium --app=file:///opt/relojmax-1.0.0/index.html
Name[es_ES]=Relojes
Name=Relojes
Categories=Utility;EduProgramas;
Comment=Cronómetro y temporizador
