Source: max-install
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.2

Package: max-install
Architecture: all
Depends: ubiquity, ubiquity-frontend-gtk
Description: Some files to custom ubiquity installer
 Contains:
  * Configuration of MaX mirror

