[Desktop Entry]
Name=Activar/Desactivar panel LXLAUNCHER
Comment=Activar/Desactivar panel LXLAUNCHER
Exec=switch-lxlauncher
Encoding=UTF-8
Icon=emblem-noread
Type=Applications
Categories=Settings;
