Source: max-language-es
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, gettext
Standards-Version: 3.8.4

Package: max-language-es
Architecture: all
Depends: scite, max-skel-conf,
         openoffice.org-hyphenation, poppler-data, wspanish
Description: Some translation files of MaX
 Contains:
  * Scite translation

