[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar MAX 8.0
Comment=Instalar MaX en el disco duro
Exec=ubiquity %k gtk_ui
Icon=/usr/share/pixmaps/max-logo.png
Terminal=false
Categories=GTK;System;Settings;
OnlyShowIn=GNOME;XFCE;Unity;
#X-Ubuntu-Gettext-Domain=ubiquity-desktop
X-Ayatana-Appmenu-Show-Stubs=False
