[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar
Comment=Instalar este sistema de forma permanente en el disco duro
Exec=ubiquity --desktop %k gtk_ui
Icon=ubiquity-max
Terminal=false
Categories=GTK;System;Settings;
#X-Ubuntu-Gettext-Domain=ubiquity-desktop
