Source: max-handbrake
Section: contrib
Priority: optional
Maintainer: CAU de MAX <cau_max@educa.madrid.org>
Build-Depends: wget, debhelper (>= 10), autoconf, automake, build-essential, cmake, git, libass-dev, libbz2-dev, libfontconfig-dev, 
 libfreetype-dev,libfribidi-dev, libharfbuzz-dev, libjansson-dev, liblzma-dev, libmp3lame-dev, libnuma-dev, libogg-dev, libopus-dev, 
 libsamplerate0-dev, libspeex-dev, libtheora-dev, libtool, libtool-bin, libturbojpeg0-dev, libvorbis-dev, libx264-dev, libxml2-dev, 
 libvpx-dev, m4, make, meson, nasm, ninja-build, patch, pkg-config, tar, zlib1g-dev, appstream, desktop-file-utils, gettext, 
 gstreamer1.0-libav, gstreamer1.0-plugins-good, libgstreamer-plugins-base1.0-dev, libgtk-4-dev
Standards-Version: 2.14.22
Homepage: https://handbrake.fr/

Package: handbrake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HandBrake is a open-source tool, built by volunteers, for converting video from nearly
 any format to a selection of modern, widely supported codecs.
