Source: max-manuales
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.8.2

Package: max-manuales
Architecture: all
Description: Manuales de instalación de MAX
 Guía de instalación de MaX

Package: max-win32-apps
Architecture: all
Description: Manuales de instalación de MAX para el DVD
 Guía de instalación de MaX para el DVD

