#!/usr/bin/make -f


%:
	dh $@


override_dh_clean:
	dh_clean
	rm -rf dvd/manual/*


override_dh_auto_build:
	./fix-long-names.py $(CURDIR)/max11/ $(CURDIR)/dvd/manual/

override_dh_builddeb:
	dh_builddeb -- -Zgzip
