#!/usr/bin/make -f

export DH_VERBOSE = 1

VERSION=3.4.12
URL=https://github.com/laurent22/joplin/releases/download/v${VERSION}/Joplin-${VERSION}.AppImage
PACKAGE="Joplin-${VERSION}.AppImage"

%:
	dh $@


override_dh_clean:
	dh_clean
	if [ -d build ]; then rm -rf build; fi 

override_dh_auto_build:
	
	mkdir -p build && cd build && wget --no-check-certificate ${URL};
	if [ -f build/${PACKAGE} ]; then chmod +x build/${PACKAGE}; fi
	if [ -f build/${PACKAGE} ]; then mv build/${PACKAGE} build/Joplin.AppImage; fi

override_dh_strip:
# Do not remove appimage