[Desktop Entry]
Name=Visualizador de plugins de Netscape
Type=Service
Icon=netscape
Comment=Visualizador de plugins de Netscape
X-KDE-Library=libnsplugin
InitialPreference=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-PluginsInfo=nsplugins/pluginsinfo
MimeType=application/x-shockwave-flash;application/futuresplash;audio/x-pn-realaudio-plugin;application/pdf;application/vnd.fdf;application/vnd.adobe.xfdf;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfd+xml;application/x-squeak-source;application/x-squeak-object;application/x-squeak-project
