#!/usr/bin/make -f
#export DH_VERBOSE=1

BASEURL=http://localhost/remote-files

ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)
ARCH=i386

ifeq ($(ARCH), amd64)
#	URL=$(BASEURL)/bitbloq-x64.zip
	URL=$(BASEURL)/BitbloqOffline-linux.zip
	LNX=linux
else
#	URL=$(BASEURL)/bitbloq-x32.zip
	URL=$(BASEURL)/BitbloqOffline-linux32.zip
	LNX=linux32
endif



%:
	dh $@ 

override_dh_auto_build:
	if [ ! -d build ]; then \
		mkdir build ;\
		( cd build && wget $(URL) && unzip *.zip); \
	fi

	if [ -e build/BitbloqOffline-linux ]; then \
		mv build/BitbloqOffline-linux build/linux ;\
	fi

	if [ -e build/BitbloqOffline-linux32 ]; then \
		mv build/BitbloqOffline-linux32 build/linux ;\
	fi


	mv build/linux/resources/app/app/res/web2board/$(LNX)/web2boardLauncher \
           build/linux/resources/app/app/res/web2board/$(LNX)/web2boardLauncher.distrib

	cp ./web2boardLauncher build/linux/resources/app/app/res/web2board/$(LNX)/

	# remove windows files
	find build/linux/ -name "*.exe" -delete


override_dh_clean:
	dh_clean
	rm -rf build


#override_dh_shlibdeps:
#	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info


override_dh_shlibdeps:
	dh_shlibdeps -Xusr/share/bitbloq-offline/resources/app/app/res/web2board/linux/res/pp/packages/toolchain-atmelavr/avr/lib \
		     -Xusr/share/bitbloq-offline/resources/app/app/res/web2board/linux \
		     -Xusr/share/bitbloq-offline/libgcrypt.so.11 \
		     -Xusr/share/bitbloq-offline/libnode.so \
		     -Xusr/share/bitbloq-offline/Bitbloq

override_dh_strip:
	# do not strip, break executables
