[Desktop Entry]
Name=Scratch 2 Offline
Comment=Scratch 2
GenericName=Scratch 2
Exec="/opt/Scratch 2/bin/Scratch 2"
Type=Application
Terminal=false
Icon=scratch2.png
StartupNotify=true
Categories=Application;Development;
