[Desktop Entry]
Name=Etcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Comment[es]=Escribir imágenes de sistemas operativos en tarjketas SD o pendrive.
Exec=etcher-electron %U
Terminal=false
Type=Application
Icon=etcher-electron
Categories=Utility;
