#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

publish-checksums:
	for a in i386 amd64 ; do gpg --armor --clearsign < fp10.$$a.txt > fp10.$$a.pgp.asc ; done
	cp fp10.*.pgp.asc /var/www/flashplugin-nonfree/
	scp fp10.*.pgp.asc bartm@ravel.debian.org:/home/bartm/public_html/flashplugin-nonfree
	rm -f fp10.*.pgp.asc

