[Desktop Entry]
Comment=Bzip2-ed Tar Archive
Hidden=false
Patterns=*.tar.bz;*.tbz;*.tar.bz2;*.tbz2
X-KDE-AutoEmbed=true

[Property::X-KDE-LocalProtocol]
Type=
Value=