%% include system.inc

%% include timeout.inc
%% include common.inc

%% include po/text.inc
%% include window.inc
%% include button.inc
%% include help.inc
%% include main.inc
%% include menuconfig.inc
%% include xmenu.inc
%% include dia_video.inc
%% include dia_lang.inc
%% include dia_keymap.inc
%% include dia_modes.inc
%% include dia_help.inc
%% include dia_profile.inc
%% include dia_bits.inc
%% include dia_options.inc
%% include dia_fulloptions.inc
%% include dia_access.inc
%% include panel.inc
%% include keytables.inc
%% include langnames.inc
%% include locale.inc
%% include splash.inc

