[Desktop Entry]
Name=mBlock
Comment=mblock 4.0
Exec="/opt/makeblock/mBlock/mblock"
Terminal=false
Type=Application
Icon=/usr/share/icons/mBlock/48x48.png
Categories=Development;
