[Desktop Entry]
Name=Tutorial de Animalandia
GenericName=Tutorial de Animalandia
Comment=Tutorial de Animalandia
Comment[es]=Tutorial de Animalandia
Exec=firefox http://herramientas.educa.madrid.org/animalandia/tutorial/tutorial.php
Icon=animalandia
StartupNotify=false
Terminal=false
Type=Application
Categories=Education
