[Desktop Entry]
Name=Animalandia
GenericName=Animalandia
Comment=Animalandia
Comment[es]=Animalandia
Exec=/usr/bin/animalandia
Icon=animalandia
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Education;Animalandia;
