[Desktop Entry]
Name[af]=Neem skermskoot
Name[am]=መመልከቻውን ፎቶ ማንሻ 
Name[ar]=خذ لقطة للشاشة
Name[as]=পৰ্দাৰ ছবি নিন
Name[ast]=Facer Semeya
Name[be]=Зрабіць здымак экрана
Name[bg]=Снимка на екрана
Name[bn]=পর্দার ছবি নিন
Name[bn_IN]=পর্দার ছবি নিন
Name[br]=Pakañ ur skrammad
Name[ca]=Fes una captura de pantalla
Name[ca@valencia]=Feu una captura de pantalla
Name[cmn]=拍下螢幕截圖
Name[crh]=Ekran Körüntisini Al
Name[cs]=Zachytit snímek obrazovky
Name[cy]=Tynnu Sgrînlun
Name[da]=Gem skærmbillede
Name[de]=Bildschirmfoto aufnehmen
Name[dz]=གསལ་གཞི་པར་བཏབ།
Name[el]=Λήψη στιγμιότυπου οθόνης
Name[en_AU]=Take Screenshot
Name[en_CA]=Take Screenshot
Name[en_GB]=Take Screenshot
Name[eo]=Krei ekranopion
Name[es]=Tomar una captura de pantalla
Name[et]=Kuvatõmmise salvestamine
Name[eu]=Egin kaptura
Name[fa]=گرفتن عکس صفحه
Name[fi]=Ota kuvakaappaus
Name[fr]=Capture d'écran
Name[ga]=Tóg Scáilghraf
Name[gl]=Facer unha captura de pantalla
Name[gu]=સ્ક્રીનશોટ લો
Name[he]=צילום מסך
Name[hi]=स्क्रीनशॉट लें
Name[hr]=Snimi prikaz zaslona
Name[hu]=Képernyőkép készítése
Name[hy]=Ստանալ էկրանի նկարը
Name[id]=Ambil Cuplikan
Name[ie]=Capturar li ecran
Name[it]=Cattura schermata
Name[ja]=スクリーンショットの取得
Name[ka]=ეკრანის ანაბეჭდი
Name[kk]=Скриншотты түсіру
Name[kn]=ಒಂದು ತೆರೆಚಿತ್ರವನ್ನು ತೆಗೆದುಕೋ
Name[ko]=스크린샷 찍기
Name[ku]=Wêneya Sermasê bikiş
Name[ky]=Экран сүрөтүн тартуу
Name[lt]=Padaryti ekrano kopiją
Name[lv]=Uzņemt ekrānattēlu
Name[mai]=स्क्रीनशॉट लिअ'
Name[mg]=Makà sarin'efijery
Name[mk]=Зачувај слика од екранот
Name[ml]=സ്ക്രീന്‍ഷോട്ട് എടുക്കുക
Name[mr]=सक्रीनशॉट घ्या
Name[ms]=Ambil Cekupan Skrin
Name[nb]=Ta skjermdump
Name[nds]=Billschirmfoto scheten
Name[ne]=स्क्रिनसट लिनुहोस्
Name[nl]=Schermafdruk maken
Name[nn]=Ta eit skjermbilete
Name[oc]=Captura d'ecran
Name[or]=ଗୋଟିଏ ଆଶୁଚିତ୍ର ନିଅନ୍ତୁ
Name[pa]=ਸਕਰੀਨ-ਸ਼ਾਟ ਲਵੋ
Name[pl]=Pobranie zrzutu ekranu
Name[ps]=پرده انځور اخيستل
Name[pt]=Captura de ecrã
Name[pt_BR]=Capturar imagem da tela
Name[ro]=Salvează o captură de ecran
Name[ru]=Сделать снимок экрана
Name[si]=තිරපිටපතක් ගන්න
Name[sk]=Zachytenie snímky obrazovky
Name[sl]=Zajemi zaslonsko sliko
Name[sr]=Направи снимак екрана
Name[sr@latin]=Snimak ekrana
Name[sv]=Ta en skärmbild
Name[ta]=திரைப்பிடிப்பு செய்யவும்
Name[te]=తెర ఛాయాచిత్రం తీసుకొను
Name[th]=บันทึกภาพหน้าจอ
Name[tr]=Ekran Görüntüsü Al
Name[ug]=ئېكران كەسمىسى تۇت
Name[uk]=Зробити зняток
Name[ur]=تصویر اتاریں
Name[vi]=Chụp hình màn hình
Name[zh_CN]=抓图
Name[zh_HK]=拍下螢幕截圖
Name[zh_TW]=拍下螢幕截圖
Name=Take Screenshot
Comment[af]=Stoor beelde van die werkskerm of individuele vensters
Comment[ar]=احفظ صور لسطح مكتبك أو للنوافذ المنفردة
Comment[as]=ডেস্কটপ বা স্বতন্ত্ৰ উইন্ডোৰ ছবি সংৰক্ষণ কৰক
Comment[ast]=Guarda imáxenes del escritoriu o ventanes individuales
Comment[be]=Атрымаць выявы стала ці асобных вокнаў
Comment[bg]=Запазване на снимки на екрана или индивидуални прозорци
Comment[bn]=ডেস্কটপ অথবা স্বতন্ত্র উইন্ডোর ছবি সংরক্ষণ করুন
Comment[bn_IN]=ডেস্কটপ অথবা স্বতন্ত্র উইন্ডোর ছবি সংরক্ষণ করুন
Comment[br]=Enrollañ ar skeudennoù eus ho purev pe brenestroù hiniennel
Comment[ca]=Deseu imatges del vostre escriptori o de finestres individuals
Comment[ca@valencia]=Guarda imatges del vostre escriptori o de finestres individuals
Comment[cmn]=將整個桌面或獨立的視窗儲存為圖片
Comment[crh]=Masaüstüñiz ya da ferdiy pencereleriñizniñ suretlerini saqla
Comment[cs]=Uložit obrázky pracovní plochy nebo konkrétních oken
Comment[cy]=Cadw delweddau o'r bwrdd gwaith neu o ffenestri unigol
Comment[da]=Gem billeder af dit skrivebord eller individuelle vinduer
Comment[de]=Bildschirmfotos Ihrer Arbeitsumgebung oder einzelner Fenster speichern
Comment[dz]=ཁྱོད་རའི་ཌེཀསི་ཊོཔ་ ཡང་ན་ སྒོ་སྒྲིག་སོ་སོའི་གཟུགས་བརྙན་ཚུ་སྲུངས།
Comment[el]=Αποθήκευση εικόνων της επιφάνειας εργασίας σας ή ξεχωριστών παραθύρων
Comment[en_AU]=Save images of your desktop or individual windows
Comment[en_GB]=Save images of your desktop or individual windows
Comment[es]=Guarde imágenes de su escritorio o ventanas individuales
Comment[et]=Töölauast või üksikutest akendest pildi salvestamine
Comment[eu]=Gorde mahaigaineko edo leiho bakarren irudiak
Comment[fa]=ذخیرهٔ تصاویر رومیزی یا پنجره‌های جداگانه‌
Comment[fi]=Tallenna kuvia työpöydästä tai yksittäisistä ikkunoista
Comment[fr]=Enregistrer les images de votre bureau ou de vos fenêtres individuelles
Comment[gl]=Gardar imaxes do escritorio ou de xanelas individuais
Comment[gu]=તમારા ડેસ્કટોપ અથવા વ્યક્તિગત વિન્ડોના ચિત્રો સંગ્રહો
Comment[he]=שמור תמונות של שולחן העבודה או החלונות שלך
Comment[hi]=अपने डेस्कटॉप या निजी विंडो के चित्र को सहेजें
Comment[hu]=Az asztal vagy egyedi ablakok képeinek mentése
Comment[hy]=Պահպանել պատկերները ձեր աշխատասեղանին կամ առանձին պատուհաններում
Comment[id]=Simpan gambar dari desktop atau suatu jendela anda
Comment[it]=Salva immagini della propria scrivania o singole finestre
Comment[ja]=デスクトップ全体またはウィンドウの画像を保存します
Comment[kn]=ನಿಮ್ಮ ಗಣಕತೆರೆಯನ್ನು ಅಥವ ಪ್ರತ್ಯೇಕ ವಿಂಡೋಗಳ ಚಿತ್ರವನ್ನು ಉಳಿಸಿ
Comment[ko]=데스크톱이나 창 한 개의 스크린샷을 저장합니다
Comment[ku]=Wêneyên sermaseya xwe an jî paceyên kesane tomar bike
Comment[lt]=Įrašyti jūsų darbalaukio ar atskirų langų nuotraukas
Comment[lv]=Saglabā jūsu darbvirsmas vai logu attēlus
Comment[mai]=अपन डेस्कटाप अथवा निजी विंडो क' चित्रकेँ सहेजू
Comment[mk]=Зачувај слики од работната површина или од одредени прозорци
Comment[ml]=നിങ്ങളുടെ ഡസ്ക്ടോപ്പ് അല്ലെങ്കില്‍ ഓരോ ജാലകങ്ങളുടെ ഇമേജ് സൂക്ഷിക്കുക
Comment[mr]=आपले कार्यस्थळ प्रतिमा किंवा चौकटी संचयीत करा
Comment[ms]=Simpan imej desktop anda atau tetingkap secara individu
Comment[nb]=Lagre bilder av ditt skrivebord eller individuelle vinduer
Comment[ne]=तपाईँको डेस्कटपको वा व्यक्तिगत सञ्झ्यालका छविहरू बचत गर्नुहोस्
Comment[nl]=Afbeeldingen opslaan van uw bureaublad of van individuele vensters
Comment[nn]=Lagra bileta av ditt skrivebord eller individuelle vindauge
Comment[or]=ଆପଣଙ୍କ ଡେସ୍କଟପ୍ କିମ୍ବା ବ୍ଯକ୍ତିଗତ ୱିଣ୍ଡୋର ପ୍ରତିଛବିକୁ ସଂରକ୍ଷଣ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾ ਜਾਂ ਅੱਡ-ਅੱਡ ਵਿੰਡੋਜ਼ ਲਈ ਸੰਭਾਲੋ
Comment[pl]=Zapisanie obrazu pulpitu lub poszczególnych okien
Comment[pt]=Gravar imagens do seu ambiente de trabalho ou janelas individuais
Comment[pt_BR]=Salvar imagens da sua área de trabalho ou de janelas individuais
Comment[ro]=Salvează imagini ale spațiului de lucru sau ale unor ferestre individuale
Comment[ru]=Сохранить изображения рабочего стола или отдельных окон
Comment[sk]=Uložiť obrázky vašej pracovnej plochy alebo samostatných okien
Comment[sl]=Shranite slike namizja ali posameznih oken
Comment[sr]=Сачувајте слике радне површи или појединачних прозора
Comment[sr@latin]=Sačuvaj slike desktopa ili pojedinačnih prozora
Comment[sv]=Spara bilder av ditt skrivbord eller individuella fönster
Comment[ta]=உங்கள் பணிமேடையின் படங்களை அல்லது தனித்தனி சாளரங்களை சேமிக்கவும்
Comment[te]=మీ యొక్క రంగస్థలం లేదా వ్యక్తిగత గవాక్షాల ప్రతిరూపాలను దాచుము
Comment[th]=บันทึกภาพของเดสก์ท็อปหรือหน้าต่างที่กำหนด
Comment[tr]=Masaüstünüze ya da ayrı ayrı pencerelerinize ait görüntüleri kaydet
Comment[ug]=ئۈستەل ئۈستىڭىز ياكى يەككە كۆزنەكنى سۈرەتكە ساقلايدۇ
Comment[uk]=Збереження зображень стільниці чи окремих  вікон
Comment[ur]=انفرادی دریچوں یا اپنے ڈیسک ٹاپ کی تصاویر محفوظ کریں
Comment[vi]=Lưu ảnh của màn hình nền hay cửa sổ riêng
Comment[zh_CN]=保存您桌面还是单个窗口的图像
Comment[zh_HK]=將整個桌面或獨立的視窗儲存為圖片
Comment[zh_TW]=將整個桌面或獨立的視窗儲存為圖片
Comment=Save images of your desktop or individual windows
Exec=mate-screenshot --interactive
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=applets-screenshooter
Icon[cs]=applets-screenshooter
Icon[da]=applets-screenshooter
Icon[es]=applets-screenshooter
Icon[gl]=applets-screenshooter
Icon[it]=applets-screenshooter
Icon[lt]=applets-screenshooter
Icon[nl]=applets-screenshooter
Icon[zh_TW]=applets-screenshooter
Icon=applets-screenshooter
StartupNotify=true
Categories=GTK;Utility;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;captura;pantalla;escriptori;finestra;imatge;
Keywords[cs]=MATE;screenshot;snapshot;desktop;snímek;snímky;plocha;okno;obrázek;
Keywords[da]=MATE;screenshot;snapshot;desktop;window;image;skærmbillede;skrivebord;vindue;billede;
Keywords[es]=MATE;captura;pantalla;escritorio;ventana;imagen;
Keywords[gl]=MATE;captura de pantalla;instantánea;escritorio;xanela;imaxe;
Keywords[it]=MATE;screenshot;schermata;desktop;finestra;cattura;immagine;
Keywords[nl]=MATE;schermafdruk;foto;bureaublad;venster;afbeelding;
Keywords[zh_TW]=MATE;screenshot;snapshot;desktop;window;image;
Keywords=MATE;screenshot;snapshot;desktop;window;image;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=screenshot
X-MATE-Bugzilla-OtherBinaries=mate-panel-screenshot
