[Desktop Entry]
Type=Application
Name=Search apps
Name[es]=Buscador de aplicaciones
Comment=Search applications
Comment[es]=Buscador de aplicaciones
Keywords=search;find;launch
Exec=albert toggle
Icon=gtk-find
Categories=GNOME;Utility;
