[Desktop Entry]
Name=Moodle
GenericName=Moodle
Comment=Plataforma e-learning
TryExec=/usr/bin/firefox
Exec=firefox http://127.0.0.1/moodle/
Icon=moodle.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;
