[Entry 0]
Name=OpenOffice.org Word Processor
Exec=oowriter
Terminal=false
StartupNotify=false
Comment=Creee y editee texto y gráficos de cartas, informes, documentos y páginas Web con Writer.
Icon=/usr/share/icons/hicolor/48x48/apps/ooo-writer.png

