use_default_menu=true
menu_file=/etc/xdg/xfce4/desktop/menu.xml.es
icon_file=/usr/share/icons/hicolor/48x48/apps/xfce4-logo.png
show_menu_icons=true
button_title=Aplicaciones
show_button_title=false

