Source: max-fonts
Section: max
Priority: extra
Maintainer: Mario Izquierdo <hola@marioizquierdo.es>
Build-Depends: debhelper (>= 8.0.0), wget, unzip, util-linux
Standards-Version: 3.9.3

Package: max-fonts
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
  fonts-essays1743, fonts-junicode,
  fonts-marvosym,
#  fonts-beteckna,
  fonts-adf-verana, fonts-goudybookletter, fonts-linux-libertine,
  fonts-ancient-fonts, fonts-engadget,
  fonts-radisnoir,
  fonts-atarismall, fonts-staypuft, fonts-aenigma,
  fonts-fifthhorseman-dkg-handwriting, fonts-isabella, fonts-sjfonts,
  fonts-georgewilliams, fonts-femkeklaver, fonts-adf-universalis,
  fonts-adf-tribun, fonts-adf-switzera, fonts-adf-romande,
  fonts-adf-oldania, fonts-adf-mekanus, fonts-adf-libris,
  fonts-adf-irianis, fonts-adf-ikarius, fonts-adf-gillius,
  fonts-adf-berenis, fonts-adf-baskervald, fonts-adf-accanthis,
  otf-freefont,
  fonts-arabeyes, fonts-baekmuk, fonts-dejavu, fonts-freefont, fonts-liberation
Description: Some fonts for MAX distro
 Some fonts for MAX distro
