[Desktop Entry]
Version=1.0
Name=Snap4Arduino
Exec=snap4arduino
Terminal=false
Type=Application
Icon=snap4arduino
Categories=Development;Engineering;Electronics;

