[Desktop Entry]
Encoding=UTF-8
Name=Twine
Name[es]= Jopling
Comment[es]= joplin
Icon=nextcloud
Exec=/usr/share/Joplin-2.14.22.AppImage 
Terminal=false
Type=Application
Categories=Office;
StartupNotify=false

