[Desktop Entry]
Type=Application
Exec=python3 /usr/share/max-gestion-conf/msjInicio.py
Hidden=false
X-MATE-Autostart-enabled=true
Name[es_ES]=MsjBienvenido
Name=MsjBienvenido
Comment[es_ES]=
Comment=
X-MATE-Autostart-Delay=3
