Source: max-live
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.2

Package: max-live
Architecture: all
Depends: ubiquity-frontend-max, grub, language-pack-es, language-pack-kde-es, language-support-es, laptop-detect, ntfsprogs, pcmcia-cs, xresprobe
Provides: max-install
Replaces: max-install
Conflicts: max-install
Description: Some files to custom ubiquity installer
 Contains:
  * Configuration of MaX mirror

