Source: max-live
Section: max
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, aa-debhelper
Standards-Version: 3.8.4

Package: max-live
Architecture: all
Depends: ubiquity-frontend-max,
         grub-pc,
         language-pack-es,
         language-pack-kde-es,
#         language-support-es,
         laptop-detect, ntfsprogs,
         lupin-casper
Provides: max-install
Replaces: max-install
Conflicts: max-install
Description: Some files to custom ubiquity installer
 Contains:
  * Configuration of MaX mirror

