[Desktop Entry]
Type=MimeType
MimeType=audio/x-pn-realaudio-plugin
Icon=netscape_doc
Comment=Netscape Helix DNA Plugin%3A RealPlayer G2 Plug-In Compatible
X-KDE-AutoEmbed=true
X-KDE-nsplugin=true
Name=RealPlayer Plugin Metafile
