[Desktop Entry]
Name=Configure global proxy in MAX
Name[es]=Configurar proxy en MAX
GenericName=Configure global proxy in MAX
GenericName[es]=Configurar proxy en MAX
Comment=Configurar Proxy en MAX
Comment[es]=Configure global proxy in MAX
Exec=gksudo /usr/bin/max-configure-proxy
Icon=gnome-network-properties
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Settings;System;DesktopSettings;X-GNOME-NetworkSettings;
