[Desktop Entry]
Type=Application
TryExec=/usr/bin/khangman
Exec=khangman -caption "%c" %i
Icon=khangman
X-DocPath=khangman/index.html
Comment=KDE Hangman Game
Comment[es]=Descubre las palabras
GenericName=Hangman Game
GenericName[es]=Árbol del ahorcado
Terminal=false
Name=KHangMan
Name[es]=KHangMan (ahorcado)
Categories=Qt;KDE;Education;Languages;
X-Ubuntu-Gettext-Domain=desktop_kdeedu
