Source: syslinux-themes-max
Section: misc
Priority: optional
Maintainer: Colin Watson <cjwatson@ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2

Package: syslinux-themes-max12
Architecture: amd64 i386
Depends: ${misc:Depends}, memtest86+, syslinux-common, isolinux
Enhances: extlinux
Provides: syslinux-theme
Description: collection of boot loaders (ubuntu-precise theme)
 SYSLINUX is a collection of boot loaders which operates off Linux ext2/3/4 or
 btrfs filesystems, MS-DOS FAT filesystems, network servers using PXE firmware,
 or from CD-ROMs.
 .
 This package contains the graphical bootloader theme for MAX 12.x
