#!/usr/bin/make -f
export DH_VERBOSE = 1

VERSION=1.0.0
URL1=http://localhost/remote-files/sorteo-${VERSION}.tar.xz 



%:
	dh $@


override_dh_clean:
	dh_clean
	if [ -d build ]; then rm -rf build; fi 


override_dh_auto_build:
	
	mkdir -p build &&  cd build  && wget ${URL1}
	if [ -e build/sorteo-${VERSION}.tar.xz ]; then cd build/ && tar xJvf sorteo-${VERSION}.tar.xz && rm -f sorteo-${VERSION}.tar.xz; fi


