#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
VERSION=$(shell dpkg-parsechangelog -ldebian/changelog| awk '/^Version/ {print $$2}')

printversion:
	@echo "VERSION="$(VERSION)

build/max-menus::
	xmlstarlet val usr/share/dpsyco/skel/etc/xdg/menus/applications.menu
	xmlstarlet val usr/share/dpsyco/skel/etc/xdg/menus/settings.menu

binary-install/max-menus::
	install -m 755 maxmenus.sh $(CURDIR)/debian/max-menus/usr/bin/maxmenus
	sed -i "s|__VERSION__|$(VERSION)|g" $(CURDIR)/debian/max-menus/usr/bin/maxmenus
	# clean svn dirs
	find $(CURDIR)/debian/max-menus -type d -name .svn | xargs rm -rf --
	rm -rf $(CURDIR)/debian/max-menus/usr/share/dpsyco/skel/etc/skel
