Source: max-processing
Section: max
Priority: extra
Maintainer: Mario Izquierdo Rodríguez (Thinetic Systems SLNE) <mario.izquierdo@thinetic.es>
Build-Depends: debhelper (>= 7), wget, unzip
Standards-Version: 3.8.3
Homepage: https://processing.org

Package: processing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Java animation and interaction IDE
 Processing is an open source programming language
 and environment for people who want to create images,
 animations, and interactions.
 .
