[Desktop Entry]
Type=Application
Name=Processing
GenericName=Java animation and interaction IDE
Exec=processing
Icon=processing
Terminal=false
Categories=Development;Engineering;Electronics;

