#!/usr/bin/make -f
export DH_VERBOSE = 1

VERSION=3.15.2
URL1=http://172.18.2.51/remote-files/Cloud_EducaMadridLinux64-${VERSION}.AppImage 

%:
	dh $@


override_dh_clean:
	dh_clean
	if [ -d build ]; then rm -rf build; fi 


override_dh_auto_build:
	
	mkdir -p build &&  cd build && wget --no-check-certificate ${URL1} ;
	if [ -f build/Cloud_EducaMadridLinux64-${VERSION}.AppImage ]; then  chmod +x build/Cloud_EducaMadridLinux64-${VERSION}.AppImage; fi

override_dh_strip:
#do not remove appimage
