[Desktop Entry]
Name=Configurar proxy approx
GenericName=Configurar proxy approx
Comment=Configurar proxy approx
Exec=max-mirror-utils-gui
Icon=max-mirror-utils.png
StartupNotify=false
Terminal=false
Type=Application
Categories=System;Settings;GTK;
