Source: max-meta
Section: max
Priority: optional
Maintainer: Pedro Peña Pérez <pedro.pena@edmanufacturer.es>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4), cdbs

Package: max-desktop
Architecture: all
Recommends: max-desktop-common, max-desktop-gnome | max-desktop-kde | max-desktop-xfce
Description: The Max desktop system
 This package depends on all of the packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-deps
Architecture: all
Depends: max-desktop, max-desktop-common-deps, max-desktop-gnome-deps | max-desktop-kde-deps | max-desktop-xfce-deps
Description: The Max desktop system
 This package depends on all of the packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-gnome
Architecture: all
Recommends: max-gnome-desktop-environment, ${max-desktop-gnome:Recommends}, max-desktop-common, ${max-desktop-gnome:Depends}
Provides: max-desktop
Description: The Max desktop system (GNOME desktop)
 This package depends on all GNOME packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.


Package: max-desktop-gnome-deps
Architecture: all
Depends: max-gnome-desktop-environment, max-desktop-gnome, max-desktop-common-deps, ${max-desktop-gnome-deps:Depends}
Recommends: ${max-desktop-gnome-deps:Recommends}
Provides: max-desktop
Description: The Max desktop system (GNOME desktop)
 This package depends on all GNOME packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-kde
Architecture: all
Recommends: ${max-desktop-kde:Recommends}, max-desktop-common, ${max-desktop-kde:Depends}
Provides: max-desktop
Description: The Max desktop system (KDE desktop)
 This package depends on all KDE packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-kde-deps
Architecture: all
Depends:  max-desktop-kde, max-desktop-common-deps, ${max-desktop-kde-deps:Depends}
Recommends: ${max-desktop-kde-deps:Recommends}
Provides: max-desktop
Description: The Max desktop system (KDE desktop)
 This package depends on all KDE packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.


Package: max-desktop-kde-extra
Architecture: all
Depends:  max-desktop-common, ${max-desktop-kde-extra:Depends}
Recommends: ${max-desktop-kde-extra:Recommends}
Description: The Max desktop system (KDE desktop extra apps)
 This package depends on all KDE extra packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.


Package: max-desktop-xfce
Architecture: all
Recommends: ${max-desktop-xfce:Recommends}, max-desktop-common, ${max-desktop-xfce:Depends}
Provides: max-desktop
Description: The Max desktop system (Xfce4 desktop)
 This package depends on all Xfce4 packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-xfce-deps
Architecture: all
Depends: max-desktop-xfce, max-desktop-common-deps, ${max-desktop-xfce-deps:Depends}
Recommends: ${max-desktop-xfce-deps:Recommends}
Provides: max-desktop
Description: The Max desktop system (Xfce4 desktop)
 This package depends on all Xfce4 packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-lxde
Architecture: all
Recommends: ${max-desktop-lxde:Recommends}, ${max-desktop-lxde:Depends}
Provides: max-desktop
Description: The Max desktop system (LXDE desktop)
 This package depends on all LXDE packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-lxde-deps
Architecture: all
Depends: max-desktop-lxde, ${max-desktop-lxde-deps:Depends}
Recommends: ${max-desktop-lxde-deps:Recommends}
Provides: max-desktop
Description: The Max desktop system (LXDE desktop)
 This package depends on all LXDE packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-server
Architecture: all
Recommends: ${max-server:Recommends}, max-desktop, ${max-server:Depends}
Description: The Max server system
 This package depends on all of the packages in the Max server system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.


Package: max-server-deps
Architecture: all
Depends: max-server, max-desktop, ${max-server-deps:Depends}
Recommends: ${max-server-deps:Recommends}
Description: The Max server system
 This package depends on all of the packages in the Max server system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-common
Architecture: all
Recommends: ${max-desktop-common:Depends}
Depends: openshot
Description: The Max desktop common packages to all desktops
 This package depends on all of the packages in the Max server system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-common-deps
Architecture: all
Depends: max-desktop-common, openshot, ${max-desktop-common-deps:Depends}
Description: The Max desktop common packages to all desktops
 This package depends on all of the packages in the Max server system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-all
Architecture: all
Recommends: max-desktop-gnome, max-desktop-kde-extra, max-desktop-xfce
Description: The Max desktop all metapackage
 This package depends on all desktop packages of MaX system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-desktop-all-deps
Architecture: all
Depends: max-desktop-all-deps, max-desktop-gnome-deps, max-desktop-kde-extra-deps, max-desktop-xfce-deps
Description: The Max desktop all metapackage
 This package depends on all desktop packages of MaX system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-alumno
Architecture: all
Recommends: max-tcos-alumno
Description: The Max desktop alumno metapackage
 This package depends on max-tcos-alumno
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-alumno-deps
Architecture: all
Depends: max-alumno, max-tcos-alumno
Description: The Max desktop alumno metapackage
 This package depends on max-tcos-alumno
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-profesor
Architecture: all
Recommends: max-tcos-profesor
Description: The Max desktop profesor metapackage
 This package depends on max-tcos-profesor
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-profesor-deps
Architecture: all
Depends: max-profesor, max-tcos-profesor
Description: The Max desktop profesor metapackage
 This package depends on max-tcos-profesor
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-nanomax
Architecture: all
Recommends: ${max-nanomax:Depends}
Description: The Max nanoMaX metapackage
 This package depends on all nanomax installed packages and live-system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-nanomax-deps
Architecture: all
Depends: max-nanomax, ${max-nanomax-deps:Depends}
Description: The Max nanoMaX metapackage
 This package depends on all nanomax installed packages and live-system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-servidor
Architecture: all
Recommends: max-server
Description: The Max server metapackage
 This package depends on max-server
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-servidor-deps
Architecture: all
Depends: max-servidor, max-server
Description: The Max server metapackage
 This package depends on max-server
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-drivers
Architecture: all
Recommends: ${max-drivers:Recommends}, ${max-drivers:Depends}
Description: The Max drivers metapackage
 This package depends on all drivers used in the Max system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-drivers-deps
Architecture: all
Depends: max-drivers, ${max-drivers-deps:Depends}
Recommends: ${max-drivers-deps:Recommends}
Description: The Max drivers metapackage
 This package depends on all drivers used in the Max system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.


Package: max-desktop-infantil-primaria
Architecture: all
Depends: ${max-desktop-infantil-primaria:Recommends}, ${max-desktop-infantil-primaria:Depends}
Recommends: ${max-desktop-infantil-primaria:Recommends}, ${max-desktop-infantil-primaria:Depends}
Description: Infantil and primaria metapackage
 This package depends on all apps, games and tools for infantil
 and primaria schools.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-infantil
Architecture: all
Depends: max-desktop-infantil-primaria, max-alumno
Description: Infantil and primaria metapackage and TCOS for puppils
 This package depends on all apps, games and tools for infantil
 and primaria schools.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.



Package: max-gnome-desktop-environment
Architecture: all
Depends: python, deskbar-applet, 
         glchess, glines, gnect, 
         gnibbles, gnobots2, 
         gnome-accessibility, 
         gnome-games, 
         gnotravex, 
         gnotski, gtali, 
         python-bugbuddy, 
         python-evince, 
         python-evolution, 
         python-gnome2-desktop, 
         python-gnomedesktop, 
         python-gnomeprint, 
         python-gtop, 
         python-mediaprofiles, 
         python-metacity, 
         python-opengl, 
         python-rsvg, 
         seahorse-plugins, 
         sound-juicer, 
         swfdec-gnome
Provides: gnome-desktop-environment
Conflicts: gnome-desktop-environment, 
           hamster-applet, 
           ufraw
Description: Replace gnome-desktop-environment package without some depends
 Replace gnome-desktop-environment package without some depends
