Source: max-meta
Section: metapackages
Priority: optional
Maintainer: Pedro Peña Pérez <pedro.pena@edmanufacturer.es>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 4)

Package: max-desktop
Architecture: any
Depends: ${max-desktop:Depends}
Recommends: ${max-desktop:Recommends}
Description: The Max desktop system
 This package depends on all of the packages in the Max desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: max-server
Architecture: any
Depends: ${max-server:Depends}
Recommends: ${max-server:Recommends}
Description: The Max server system
 This package depends on all of the packages in the Max server system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
