[KSplash Theme: Default]
Name = MaX 5.0 Splash Screen
Description = MaX 5.0 Splash Screen
Version = 1.1
Author = Mario Izquierdo Rodríguez (Thinetic Systems SLNE) <mario.izquierdo@thinetic.es>
Homepage = http://max.educa.madrid.org

# Theme behaviour settings.
Engine = KSplashX
