[KSplash Theme: Default]
Name = MaX Splash Screen
Description = MaX Splash Screen
Version = 1.1
Author = Mario Izquierdo Rodríguez (Thinetic Systems SLNE) <mario.izquierdo@thinetic.es>
Homepage = http://max.educa.madrid.org

# Theme behaviour settings.
Engine = KSplashX
