[Desktop Entry]
Encoding=UTF-8
Name=Java Hot Potatoes
Comment[en]=Educational application to generate web exercices
Comment[es]=Aplicación educativa para generar ejercicios para la web
Exec=javahotpot
Icon=javahotpot
Terminal=0
Type=Application
Categories=Educational
