[Desktop Entry]
Comment=Odb Archivo
Hidden=false
Icon=openofficeorg-20-oasis-database
MimeType=application/x-kdeuser1
Patterns=*.odb;*.ODB
Type=MimeType
X-KDE-AutoEmbed=false
