html, body
{
	margin:0;
	padding:0;
	
	background-color:#2e3436;
	
	font-family:sans-serif;
	color:#000000;
}

/*
Hyperlink-style text
*/
a
{
	color:#3771c8;
	font-style:italic;
}

#container
{
	position:absolute;
	
	width:700px;
	height:420px;
	
	overflow:hidden;
	
	background-image:url('background-xubuntu.png');
	background-repeat:no-repeat;
	background-position:top left;
	
	background-color:#e3f0f5;
	
	/*cursor:default;*/
}

#debug-controls
{
	display:none;
	position:absolute;
	top: 440px;
	width:700px;
	text-align:center;
}

#debug-controls input
{
	width:40px;
}

#debug-controls input#current-slide
{
	width:600px;
}

/*
Title block is positioned at the top of a slide.
*/
.title
{
	position:absolute;
	top:15px;
	left:50px;

	font-size:20px;
	font-weight:normal;
	font-family: serif;

	color: #3771c8;

	padding:0;
	margin:0;
}

/*
Typically an image. This is positioned at the top
right of a slide and is given a size of 64x64 pixels.
*/
.icon
{
	position:absolute;
	
	width:auto;
	height:auto;
	
	bottom:-420px;
	right:10px;
	
	z-index:11;
	border:0px;
}

/*
#content expects to be contained in here. #main
creates a nice, plain surface upon which it can
appear :)
*/
.main
{
	position:absolute;
	
	top:50px;
	left:0px;
	
	padding-right:60px;
	
	font-size:14px;
	
	z-index:12;
}

/*
Slide's body text goes here. It appears right below
the title, at the top of the white area with heavy
margins around it.
*/
.main .content
{
	padding-left:16px;
	padding-right:16px;

	width:490px;
}

.content ul
{
	margin-top:0px;
	padding-left:1.8em;
/*	list-style-image:url("bullet-point.png"); */
	
	height:230px;
	overflow:auto;
	
	list-style-image: none;
	list-style-type: none;
}

.content li
{
	padding:0.6em;
}

/*
Make it possible to adjust the position of the list bullet...
*/
.content li:before
{
	content: "";
	background: transparent url(bullet-point.png) 0 0 no-repeat;
	margin-left: -30px;
	margin-top: -1px;
	width: 30px;
	height: 30px;
	float: left;
}

.content li.nobullet:before
{
	content: "";
	background-image: none;
}

.content .special
{
/*	margin-top:1.4em;
	margin-bottom:1em;
	margin-left: 35px; */

	position: absolute;
	top: 240px;
	left: 50px;
	width: 440px;
	
	font-weight:bold;
}

.content img.inline
{
	height:14px;
	width:auto;
}

/*
This rule disables drag-and-drop for images.  See bug #448703.
*/
img
{
 	-webkit-user-drag: none;
}

